themes/base-theme-slug/dist/app.js
themes/base-theme-slug/dist/app.css
themes/base-theme-slug/dist/
wp-content/*
wp-content/themes/*
wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/languages/*
*.sql
*/base-theme-slug.zip
mariadb_data/
themes/base-theme-slug/mix-manifest.json
.gitignore
