**/dist
**/node_modules
themes/midia-ninja-theme/library/blocks/build/*
wp-content/*
wp-content/themes/*
wp-content/plugins/*
wp-content/upgrade/*
wp-content/uploads/*
wp-content/mu-plugins/*
wp-content/languages/*
*.sql
*.zip
mariadb_data/
mix-manifest.json
wp-root
themes/midia-ninja-theme/vendor/
