// frontend
#app {
	aside {
	    border-radius: 12px;
	    border: 2px solid rgba(204, 204, 204, 0.8);
	}

    .latest-vertical-posts-block {
        background-color: #fff;
        margin-bottom: 0;
        height: auto;

        .post {
            margin-bottom: 0;
        }

        h2 {
            color: var(--Gray-1, #333);
            font-family: var(--wp--preset--font-family--manrope);
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 1.2;
            margin-bottom: 0;
        }

        a {
            text-decoration: none !important;
        }

        .latest-vertical-posts-block__heading {
            margin-top: 20px;
            margin-bottom: 25px;

            h2 {
                text-transform: uppercase;
            }
        }

        .latest-vertical-posts-block__footer {
            padding-bottom: 15px;

            .latest-vertical-posts-block__dots {
                .slick-dots {
                    .slick-active {
                        background-color: #848484;
                    }

                    li {
                        background-color: #ccc;
                    }
                }
            }
        }

        .latest-vertical-posts-block__slides {
            height: auto;
        }

        .slick-list {
            .slick-track {
                .slide {
                    a {
                        text-decoration: none !important;

                        .post {
                            margin-bottom: 15px;

                            &-title {
                                color: var(--Gray-1, #333);
                                font-family: var(--wp--preset--font-family--manrope);
                                font-size: var(--wp--preset--font-size--default);
                                font-style: normal;
                                font-weight: 500;
                                line-height: 140%;
                                margin-bottom: 0;
                            }

                            &-content {
                                display: flex;
                                flex-direction: column;
                            }

                            &-meta {
                                margin-top: 3px;

                                &--date {
                                    color: var(--wp--preset--color--low-pure);
                                    font-family: var(--wp--preset--font-family--manrope);
                                    font-size: 10px;
                                    font-weight: 400;
                                    line-height: 2.1;
                                    letter-spacing: 1px;
                                    text-transform: uppercase;
                                }

                                &--terms {
                                    gap: 0;

                                    .tax-category {
                                        margin-top: 0;

                                        li {
                                            color: var(--cat-background-color) !important;
                                            font-family: var(--wp--preset--font-family--manrope);
                                            font-size: 10px;
                                            font-style: normal;
                                            font-weight: 700;
                                            line-height: 21px;
                                            letter-spacing: 1px;
                                            text-transform: uppercase;
                                            background-color: transparent !important;
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// editor
