@import "../../shared/scss/mixins";

.latest-editorial-posts-block {
    // .latest-editorial-posts-block__header
    &__header {
        align-items: center;
        border-radius: 4px;
        border: 1px solid #ccc;
        display: flex;
        gap: 15px;
        margin-bottom: 2rem;
        padding: 10px 30px;

        h2 {
            flex-shrink: 0;
            font-family: 'Manrope', serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            letter-spacing: 0.5px;
            line-height: 100%;
            margin-left: 1.3rem;
            margin: 0;
            text-transform: uppercase;
        }
    }

    // .latest-editorial-posts-block__filter
    &__filter {
        display: flex;
        gap: 8px;
        margin-left: 2.4rem !important;
        flex-wrap: wrap;

        .clear-filter {
            display: none;
        }

        &.active {
            span.term:not(.clear-filter) {
                &:not(.active) {
                    background-color: #CCCCCC !important;
                    color: #848484 !important;
                }
            }

            .term.clear-filter {
                background-color: transparent;
                color: #848484;
                display: inline-block;
            }
        }
    }

   // .latest-editorial-posts-block__content
    &__content {
        display: flex;
        gap: 15px;
        min-height: 50vh;

        @include break-medium {
            flex-direction: column;
        }
    }

    // .latest-editorial-posts-block__sidebar
    &__sidebar {
        width: 25%;
        .anuncio-ninja-mobile{
            display: inherit !important;
            margin-top: 0;
            img{
                max-width: 270px;
                width: 100%;
                height: auto;
            }
        }
    }

    // .latest-editorial-posts-block__posts
    &__posts {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;
        position: relative;

        a {
            color: inherit;
            text-decoration: none;
        }

        .post {
            // .post-thumbnail
            &-thumbnail {
                position: relative;

                &::before {
                    content: "";
                    padding-top: 56.25%;
                    float: left;
                }

                &::after {
                    clear: left;
                    content: " ";
                    display: table;
                }

                .post--terms {
                    bottom: 10px;
                    left: 15px;
                    position: absolute;
                    z-index: 2;
                }

                img {
                    border-radius: 8px;
                    height: 100%;
                    object-fit: cover;
                    position: absolute;
                    transition: all 0.3s ease-in-out;
                    width: 100%;
                }

                // Overwrite the style on _p-single.scss
                main.content & {
                    .container & {
                        .single & {
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }

            // .post-content
            &-content {

            }

            // .post-meta
            &-meta {
                &--date {
                    color: #828282;
                    font-size: 13px;
                    font-weight: 700;
                }
            }

            // .post-title
            &-title {
                font-size: 1rem;
                letter-spacing: 0;
                line-height: 140%;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 5px;

                // Overwrite the style on _p-single.scss
                main.content & {
                    .container & {
                        .single & {
                            font-size: 1rem;
                            letter-spacing: 0;
                            line-height: 140%;
                            font-weight: 700;
                        }
                    }
                }
            }
        }

        .loading {
            align-items: center;
            background-color: #e9e9e9;
            border-radius: 8px;
            display: flex;
            height: 100%;
            justify-content: center;
            position: absolute;
            text-indent: -9999px;
            width: 100%;

            &::after {
                content: '';
                animation: rotation 1s linear infinite;
                border-radius: 50%;
                border: 4px solid #666;
                border-bottom-color: #CCC;
                box-sizing: border-box;
                display: inline-block;
                height: 35px;
                position: absolute;
                width: 35px;

                @keyframes rotation {
                    0% {
                        transform: rotate(0deg);
                    }
                    100% {
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}
