@import "../../shared/scss/mixins";

.latest-editorial-posts-block {
    // .latest-editorial-posts-block__header
    &__header {
        display: flex;
        margin-bottom: 2rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px 30px;
        align-items: center;
        h2{
            margin: 0;
            font-family: 'Manrope', serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 800;
            line-height: 100%;
            text-transform: uppercase;
            letter-spacing: 0.5px;
            margin-left: 1.3rem;
            width: 182px;
        }
    }

    // .latest-editorial-posts-block__filter
    &__filter {
        display: flex;
        gap: 8px;
        margin-left: 4.5rem;
        flex-wrap: wrap;

        span.term {
            border-radius: 4px;
            cursor: pointer;
            font-size: 13px;
            font-weight: 800;
            padding: 1px 9px 0;
            text-transform: uppercase;
            color: #111;
            font-family: 'Archivo';

            &-cultura {
                background-color: #DB565E;
                
            }
        
            &-meio-ambiente {
                background-color: #99CE56;
                
            }
        
            &-alimentacao {
                background-color: #F7F100 ;
                
            }
        
            &-lgbtqia {
                background-color: #E14FCE;
                
            }
        
            &-indigenas {
                background-color: #F27900;
                
            }
        
            &-entrevistas {
                background-color: #111111;
                color: #fff;
            }
        
            &-politica {
                background-color: #76C7E6;
                
            }
     
            &-educacao {
                background-color: #C9ADFF;
                
            }
        
            &-negritude {
                background-color: #F1BC4E;
                
            }
        
            &-internacional {
                background-color: #F63333;
                color: #fff;
            }
        
            &-esportes {
                background-color: #7AE695;
                
            }
        
            &-tecnologia {
                background-color: #F0A8E7;
                
            }
        
            &-feminismos {
                background-color: #8C52FF;
                color: #fff;
            }
        }
    }

   // .latest-editorial-posts-block__content
    &__content {
        display: flex;
        gap: 15px;
        min-height: 50vh;

        @include break-medium {
            flex-direction: column;
        }
    }

    // .latest-editorial-posts-block__sidebar
    &__sidebar {
        width: 25%;
        .anuncio-ninja-mobile{
            display: inherit !important;
            margin-top: 0;
            img{
                max-width: 270px;
                width: 100%;
                height: auto;
            }
        }
    }

    // .latest-editorial-posts-block__posts
    &__posts {
        flex-grow: 1;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 20px;

        a {
            color: inherit;
            text-decoration: none;
        }

        .post {
            // .post-thumbnail
            &-thumbnail {
                position: relative;

                &::before {
                    content: "";
                    padding-top: 56.25%;
                    float: left;
                }

                &::after {
                    clear: left;
                    content: " ";
                    display: table;
                }
                
                .post--terms {
                    bottom: 10px;
                    left: 15px;
                    position: absolute;
                    z-index: 2;

                    .list-terms {
                        margin-bottom: 0;

                        li {
                            background-color: yellow;
                            border-radius: 4px;
                            font-family: 'Archivo Expanded', sans-serif;
                            font-size: 13px;
                            font-weight: 800;
                            margin-bottom: 5px;
                            margin-right: 5px;
                            padding: 3px 6px 2px 6px;
                            text-transform: uppercase;

                            &::after {
                                display: none;
                            }
                        }
                    }
                }

                img {
                    border-radius: 8px;
                    height: 100%;
                    left: 50%;
                    object-fit: cover;
                    position: absolute;
                    top:  50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.3s ease-in-out;
                    width: 100%;
                }

                // Overwrite the style on _p-single.scss
                main.content & {
                    .container & {
                        .single & {
                            img {
                                height: 100%;
                            }
                        }
                    }
                }
            }

            // .post-content
            &-content {
                
            }

            // .post-meta
            &-meta {
                &--date {
                    color: #828282;
                    font-size: 13px;
                    font-weight: 700;
                }
            }

            // .post-title
            &-title {
                font-size: 1rem;
                letter-spacing: 0;
                line-height: 140%;
                font-weight: 700;
                margin-bottom: 5px;
                margin-top: 5px;

                // Overwrite the style on _p-single.scss
                main.content & {
                    .container & {
                        .single & {
                            font-size: 1rem;
                            letter-spacing: 0;
                            line-height: 140%;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}