@import '../1-settings/s-variables';
@import '../2-atoms/a-mixins';

/** Bloco - Downloads **/

.wp-block-file {
    border: 1px solid #999999;
    padding: 15px 16px;
    height: 80px;

    &::before {
        width: 30.57px;
        height: 38.91px;
        margin-top: 5px;
        background-image: url(/wp-content/themes/aedas-theme/assets/images/pdf-icon.png);
        background-position: left center;
        background-repeat: no-repeat;
        content: " ";
        position: absolute;
    }

    a:first-child {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        margin-left: 45px;
        font-size: 18px;
        text-transform: uppercase;
        max-width: 33em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: $c_gray_darker;

        &::after {
            content: ".pdf";
            text-transform: none;
        }

        &::before {
            position: absolute;
            font-size: 16px;
            margin-top: 25px;
            color: #999999;
            text-transform: none;
            content: "Fazer download de PDF";
        }
    }

    a.wp-block-file__button {
        float: right;
        background: none;
        content: "download";
        color: $c_gray_darker;
        margin: 8px 0;

        &:hover {
            color: $c_blue_primary;
        }
    }
}

#single {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;

    @media (max-width:$tablet-width){ 
        display: block;
    } 

    #content {
        max-width: 800px;
        width: 100%;
        margin-right: 65px;

        .post {
            border-bottom: 1px solid $c_blue_primary;
            margin-bottom: 39px;

            &-header {
                margin: 0 0 40px;
                
                .info {
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                    flex-wrap: wrap;

                    span.category{
                        float: left;
                        
                        a {
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 17px;
                            color: $c_gray_darker;
                            margin: 0 30px 0 0;
                        }
                    }
                }

                .title {
                    h4 {
                        color: $c_blue_primary;
                        font-size: 32px;
                        font-weight: 400;
                        line-height: 1.2;
                        margin: 20px 0;
                    }
                }

                .data {
                    color: $c_gray_darker;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 17px;
                }
            }

            &-thumbnail{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            
            &-content {
                img {
                    width: 100%;
                    height: 100%;
                }
            }

            &-footer {
                &-tags {
                    margin: 30px 0;

                    ul {
                        list-style: none;
                        display: flex;
                        padding: 0;
                        flex-wrap: wrap;
                        margin-left: -5px;
                        margin-right: -5px;

                        li {
                            box-sizing: border-box;
                            list-style-type: none;
                            margin: 5px;

                            a {
                                border: 1px solid #BDBDBD;
                                color: $c_gray_darker;
                                display: block;
                                font-size: 14px;
                                font-weight: 700;
                                padding: 6px 10px;
                                text-decoration: none;

                                &:hover {
                                    background-color: #DDD;
                                }
                            }

                            &::after {
                                display: none;
                            }
                        }                        
                    }
                }

                &-share {
                    display: flex;
                    min-height: 72px;
                    background: $c_blue_secondary;
                    align-items: center;
                    padding: 5px 0;

                    h6 {
                        margin: 0 95px 0 33px;
                        font-family: 'Lato', sans-serif;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 20px;
                        line-height: 24px;
                        color: $c_blue_primary;
                    }

                    .social-media {
                        i {
                            font-size: 24px;
                            color: $c_blue_primary;
                            margin: 0 26px;
                        }

                        @media (max-width: $tablet-width) {
                            .hide-for-large { 
                                display: unset;
                            }
                            .show-for-large { 
                                display: none;
                            }
                        }

                        @media (min-width:$tablet-width) {
                            .hide-for-large { 
                                display: none;
                            }
                            .show-for-large { 
                                display: unset;
                            }
                        }

                        #alert {
                            position: absolute;
                            margin-top: 55px;
                            margin-left: -140px;
                            text-align: center;
                            max-width: 210px;
                            background: $c_blue_secondary;
                            color: $c_blue_primary;
                            border-radius: 5px;
                            padding: 3px 10px;
                            opacity: 1;
                            transition: opacity 5s ease-in-out;
                        }
                        #alert.hide{
                            opacity: 0;
                            pointer-events: none;
                        }
                        
                    }

                    @media (max-width: 600px) {
                        flex-wrap: wrap;

                        h6 {
                            width: 100%;
                            margin: 0 0 10px 0;
                            text-align: center;
                        }

                        .social-media {
                            width: 100%;
                            text-align: center;
                            i { 
                                margin: 0 20px;                            
                            }
                        }

                    }
                }

                &-views {
                    margin: 40px 0 24px;

                    p {
                        font-family: var(--f-body);
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 17px;
                        color: #000000;
                    }
                }
            }

        }

        .related {
            > h2 {
                color: $c_blue_primary;
                font-size: 24px;
                font-weight: 700;
                line-height: 1.4;
            }

            &-post{
                display: flex;
                margin: 0 0 30px;

                &-image {
                    max-width: 206px;
                    max-height: 123px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                }

                &-content {
                    margin-left: 30px;

                    @media (max-width: 600px) {
                        border-bottom: 1px solid #CCC;
                        margin-bottom: 2em;
                        padding-bottom: 1.75em;
                        width: 100%;
                    }

                    .category {
                        p {
                            font-family: var(--f-body);
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 1.4;
                            color: $c_gray_darker;
                            margin: 0 0 10px 0;
                        }
                    }

                    .title {
                        h6 {
                            font-family: var(--f-body);
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 1.4;
                            color: $c_blue_primary;
                            margin: 0;
                        }
                    }
                }

                @media (max-width: 600px) {
                    flex-wrap: wrap;

                    &-image {
                        max-width: 100%;
                        width: 100%;
                    }

                    &-content {
                        margin: 10px 0 0 0;
                    }
                }
            }
        }
    }

    #sidebar {
        max-width: 300px;
        width: 100%;

        @media (max-width: $desktop-width) {
            max-width: 250px;
        }

        @media (max-width: $tablet-width) { 
            max-width: none;
        }

        .search{
            input {
                width: 100%;
                padding: 15px 18px 16px;
                background: #FFFFFF;
                /* Principal */
                border: 2px solid #035299;
                box-sizing: border-box;
            }
            svg.search-icon {
                position: absolute;
                margin-top: 20px;
                margin-left: -33px;
            }
        }
    }
}

.related {
    a {
        &:hover {
            text-decoration: none;
        }
    }
}