@import "./../3-components/c-social-menu";

footer.main-footer {
	background-color: #111;

	.footer-widget-area {
		width: 100vw;
		position: relative;
		left: 50%;
		transform: translate(-50%);
		background-color: #111;

		@media (min-width: 768px) {
			background-color: #262626;
		}

		.newsletter {
			.wp-block-cover__inner-container {
				margin-top: 20px;

				> div {
					gap: 0;
				}

				@media (min-width: 768px) {
					> div {
						gap: 90px;
					}
				}
			}
		}

		h2 {
			color: #fff;
			text-align: center;
			font-feature-settings: "calt" off;
			font-family: "MidiaNinja", sans-serif;
			font-size: 32px;
			font-style: normal;
			font-weight: 400;
			line-height: 100%; /* 32px */
			text-transform: uppercase;
			margin: 36px 0;

			@media (min-width: 768px) {
				text-align: left;
			}

			@media (min-width: 874px) {
				width: 85%;
			}
		}

		p {
			color: #fff;
			/* <small> Manrope */
			font-family: Manrope;
			font-size: 13px;
			font-style: normal;
			font-weight: 500;
			line-height: 145%; /* 18.85px */
			margin-bottom: 0;
		}

		form {
			p {
				width: 100%;
				margin: 16px 0;

				@media (min-width: 768px) {
					margin: 30px 0;
				}
			}

			input {
				width: 100%;
				border-radius: 8px;
				border: 2px solid #d9d9d9;
				background: #111;
				padding: 12px 18px;
				color: #f5f5f5;
				font-size: 16px;
				line-height: 140%;

				@media (min-width: 768px) {
					background: #fff;
					border: 2px solid #fff;
					color: #595d62;
				}

				&[type="submit"] {
					padding: 8px 24px;
					background: var(--OURO, #fbf36e);
					color: #111;
					font-weight: 700;
					border: 2px solid #fbf36e;
					text-transform: uppercase;

					@media (min-width: 512px) {
						max-width: 216px;
					}

					@media (min-width: 768px) {
						padding: 16px 24px;
					}
				}
			}
		}
	}

	.footer-logo {
		display: flex;
		justify-content: space-between;
		margin: 24px 0;

		@media (min-width: 768px) {
			flex-direction: column;
			margin: 0;
		}

		img.logo-olhos {
			display: none;

			@media (min-width: 768px) {
				display: block;
				width: fit-content;
				margin: 64px auto 48px;
			}
		}

		img.logo {
			@media (min-width: 768px) {
				display: none;
			}
		}

		.social-menu {
			display: block;
			color: #fff;
			align-self: center;
			margin: 0;

			> div {
				gap: 16px;
			}

			.social-icon {
				width: 24px;
				height: 24px;
				padding: 0;
				margin: 0;

				@media (min-width: 768px) {
					width: 32px;
					height: 32px;
				}

				&.icon-facebook {
					a {
						background-image: url($p_theme_assets + "/images/social-networks/facebook-white.svg");
						background-repeat: no-repeat;
						background-position: center;

						svg {
							display: none;
						}
					}
				}
			}
		}
	}

	.menu-footer-container {
		margin: 64px 0;

		@media (min-width: 768px) {
			margin: 56px 0 72px;
		}

		ul {
			display: flex;
			gap: 24px;
			flex-direction: column;
			padding: 0;

			@media (min-width: 768px) {
				flex-direction: row;
				justify-content: center;
				gap: 0;
			}

			li {
				list-style: none;
				display: flex;

				@media (min-width: 768px) {
					&:nth-child(n + 2)::before {
						background-color: #fff;
						content: "";
						height: 20px;
						margin: 0 16px;
						overflow: hidden;
						width: 1px;
						display: block;
					}
				}

				a {
					color: #fff;
					font-family: Manrope;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 100%; /* 16px */
					letter-spacing: -0.48px;
					text-transform: uppercase;
					text-decoration: none;
					width: max-content;
				}

				.sub-menu {
					display: none;
				}
			}
		}
	}

	.footer-credit {
		width: 100vw;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		background-color: #000;

		.content {
			max-width: 1170px;
			margin: auto;
			display: flex;
			justify-content: flex-end;
			padding: 5px 24px;
		}
	}
}
