@import "./../3-components/c-social-menu";

footer.main-footer {
	background-color: #111;

	.footer-logo {
		display: flex;
		justify-content: space-between;
		margin: 24px 0;

		@media (min-width: 768px) {
			flex-direction: column;
		}

		img.logo-olhos {
			display: none;

			@media (min-width: 768px) {
				display: block;
				width: fit-content;
				margin: 64px auto;
			}
		}

		img.logo {
			@media (min-width: 768px) {
				display: none;
			}
		}

		.social-menu {
			display: block;
			color: #fff;
			align-self: center;

			> div {
				gap: 16px;
			}

			.social-icon {
				width: 24px;
				height: 24px;
				padding: 0;
				margin: 0;

				@media (min-width: 768px) {
					width: 32px;
					height: 32px;
				}

				&.icon-facebook {
					a {
						background-image: url($p_theme_assets + "/images/social-networks/facebook-white.svg");
						background-repeat: no-repeat;
						background-position: center;

						svg {
							display: none;
						}
					}
				}
			}
		}
	}

	.menu-footer-container {
		margin: 64px 0 24px;

		ul {
			display: flex;
			gap: 24px;
			flex-direction: column;
			padding: 0;

			@media (min-width: 768px) {
				flex-direction: row;
				justify-content: center;
				gap: 0;
			}

			li {
				list-style: none;
				display: flex;

				@media (min-width: 768px) {
					&:nth-child(n + 2)::before {
						background-color: #fff;
						content: "";
						height: 20px;
						margin: 0 16px;
						overflow: hidden;
						width: 1px;
						display: block;
					}
				}

				a {
					color: #fff;
					font-family: Manrope;
					font-size: 16px;
					font-style: normal;
					font-weight: 500;
					line-height: 100%; /* 16px */
					letter-spacing: -0.48px;
					text-transform: uppercase;
					text-decoration: none;
					width: max-content;
				}

				.sub-menu {
					display: none;
				}
			}
		}
	}

	.footer-credit {
		width: 100vw;
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		background-color: #000;

		.content {
			max-width: 1170px;
			margin: auto;
			display: flex;
			justify-content: end;
			padding: 5px 24px;
		}
	}
}
