@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";

#wpadminbar ~ header {
	padding-top: 20px;
}

header {
	&.main-header {
		position: sticky;
		left: 0%;
		top: 0;
		z-index: 999;
		width: 100%;
		background-color: #f5f5f5;
		min-height: 100px;
		transition: all 0.3s ease;
		height: fit-content;
		padding-top: 20px;

		@media (min-width: 768px) {
			border-bottom: 1px solid #848484;
		}

		&.scrolado {
			min-height: 88px;
			& * {
				//transition: none !important;
			}

			.menus {
				height: 0;
			}

			.header-content > div {
				.logo img {
					width: 65px;
				}

				.hamburguer {
					top: -14px;
				}
			}
		}

		.container {
			position: relative;
			top: 0 !important;
			max-width: 100%;

			.logged-in & {
				top: 32px;

				&.scrolled {
					top: 32px;
				}

				@include mobile {
					top: 0;
				}
			}

			&.active {
				transition: all 0.3s;
				min-height: 100vh;
			}

			.hamburguer {
				position: absolute;
				right: 0;
				width: 100%;
				z-index: 1;
				transition: all 0.3s ease;

				@media (min-width: $tablet-width) {
					width: 360px;
					right: 54px;
					top: -4px;
				}

				.nav-container {
					display: flex;
					position: relative;
					height: 60px;

					li {
						list-style: none;
						border-bottom: 1px solid #cccccc;
						padding-bottom: 16px;

						&.active {
							border: none;
							margin: 0;

							.sub-menu {
								padding-top: 20px;
							}
						}
					}

					.sub-menu li {
						border-bottom: 1px solid #848484;
					}

					a {
						color: #fff;
						/* <h4> Manrope Extrabold 24 */
						font-family: 'Manrope', sans-serif;
						font-size: 24px;
						font-style: normal;
						font-weight: 800;
						line-height: 120%; /* 28.8px */
						letter-spacing: -0.48px;
						text-decoration: none;
						display: block;
						position: relative;
						z-index: 1;
					}

					.checkbox {
						position: absolute;
						display: block;
						height: 22px;
						width: 25px;
						top: 24px;
						z-index: 5;
						opacity: 0;
						cursor: pointer;

						@media (min-width: 768px) {
							right: 17%;
						}
					}

					.hamburger-lines {
						background-image: url($p_theme_assets + "/images/hamburguer-menu.svg");
						display: block;
						height: 20px;
						width: 20px;
						position: absolute;
						top: 24px;

						@media (min-width: 768px) {
							right: 18%;
						}
					}
				}

				button.search-menu {
					background-image: url($p_theme_assets + "/images/search-icon.svg");
					background-repeat: no-repeat;
					background-position: center;
					width: 24px;
					height: 24px;
					background-color: transparent;
					border: none;
					position: absolute;
					top: 24px;
					right: 13px;
					z-index: 1;

					@media (min-width: 768px) {
						right: 8%;
					}

					@media (min-width: 1200px) {
						right: 8%;
					}
				}

				.menu-items::-webkit-scrollbar {
					/* Hide scrollbar for Chrome, Safari and Opera */
					display: none;
				}
				.menu-items {
					padding: 110px 24px 0;
					background-color: rgba(51, 51, 51, 0.7);
					backdrop-filter: blur(10.699999809265137px);
					height: 100vh;
					width: 100vw;
					display: flex;
					flex-direction: column;
					margin-left: -30px;
					margin-top: -30px;
					opacity: 0;
					position: absolute;
					transition: all 0.3s ease;
					overflow: auto;
					border-radius: 5px;
					visibility: hidden;
					/* Hide scrollbar for IE, Edge and Firefox */
					-ms-overflow-style: none; /* IE and Edge */
					scrollbar-width: none; /* Firefox */

					@media (min-width: $tablet-width) {
						width: 100%;
						height: auto;
						right: -54px;
					}

					ul {
						flex-direction: column;
						padding: 0;
						margin-top: 0;

						li {
							font-size: 1.5rem;
							font-weight: 500;
							margin: 0 0 1.2rem;
							position: relative;

							i.fas {
								position: absolute;
								top: 0;
								right: 0;
							}

							&.menu-item-has-children i::after {
								content: url($p_theme_assets + "/images/menu-plus-white.svg");
								float: right;
							}

							&.menu-item-has-children.active {
								.sub-menu {
									display: grid;
									position: relative;
								}

								i::after {
									content: url($p_theme_assets + "/images/menu-minus-white.svg");
									float: right;
								}
							}

							.sub-menu {
								border: none;
								grid-template-columns: 1fr 1fr;

								li {
									display: grid;
									place-content: center;
									padding: 0;
									margin: 0;
									height: 60px;

									a {
										font-size: 14px;
										font-weight: 700;
										text-align: center;
									}

									&:nth-child(odd) {
										border-right: 1px solid #848484;
									}

									&:nth-child(-n + 2) {
										border-top: 1px solid #ccc;
									}
								}
							}
						}
					}

					.search-component {
						@media (min-width: 768px) {
							right: 3rem;
						}

						@media (min-width: 1200px) {
							right: 1rem;
						}

						form div {
							input[type="submit"] {
								width: 32px;
								height: 32px;
								background-position: 6px 9px;
								background-size: auto;
								border-radius: 0;
							}

							input[type="text"] {
								border-radius: 8px;
								width: 10%;
								color: #fff;
								&.open-input {
									border: 2px solid #fff;
								}
							}
						}
					}

					.social-menu {
						color: #fff;
						flex-wrap: wrap;
						justify-content: center;
						margin: 0 0 30px;

						p {
							display: block;
						}

						> div {
							display: flex;
						}

						.social-icon {
							a {
								display: grid;
								align-content: center;
							}

							&.icon-facebook a {
								background-image: url($p_theme_assets + "/images/social-networks/facebook-white.svg");
								background-position: center;
								background-repeat: no-repeat;
							}
						}
					}
				}

				.nav-container {
					input.checked {
						left: 25px;

						@media (min-width: 768px) {
							left: 5rem;
						}
					}

					input.checked ~ .search-menu {
						display: none;
					}

					input.checked ~ .menu-items {
						opacity: 1;
						height: calc(100vh + 30px);
						right: 0;
						visibility: visible;

						@media (min-width: 768px) {
							right: -54px;
						}

						.social-menu {
							display: flex;
						}
					}

					input.checked ~ .hamburger-lines {
						left: 25px;
						background-image: url($p_theme_assets + "/images/hamburguer-close.svg");
						background-position: center;
						z-index: 1;

						@media (min-width: 768px) {
							left: 5rem;
						}
					}

					input.checked ~ .menu-items .search-component {
						position: initial;
						margin-bottom: 24px;

						form div {
							input[type="submit"] {
								background-image: url("/wp-content/themes/midia-ninja-theme/assets/images/search-icon-white.svg");
								background-position: -4px 6px;
							}

							input[type="text"] {
								border-radius: 8px;
								border: 2px solid #fff;
								width: 100%;
								background-color: transparent;
								padding: 10px 8px;
							}

							input::placeholder {
								color: var(--SECONDARY, #ccc);
								font-family: 'Manrope', sans-serif;
								font-size: 14px;
								font-style: normal;
								font-weight: 500;
								line-height: 150%; /* 21px */
								letter-spacing: -0.42px;
							}
						}
					}
				}
			}
		}
	}

	.header-content {
		> div {
			display: grid;
			max-width: 1170px;
			margin: auto;

			.logo {
				grid-area: 1/1;
				justify-self: center;

				img {
					height: auto;
					width: 104px;
					transition: all 0.4s ease;
				}
			}
		}

		button.toggle-menu {
			appearance: none;
			border: 0px;
			outline: none;
			background: none;
			position: relative;
			width: 32px;
			height: 32px;
			display: none;

			&:before,
			&:after {
				content: "";
				display: block;
				width: 21px;
				height: 2px;
				background-color: var(--c-gray--darker);
				position: absolute;
				top: 13px;
				transition: all 0.3s;
			}

			&:after {
				top: 19.3px;
			}

			&.active {
				justify-self: flex-end;
				&:before,
				&:after {
					background-color: var(--c-gray--darker);
				}
				&:before {
					top: 16px;
					transform: rotate(-45deg);
					transition: all 0.2s;
				}

				&:after {
					top: 16px;
					transform: rotate(45deg);
					transition: all 0.2s;
				}
			}
		}

		.menus {
			grid-area: 2 / 1 / 2 / 4;
			display: flex;
			margin-top: 6px;
			width: 100%;
			height: auto;
			justify-self: center;
			overflow: auto;
			margin-top: 0;
			transition: all 0.3s ease-in-out;
			overflow: hidden;

			a:hover {
				color: #111;
				text-decoration: none;
			}

			// i.fa-angle-down,
			// i.fa-angle-up {
			// 	font-size: 15px;
			// 	margin-left: 10px;

			// 	&:not(.up) {
			// 		&::before {
			// 			content: url($p_theme_assets + "/images/wpml-arrow.png") !important;
			// 			transition: opacity 0.2s ease;

			// 			@include tablet {
			// 				opacity: 1;
			// 			}
			// 		}
			// 	}

			// 	&.up {
			// 		&::before {
			// 			content: url($p_theme_assets + "/images/wpml-arrow.png") !important;
			// 			opacity: 1;
			// 			transition: opacity 0.2s ease;
			// 			transform: rotate(180deg);
			// 		}
			// 	}
			// }

			.primary-menu {
				margin: auto;

				.fa,
				.fas {
					color: var(--c-gray--darker) !important;
					margin-right: 0;
					width: auto;
					display: none;
				}

				ul.menu {
					padding-left: 0;
					margin: 8px 0;
					align-items: baseline;

					> li {
						position: relative;
						text-transform: uppercase;
						font-size: 1.8rem;
						font-weight: bold;

						@media (min-width: 1025px) and (max-width: 1199px) {
							font-size: 1.6rem;
						}

						&:not(.menu-item-has-children) {
							@media (max-width: $desktop-width) {
								margin-bottom: 10px;
							}
						}

						&.menu-item-has-children {
							@media (min-width: 1025px) and (max-width: 1199px) {
								padding-right: 0;
							}

							&:after {
								@media (max-width: $desktop-width) {
									display: none;
								}
							}
							.sub-menu {
								background-color: var(--header-background-color);
								border-left: 0px;
								padding: 10px 0px 10px 0px;
								box-shadow: 0px 3px 5px 0px rgba(#000000, 0.3);
								z-index: 5;

								@media (max-width: $desktop-width) {
									margin-top: 15px;
									padding-top: 0;
								}

								@media (max-width: $desktop-width) {
									box-shadow: none;
								}

								> li {
									background-color: var(--header-background-color);
									padding: 5px 15px 5px 15px;
									margin-right: 0;
									font-size: 80%;
									width: fit-content;

									@media (max-width: $desktop-width) {
										background-color: transparent;
										//border-left: 2px solid #035299;
									}

									a {
										@include desktop {
											display: block;
											width: 100%;
										}
									}
								}
							}
						}
					}

					li:nth-child(n + 4) {
						display: none;

						@media (min-width: $tablet-width) {
							display: block;
						}
					}

					li.wpml-ls-item {
						a {
							line-height: 140%;
						}

						&.active {
							background-color: #fff;
							border-radius: 24px;
							min-width: 90px;

							@media (min-width: 992px) {
								background-color: #262626;
								border-radius: 24px;
							}

							> a {
								background-color: #262626;
								color: #f5f5f5;
								border-radius: 24px 0 0 24px;
								padding: 0 0 0 10px;
							}

							> i.fas {
								background-color: #262626;
								border-radius: 0 24px 24px 0;
								padding: 0 10px;
								margin: 0;
							}
						}

						display: grid;

						@media (min-width: 992px) {
							display: flex;
						}

						.sub-menu.active {
							margin-top: 0;
							background-color: transparent;

							@media (min-width: 992px) {
								padding-top: 30px;
								background-color: white;
								z-index: -1;
								border-radius: 24px;
								min-width: 90px;
							}

							> li {
								padding: 5px 0 5px 15px;
								background-color: transparent;
								width: auto;
							}
						}

						i.fas {
							display: block;
							font-size: 15px;
							margin-left: 5px;
							grid-area: 1/2;

							&::before {
								content: url($p_theme_assets + "/images/wpml-arrow-down.svg");
								display: block;
								transition: opacity 0.2s ease;
							}
						}

						&.active {
							i.fas {
								&::before {
									content: url($p_theme_assets + "/images/wpml-arrow-up.svg");
									transform: rotate(180deg);
									padding-bottom: 4px;
								}
							}
						}
					}

					li.mais {
						display: block;

						@media (min-width: $tablet-width) {
							display: none;
						}
					}
				}

				@include mobile {
					margin: 0;
				}
			}
		}

		&.active {
			background-color: var(--header-background-color);
			display: grid;
			grid-template-columns: 164px 32px;
			grid-template-rows: 78px auto;
			grid-template-areas:
				"a b"
				"c c";
			.menus {
				display: flex;
				flex-direction: column;
				grid-area: c;

				.primary-menu {
					ul {
						flex-direction: column;
						margin-left: 0;
						padding-left: 0;

						li {
							font-size: 24px;
							line-height: 2;

							@media (max-width: $desktop-width) {
								font-size: 16px;
								line-height: 1.5;
							}
						}
					}

					ul.sub-menu {
						padding-left: 20px;
					}
				}
			}
		}
	}

	@import "./../3-components/c-wpml-language-menu";
	@import "./../3-components/c-social-menu";
	@import "./../3-components/c-search";
	@extend .base-menu-component;
}
