footer.main-footer {
    background-color: #F5F5F5;
    padding: 40px 0;
    margin-top: 60px;    
    
    .footer-title{
        text-transform: uppercase;
        color: #000000;
        font-size: 14px;
        font-weight: 600;
        line-height: 18px;
        text-align: center;
        border-bottom: 2px solid black;
    }

    .footer-menu{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .fas.fa-angle-down{
            display: none;
        }

        &,ul{
            margin: 0;
            list-style-type: none;

            @include mobile{
                margin-bottom: 20px;
            }
        }

        a{ color: black; font-size: 14px;  }

        > li{
            flex: 1;

            @include mobile{
                max-width: 100%;
                flex: 0 0 100%;
            }
        }

        .menu-item-has-children > a{
            @extend .footer-title;
            display: block;
            text-align: left;
            margin-right: 20px;
        }
    }

    .social-networks--wrapper{
        max-width: 260px;
        margin: 15px auto 0 auto;
    }

    @include mobile{
        [alt="fsm"]{
            margin-bottom: 15px;
        }

        [alt="Logotipo"]{
            max-width: 250px;
            display: block;
            margin: 0 auto 15px auto;
        }
    }
    
}
