.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 145px;

    h1 {
        display: flex;
        flex-direction: column;
        font-weight: bold;
        font-size: 300px;
        margin: 100px 0 20px 0;
        
        .error {
            position: absolute;
            margin-top: 43px;
            font-size: 20px;
            line-height: 20px;
        }

        .num {
            line-height: 300px;
        }
    }

    p, a {
        z-index: 1;
    }
}