@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";

.page {
    background-color: #FFFFFF;

    h1, h2, h3, h4, h5, h6 {
        font-weight: 400;
    }

    h1.ultp-block-title a {
        font-family: $f_title;
        font-size: 64px !important;
        font-style: normal;
        font-weight: 700;
        line-height: 77px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    h2.ultp-block-title a {
        font-family: $f_title;
        font-size: 48px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 58px;
        letter-spacing: 0em;
        text-align: left;
    }

    h3.ultp-block-title a {
        font-family: $f_title;
        font-size: 40px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
    }

    h4.ultp-block-title a {
        font-family: $f_title;
        font-size: 32px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 38px;
        letter-spacing: 0em;
        text-align: left;
    }

    h5.ultp-block-title a {
        font-family: $f_title;
        font-size: 24px !important;
        font-style: normal;
        font-weight: 400;
        line-height: 29px;
        letter-spacing: 0em;
        text-align: left;
    }

    h6.ultp-block-title a {
        font-family: $f_title;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px !important;
        letter-spacing: 0em;
        text-align: left;
    }

    p {
        color: $c_gray_darker;
    }

    h1:first-of-type {
        align-self: center;
        color: var(--c-primary);
        display: flex;
        font-size: 6.4rem;
        font-weight: 700;
        justify-content: center;
        text-transform: uppercase;
    }

    &-relatos {
        h4 span:first-child {
            max-width: 65vw;
        }

        .cwp_block_slider {
            .wp-block-columns {
                align-items: flex-start;
            }

            button {
                background-color: transparent !important;

                span {
                    font-size: 5.2rem !important;
                    height: 5.2rem !important;
                    width: 5.2rem !important;

                    &::before {
                        color: var(--c-primary);
                    }
                }
            }
        }

        .card-testemonial {
            border-radius: 4.4rem;
            border: 1px solid var(--c-primary);
            box-shadow: 6px 6px 4px rgba($color: #000000, $alpha: 0.15);
            padding: 5rem 2rem 4rem 2rem;
            width: 32.5rem;

            @media (max-width: $tablet-width) {
                margin-bottom: 30px;
            }

            figure {
                height: 9rem;
                overflow: hidden;
                position: relative;
                width: 9rem;
            }
        }

        .cwp-block-prev,
        .cwp-block-next {
            @media (max-width: $tablet-width) {
                display: none;
            }
        }

        .ultp-block-item {
            border: none !important;
            padding-bottom: 8rem !important;
            .ultp-block-content {
                text-align: left !important;
                h6,
                h6 a {
                    color: var(--c-primary);
                    font-size: var(--s-h6);
                }
            }
            .ultp-block-image {
                > a {
                    height: auto !important;
                }
            }
        }

        .life-history {
            .wp-block-columns {
                gap: 30px;
                height: 255px;
                margin-bottom: 30px;

                .wp-block-column {
                    margin: 0;

                    .box-historias {
                        object-fit: cover;
                        width: 100% !important;

                        .ultp-block-wrapper {
                            width: 100% !important;

                            .ultp-block-image {
                                max-height: 148px !important;
                                width: 100% !important;

                                img {
                                    height: 100%;
                                }
                            }

                            .ultp-block-content {
                                h6 {
                                    color: $c_blue_primary;
                                    font-family: "Lato", sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: bold;
                                    line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    &-comunicacao {

        .title-with-graphics {
            text-transform: uppercase;
            font-size: 40px;
            line-height: 48px;
        }

        .title-page {
            margin-bottom: 64px;
        }

        .c_sobre {
            padding: 0;
            min-height: unset;
            margin-bottom: 34px;

            .wp-block-columns {
                margin: 0;
                gap: 30px;

                .wp-block-column {
                    margin: 0;

                    figure {
                        margin: 0;

                        img {
                            width: 100%;
                            height: auto;
                        }
                    }
                }
            }
            
            p {
                font-size: 24px;
                line-height: 29px;
                color: $c_gray_darker;
                margin: 0;
            }
        }

        .c_mid {
            padding: 0;
            margin-bottom: 30px;
            
            .wp-block-columns {
                margin: 0;
                min-height: 216px;


                .wp-block-column,
                .wp-block-image, 
                .wp-block-button {
                    margin: 0;
                }

                .wp-block-column {
                    min-height: 216px;
                    justify-content: center;
                    align-items: center;
                    display: flex;
                    
                    p {
                        text-align: center;
                        font-size: 32px!important;
                        line-height: 38px;
                        color: $c_blue_primary;
                    }
                }

                .wp-block-image {
                    position: absolute;
                    margin: 0 auto;
                    bottom: 0;
                    width: 50%;
                }

                .wp-block-button {
                    a.wp-block-button__link {
                        padding: 13px 44.5px;
                    }
                }
            }
        }

        .c_materiais, 
        .c_assessoria,
        .c_radio,
        .c_destaques,
        .c_videos,
        .c_iniciativas {
            min-height: unset;
            margin-bottom: 70px;

            .wp-block-columns {
                margin: 0 auto;
            }
        }

        .c_oficinas {
            background-color: $c_yellow_primary;
            margin-bottom: 70px;

            h3 {
                text-align: center;
                color: var(--c-primary);
                font-size: var(--s-h3)!important;
                text-transform: uppercase;
                margin-bottom: 64px;
            }

            p {
                max-width: 1270px;
                margin: 25px auto;
            }

            figure.wp-block-gallery {
                max-width: 1270px;
                margin: 0 auto 8rem;
                max-height: 45rem;
                overflow-y: scroll;
                padding-right: 10px;

                &::-webkit-scrollbar {
                    width: 14px;
                    background-color: var(--c-secondary);
                    opacity: 0.5;
                }
                
                &::-webkit-scrollbar-thumb {
                    border: 4px solid rgba(0, 0, 0, 0);
                    background-clip: padding-box;
                    border-radius: 9999px;
                    background-color: var(--c-primary);
                }
            }

            p.container {
                font-weight: bold;
                font-size: 20px;
                line-height: 24px;
                color: var(--c-primary);
                margin: 25px auto;
            }
        }

        .c_destaques {
            padding: 0;

            h4 {
                margin: 0 0 40px 0;
            }

            p {
                max-width: 470px;
                font-size: 32px!important;
                line-height: 38px;
                color: var(--c-primary)!important;
                margin: 0 0 40px 0;
            }

            a.wp-block-button__link {
                padding: 13px 47px;
            }

            .wp-block-columns {
                align-items: center;
                margin-bottom: 80px;
            }

            .wp-block-video {
                margin: 0;
            }
        }

        .c_videos {
            .wp-block-embed {
                margin: 0;

                &__wrapper {
                    text-align: center;

                    iframe {
                        min-width: 724px;
                        min-height: 408px;
                    }
                }
            }
        }

        .c_iniciativas {

            h4 {
                margin: 0 0 40px;
            }

            p {
                margin: 0 0 40px 0;
                max-width: 60%;
                font-size: 32px;
                line-height: 38px;
                color: $c_blue_primary;
            }

            .wp-block-button {
                .wp-block-button__link {
                    padding: 13px 50px;
                    border-radius: 5px;
                }
            }
        }
        
    }

    &-ciranda {
        
        .title-with-graphics {
            text-transform: uppercase;
        }

        .wp-block-cover {
            margin-bottom: 32px !important;
            padding: 0;
        }

        .ciranda {
            margin-bottom: 78px;

            figure {
                margin-bottom: 21px;
                margin-top: 18px;
                max-width: 1097px;
            }
        }

        .about {
            gap: 30px;
            margin: 0;

            .wp-block-cover {
                margin-bottom: 0!important;
                padding: 0;
            }

            &-video {
                width: 100%;

                figure {
                    width: 100%;
                    height: 100%;

                    iframe {
                        width: 100%;
                        min-height: 325px;
                    }
                }
            }

            &-content {
                margin: 0;

                p {
                    color: $c_gray_darker;
                    font-family: "Lato", sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: normal;
                    line-height: 29px;
                    margin: 0 0 32px 0;
                }

                .box {
                    min-height: unset;
                    padding: 16px 0 26px;

                    p {
                        font-family: "Lato", sans-serif;
                        font-size: 32px !important;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 38px;
                        margin: 16px 0;
                        text-align: center;
                        color: #FFFFFF;
                        margin: 0 0 16px 0;
                    }

                    .wp-block-button {
                        margin: 0;
                    }

                    a {
                        background-color: #ffffff !important;
                        border-radius: 5px;
                        color: $c_blue_primary !important;
                        font-family: "Lato", sans-serif;
                        font-size: 18.4px;
                        font-style: normal;
                        font-weight: normal;
                        line-height: 22px !important;
                        line-height: 48px;
                        padding: 13px 46px;
                        text-align: center;
                    }
                }
            }
        }

        .seeYou {
            font-family: "Lato", sans-serif;
            margin-bottom: 80px !important;
            padding: 78px 0;

            &::before {
                margin-left: calc(50% - 50vw);
                margin-right: calc(50% - 50vw);
                max-width: 100vw;
                opacity: 1 !important;
                width: 100vw;
            }

            h2 {
                font-size: 40px!important;
                font-style: normal;
                font-weight: normal;
                line-height: 48px;
                margin: 0 0 40px;
                text-transform: uppercase;
                text-align: center;
                color: var(--c-primary);
            }

            .legend {
                color: #fff;
                font-size: 32px;
                font-style: normal;
                font-weight: normal;
                line-height: 38px;
                margin: 0 0 64px 0;
                text-align: center;
            }

            .image-group {
                display: flex;
                margin: 64px 0;

                .wp-block-column {
                    align-self: center;

                    figure {
                        margin: auto;
                        img {
                            width: 100%;
                            max-height: 120px;
                        }
                    }
                }
            }

            .wp-block-image {
                figure {
                    width: 100%;
                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }

        .news {

            .ultp-block-media {

                .ultp-category-grid {
                    .ultp-category-in {
                        a {
                            font-family: 'Lato', sans-serif;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 17px;
                            color: $c_gray_darker;
                        }
                    }
                }
            
                .ultp-block-title {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 32px;
                    line-height: 38px;
                    color: $c_blue_primary;
                }
            
                .ultp-block-date {
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 17px;
                    color: $c_gray_darker;
                }
            
                .ultp-block-excerpt{
                    font-family: 'Lato', sans-serif;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 24px;
                    color: $c_gray_darker;
                }

            }

        }

        .has-light-yellow-background-color {
            background-color: var(--c-yellow-primary);
        }

        .has-green-background-color {
            background-color: $c_green_primary;
        }
    }

    #historia {
        .wp-block-cover__image-background {
            margin-left: calc( 50% - 50vw);
            margin-right: calc( 50% - 50vw);
            max-width: 100vw;
            width: 100vw;
        }
    }

    /* Icones */
    .fa, .fas {
        font-weight: 900;
        color: var(--c-primary);
        width: 20px;
        margin-right: 10px;
    }

    &-fale-conosco {
        // Contact form

        .wpcf7-form {
            label {
                span {
                    display: block;
                }
            }
            input[type="text"],
            input[type="email"],
            textarea {
                border: 2px solid #DDD;
                padding: 10px 20px;
                width: 100%;

                &:focus-visible {
                    border-color: var(--c-primary);
                    outline: 0;
                }
            }

            input[type="submit"] {
                background-color: var(--c-primary);
                border-radius: 6px;
                border: 0;
                box-shadow: 0;
                color: white;
                float: right;
                font-size: 12px;
                font-weight: 900;
                padding: 13px 60px;
                text-transform: uppercase;
            }

            ::placeholder {
                color: rgba(0, 0, 0, 0.6);
            }

            
        }
    }

}
