@import "./../1-settings/_s-variables";
@import "./../2-atoms/a-mixins";

.error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 62px;

    .gif{
        background-image: url($p_theme_assets + '/images/gif-404.gif'); 
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        background-size: 100%;
        align-items: center;
        /* text-align: center; */
        /* display: flex; */
        /* flex-direction: column; */
        align-content: center;
        /* flex-wrap: wrap; */
        background-position: center;

    }
    button{
        color: var(--White, #FFF);
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: "DM Sans";
        font-size: 14px;
        font-style: normal;
        text-transform: uppercase;
        border: none;
        font-weight: 700;
        line-height: 24px; /* 171.429% */
        display: inline-flex;
        padding: var(--py-4, 16px) var(--px-6, 24px);
        justify-content: center;
        align-items: center;
        gap: var(--gap-0, 0px);
        border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
        background: var(--DARK, #111);
    }
}