@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
.container{
    margin-top:30px;
    @include mixins.mobile{
        margin-top: 0px;
    }
};

.author{
    .banner-principal{
        width:870px;
        height: 497px;
        padding:0px;
        background-image: url(variables.$p_theme_assets+"/images/banner-background.png");
        @include mixins.mobile{
            width: auto;
            height: 497px;
            margin-bottom: 24px;
            margin-left: 12px;
            margin-right: 12px;
        }
        .lado-esquerdo-banner{ 
            max-width: 377px;
            height: 497px;
            border-radius: 8px 0px 0px 8px; 
            background: rgba(51, 51, 51, 0.70);
            backdrop-filter: blur(11px);
            @include mixins.mobile{
                position: relative;
                top: 275px;
                height: 222px;
                max-width: 431px;
                display: flex;
                align-items: center;
                border-radius: 8px 8px 0px 8px; 
            }
            & .container-info{
                display: flex;
                flex-direction: column;
                justify-content: center;
                /* padding-left: 57px; */
                /* padding-right: 53px; */
                padding: 48px;
                height: 100%;
            
                @include mixins.mobile{
                    width: 100%;
                    padding: 0;
                    margin-left: 48px;
                }
                .tag{
                    .entry-meta{
                        
                        ul >li{
                            background-color: initial !important;
                            a{
                                color: #FFF;
                                font-family: "Archivo Expanded",sans-serif;
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 155%; /* 21.7px */
                                letter-spacing: -0.42px;
                                text-transform: uppercase;
                                @include mixins.mobile{
                                    margin-top: 32px;
                                    margin-bottom: 16px;
                                }
                            }
                        }
                    }
                }
               
                .title,
                h5,
                a{
                    color: #FFF !important;
                    /* <h2> Manrope */
                    font-family: 'Manrope',sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 120%; /* 38.4px */
                    letter-spacing: -0.64px;
                    text-decoration: none;
                    margin: 0px;
                }
                .resumo{
                    max-width: 266px;
                    p{
                        color: #FFF;
                        font-family: 'Manrope',sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 130%; /* 18.2px */
                        @include mixins.mobile{
                            display: none;
                        }
                    }
                    
                }
            }
        }
    }
    
    .author-info{
        width: 271px;
        height: 497px;
        border-radius: 8px;
        background: var(--Gray-1, #333);
        @include mixins.mobile{
            width: auto;
            height: 242px;
        }
        & .author-info-card{
            display: flex;
            flex-direction: column;
            align-items: center;
            @include mixins.mobile{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                padding-top: 25px;
            }
            img{
                width: 175.648px;
                height: 175px;
                border-radius: 50%;
                flex-shrink: 0;
                margin-top: 41px;
                @include mixins.mobile{
                    width: 82px;
                    height: 82px;
                }
            }
            .author-name{
                color: var(--White, #FFF);
                font-family: 'Manrope',sans-serif;
                font-size: 20px;
                font-style: normal;
                font-weight: 800;
                line-height: 24px; /* 120% */
                width: 201px;
                letter-spacing: -0.6px;
                margin-top: 35px;
                margin-bottom: 17px;
                border-bottom: #FFF solid 1px;
                padding-bottom: 10px;
                @include mixins.mobile{
                    border-bottom: none;
                }
            }
            .authbio{
                color: var(--White, #FFF);
                font-family: 'Manrope',sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 130%; /* 15.6px */
                max-width: 201px;
                @include mixins.mobile{
                    display: none;
                }
            }
        }
        .authbio-mobile{
            display: none;
            @include mixins.mobile{
                color: var(--White, #FFF);
                /* <h5> Manrope */
                font-family: Manrope;
                font-size: 13px;
                font-style: normal;
                font-weight: 500;
                line-height: 145%; /* 18.85px */
                display: flex;
                /* width: 263px; */
                /* height: 81.812px; */
                flex-direction: column;
                margin: auto;
                margin: 0px 33px;
                margin-top: 26px;
                border-top: solid 1px white;
                padding-top: 8px;
            }
            
        }
    }
    main{
        .post-card{
            width: 334px;
            margin-top:60px;
            .post-card--thumb{
                display: none;
            }
            & .post-card--content{
                .entry-date{
                    color: var(--Gray-3, #828282);
                    /* <h5> Manrope */
                    font-family: Manrope;
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 145%; /* 18.85px */
                }
                a,
                h5{
                    color: var(--Gray-1, #333);
                    font-family: Manrope;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 130%; /* 26px */
                    margin-bottom: 16px;
                }
                .entry-excerpt{
                    color: var(--Gray-3, #828282);
                    /* <p> Manrope */
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%; /* 22.4px */
                }
            }
        }
        .header-and-footer-archive{
            width: 130%;
            @include mixins.mobile{
                width: 100%;
            }
            .opinion-posts-block{
                background-color: #000;
                margin-bottom: 0px;
                .container{
                    @include mixins.mobile{
                        padding-left: 0px;
                    }
                
                    .slide{
                        .post{
                            @include mixins.mobile{
                                display: flex;
                                width: 328px;
                                align-items: center;
                                padding-left: 0px;
                                gap: 20px;
                                border: none;
                            }
                        }
                    }
                }
            }
            .model-columnists {
                background-color: #fff;
                margin-bottom: 0px;
                padding-bottom: 10px;
                @media (max-width: 782px) {
                    display: none;
                    padding-top: 1.4rem;
                    margin-bottom: 0px;
                    background-color: #000 !important;
                }
                h2 {
                    font-family: "Manrope", serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 120%;
                    letter-spacing: -0.96px; 
                    color: #111;
                    @media (max-width: 992px) {
                        font-size: 24px; 
                    }
                }
                .container {
                    max-width: 1170px !important;
                    width: 100%;
                    padding: 44px 0 26px !important;
                    @media (max-width: 992px) {
                        padding: 0px 0 48px !important;
                    }
                }
                .latest-horizontal-posts-block__slides {
                    &::after {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                    @media (max-width: 782px) {
                        display: flex;
                    }
                }
                .slick-track {
                    @media (max-width: 782px) {
                        display: flex;
                        flex-direction: column;
                    }
                    .slick-slide {
                        @include mixins.tablet{
                            display: none;
                        }
                    }
                    .slick-slide:nth-child(-n+3) {
                        @include mixins.mobile{
                            display: block; /* Exibe apenas os três primeiros slides */
                        }
                    }
                }
                .slide {
                    display: flex;
                    @media (max-width: 782px) {
                        margin-bottom: 0;
                    }
                    
                    
                    a {
                        text-decoration: none;
                        .post {
                            display: flex;
                            gap: 13px;
                            @media (max-width: 782px) {
                                gap: 0;
                            }
                            .post-thumbnail {
                                margin-top: 15px;
                                width: 80px;
                                height: 80px;
                                border-radius: 50px;
                                box-shadow: none;
                                @media (max-width: 782px) {
                                    margin-right: 25px;
                                    margin-left: 2.5rem;
                                }
                                img {
                                    max-width: 80px;
                                    height: 80px;
                                    border-radius: 50px;
                                }
                            }
                            .post-content {
                                font-family: "Manrope", serif;
                                max-width: 170px;
                                width: 100%;
                                .post-title {
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 140%;
                                }
                                p {
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 145%;
                                    color: #848484;
                                }
                            }
                        }
                    }
                    
                }
        
                .slick-arrow {
                    transition: none !important;
                }
        
                .slick-arrow.slick-prev {
                    background-color: #ccc !important;
                    &:hover {
                        background-color: #333 !important;
                        background-image: url(variables.$p_theme_assets + "/images/arrow-white-next.svg");
                        background-position: center !important;
                        background-repeat: no-repeat !important;
                        transform: rotate(180deg);
                    }
                }
        
                .slick-arrow.slick-next {
                    background-color: #ccc !important;
                    &:hover {
                        background-color: #333 !important;
                        background-image: url(variables.$p_theme_assets + "/images/arrow-left-slider-white.png");
                        background-position: center !important;
                        background-repeat: no-repeat !important;
                    }
                }
        
                .slick-arrow.slick-disabled {
                    background-color: #ccc !important;
                }
                li.slick-active {
                    background-color: #ccc !important;
                }
            }
            .btn-colunistas-desktop {
                display: flex;
                justify-content: flex-end;
                margin-bottom: -8rem;
                margin-top: 5rem;
                position: relative;
                bottom: 13px;
        
                @media (max-width: 992px) {
                    display: none;
                }
                .wp-block-button {
                    background-color: #111;
                    border-radius: 8px;
        
                    a {
                        font-family: "Manrope", serif;
                        color: #fff;
                        font-size: 13px;
                        font-weight: 700;
                        padding: 18px 30px;
                        color: #fff !important;
                        border: none;
                    }
                }
            }
        
            .btn-latest-posts,
            .btn-colunistas-mobile {
                display: none;
                justify-content: flex-start;
                margin-bottom: 2rem;
                
                @include mixins.mobile{
                    margin-bottom: 0px;
                    padding-bottom: 40px;
                }

                @media (min-width: 993px) {
                    display: none;
                }
                .wp-block-button {
                    background-color: #111;
                    border-radius: 8px;

                    a {
                        font-family: "Manrope", serif;
                        color: #fff;
                        font-size: 13px;
                        font-weight: 700;
                        padding: 18px 30px;
                        color: #fff !important;
                        border: none;
                    }
                }
            }
        }
    }
}
 