@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
@import "./../5-blocks/b-latest-vertical-posts";

.post-type-archive-opiniao {
	#app {
		background-color: #f5f5f5;

		.container {
			padding: 15px;

			@media (min-width: 992px) {
				padding: 0;
			}

			.header-and-footer-archive.position-header {
				position: relative;
				margin-bottom: 40px;
				z-index: 1;

				.opiniao-header {
					margin-top: 36px;
					color: #fff;
					gap: 16px;

					@media (min-width: 768px) {
						background-color: #000;
						border-radius: 8px;
					}

					@media (min-width: 992px) {
						padding: 40px 100px;
						gap: 130px;
					}

					> div {
						background-color: #000;
						padding: 45px 24px 24px;
						border-radius: 8px;

						@media (min-width: 992px) {
							padding: 0;
						}

						.wpnbha {
							margin-bottom: 0;
							padding-left: 6px;

							article .avatar {
								width: 46px;
								height: 46px;
							}
						}
					}

					.wp-block-column:nth-child(2) {
						.entry-title {
							font-size: 14px;
							line-height: 20px; /* 142.857% */
							letter-spacing: -0.42px;
							margin-bottom: 0;
						}

						.entry-meta {
							> a {
								display: none;
							}

							.byline {
								margin: 0;
							}
						}

						.latest-vertical-posts-block.colunas {
							padding: 0;
							margin: 0;

							.post {
								border-bottom: 1px solid #fff;
								padding-bottom: 30px;
							}
						}
					}

					.article-section-title {
						font-family: "Archivo Expanded";
						font-size: 14px;
						font-style: normal;
						font-weight: 800;
						line-height: 155%; /* 21.7px */
						letter-spacing: -0.42px;
						text-transform: uppercase;
						margin-bottom: 18px;
					}

					.entry-title {
						/* <h2> Manrope */
						font-size: 28px;
						font-style: normal;
						letter-spacing: -0.64px;
						line-height: 130%;
						margin-bottom: 20px;

						@media (min-width: 992px) {
							font-size: 32px;
							line-height: 120%; /* 38.4px */
							margin-bottom: 35px;
						}
					}

					p {
						/* <p> Manrope */
						font-size: 14px;
						line-height: 130%; /* 22.4px */
						margin-bottom: 35px;

						@media (min-width: 992px) {
							font-size: 16px;
							line-height: 140%; /* 22.4px */
						}
					}

					.entry-meta .byline {
						margin-left: 12px;
						font-weight: 400;
						line-height: 21px; /* 175% */
						letter-spacing: 1.2px;
						text-transform: uppercase;

						a {
							text-decoration: none;
							color: #fff;
							font-size: 12px;
							letter-spacing: 1.2px;
							text-transform: uppercase;
							line-height: 21px;
						}

						.author-prefix {
							display: none;
						}
					}
				}
			}

			.content {
				width: 100%;
				padding-right: 30px;
				margin-bottom: 80px;
				float: none;

				@media (min-width: 992px) {
					width: 70%;
				}

				.posts {
					display: grid;
					grid-template-columns: 1fr;
					gap: 30px;
					padding-bottom: 48px;

					@media (min-width: 768px) {
						grid-template-columns: 1fr 1fr;
					}

					.post-card {
						display: flex;
						text-decoration: none;

						.post-card--thumb {
							margin-right: 30px;

							img {
								width: 70px;
								height: 70px;
								border-radius: 100%;
								object-fit: cover;
							}
						}

						.post-card--content {
							.entry-title {
								color: var(--Primary-dark, var(--DARK, #111));
								font-size: 20px;
								font-style: normal;
								font-weight: 700;
								line-height: 130%; /* 26px */
								margin: 0 0 5px;
							}

							.card-author {
								color: var(--PRIMARY-PURE, #848484);
								font-family: Manrope;
								font-size: 13px;
								font-style: normal;
								font-weight: 700;
								line-height: 145%; /* 18.85px */
							}
						}
					}
				}

				.load-more {
					display: block;
					padding: var(--py-4, 16px) var(--px-6, 24px);
					margin: 30px auto;
					background-color: #000;
					border-radius: 8px;
					border: none;
					color: var(--White, #fff);
					text-align: center;
					font-family: Manrope;
					font-size: 13px;
					font-style: normal;
					font-weight: 700;
					line-height: 145%; /* 18.85px */
					text-transform: uppercase;
				}
			}

			.header-and-footer-archive.position-footer {
				position: relative;

				.latest-vertical-posts-block {
					margin: 0;
					padding: 44px 35px;

					&.mais-lidas {
						@media (min-width: 992px) {
							max-width: 30%;
							position: absolute;
							right: 0;
							top: -40rem;
						}

						.slick-slide .slide .post {
							border-bottom: 1px solid #fff;
							gap: 20px;

							@media (min-width: 768px) {
								max-width: 290px;
							}

							.post-title {
								font-size: 16px;
								line-height: 20px; /* 111.111% */
								letter-spacing: -0.54px;
							}

							.post-author {
								font-size: 10px;
								font-style: normal;
								font-weight: 400;
								line-height: 21px; /* 210% */
								letter-spacing: 1px;
								text-transform: uppercase;

								span:nth-child(1) {
									display: none;
								}

								span:nth-child(2) {
									color: var(--Primary-dark, #111);
									font-weight: 700;
								}
							}

							.post-meta--terms {
								display: none;
							}
						}
					}

					& ~ div {
						.entry-title {
							font-size: 14px;
							font-weight: 700;
							line-height: 20px; /* 142.857% */
							letter-spacing: -0.42px;
							margin: 0;
						}

						.entry-meta {
							> a {
								display: none;
							}

							.byline {
								margin: 0;
							}
						}
					}
				}

				.colunistas {
					position: relative;
					display: flex;
					flex-direction: column-reverse;

					.btn-colunistas {
						display: flex;
						flex-direction: column-reverse;
						margin-bottom: 86px;

						a {
							text-decoration: none;
						}
					}

					.colunistas-ninja {
						background-color: #f5f5f5;
						max-width: 100%;
						padding: 0;

						@media (max-width: 782px) {
							display: flex;
						}

						h2 {
							font-family: "Manrope", serif;
							font-size: 32px;
							font-style: normal;
							font-weight: 800;
							line-height: 120%;
							letter-spacing: -0.96px;
							color: #111;
							@media (max-width: 992px) {
								font-size: 24px;
								margin-top: 35px;
							}
						}

						.container {
							max-width: 1170px !important;
							width: 100%;
							padding: 0 0 26px !important;
							@media (max-width: 992px) {
								padding: 0px 0 48px !important;
							}
						}

						.latest-horizontal-posts-block__slides {
							&::after {
								display: none;
							}
							&::before {
								display: none;
							}
							@media (max-width: 782px) {
								display: flex;
							}
						}

						.slick-track {
							@media (max-width: 782px) {
								display: flex;
								flex-direction: column;
							}
						}

						.slide {
							display: flex;
							@media (max-width: 782px) {
								margin-bottom: 0;
							}
							a {
								text-decoration: none;
								.post {
									display: flex;
									gap: 13px;
									@media (max-width: 782px) {
										gap: 0;
										justify-content: center;
									}
									.post-thumbnail {
										margin-top: 15px;
										width: 80px;
										height: 80px;
										border-radius: 50px;
										box-shadow: none;
										@media (max-width: 782px) {
											margin-right: 25px;
											margin-left: 2.5rem;
										}
										img {
											max-width: 80px;
											height: auto;
											border-radius: 50px;
										}
									}
									.post-content {
										font-family: "Manrope", serif;
										max-width: 170px;
										width: 100%;
										.post-title {
											font-size: 16px;
											font-style: normal;
											font-weight: 700;
											line-height: 140%;
										}
										p {
											font-size: 13px;
											font-style: normal;
											font-weight: 500;
											line-height: 145%;
											color: #848484;
										}
									}
								}
							}
						}

						.slick-arrow {
							background-color: #ccc;
						}

						.slick-arrow.slick-disabled {
							background-color: #ccc;
						}

						li.slick-active {
							background-color: #333;
						}
					}

					.latest-horizontal-posts-block__slides {
						margin-top: 10px;

						@media (min-width: 768px) {
							margin-top: 35px;
						}
					}

					.latest-horizontal-posts-block__arrows {
						button.slick-arrow {
							&:hover {
								background-color: #333;
								background-image: url("/wp-content/themes/midia-ninja-theme/assets/images/arrow-left-slider-white.png");
							}
						}
					}

					.latest-horizontal-posts-block__dots .slick-dots {
						li {
							opacity: 0.5;

							&.slick-active {
								opacity: 1;
							}
						}
					}

					.post-title {
						font-weight: 500;
					}
				}
			}
		}

		.who-finances-desktop {
			background: #111 !important;
			min-height: 108px;
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			border-radius: 8px;

			@media (max-width: 1320px) {
				padding-left: 15px;
				padding-right: 15px;
			}

			@media (max-width: 992px) {
				background: #fdf250 !important;
				border-radius: 16px;
				padding: 25px 42px 25px 45px;
			}
			.wp-block-columns {
				margin-top: 1.8rem;
				@media (max-width: 992px) {
					flex-direction: column;
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			p {
				font-family: "MidiaNinja", sans-serif;
				color: #fff;
				font-size: 38px;
				font-weight: 400;
				margin-bottom: 0;
				margin-top: 0;
				letter-spacing: normal;
				@media (max-width: 992px) {
					color: #000;
					font-family: "Manrope", serif;
					font-size: 24px;
					font-weight: 800;
					text-align: center;
					margin-bottom: -15px;
					line-height: 130%;
				}
				img {
					margin-left: 4.5rem;
					@media (max-width: 992px) {
						display: none;
					}
				}
			}
			.finances-title-mobile {
				@media (max-width: 992px) {
					color: #000;
					font-family: "MidiaNinja", sans-serif;
					font-weight: 400;
					text-align: center;
					font-size: 24px;
					line-height: 130%;
				}
			}
			.wp-block-buttons {
				@media (max-width: 992px) {
					display: flex;
					justify-content: center;
				}
			}
			.wp-block-button {
				@media (max-width: 992px) {
					background-color: #111;
					border-radius: 8px;
				}
				a {
					font-family: "Manrope", serif;
					color: #fff;
					border-radius: 4px;
					border: 2px solid #fff;
					font-size: 13px;
					font-weight: 700;
					padding: 15px 30px;
					color: #fff !important;
					@media (max-width: 992px) {
						border: 2px solid #111;
					}
				}
			}
		}

		.newsletter-desktop {
			background-color: #262626;
			.wp-block-columns {
				gap: 100px;
				@media (max-width: 992px) {
					display: block;
				}
			}
			.wp-block-heading {
				color: #fff;
				font-family: "MidiaNinja", serif;
				font-size: 42px;
				font-style: normal;
				font-weight: 400;
				line-height: 100%;
				letter-spacing: normal;
				@media (max-width: 782px) {
					font-size: 35px;
					text-align: center;
				}
			}
			p {
				font-family: "Manrope", serif;
				font-size: 13px;
				font-style: normal;
				font-weight: 500;
				line-height: 145%;
			}
			form {
				.mc4wp-form-fields {
					margin-top: 2rem;
					@media (max-width: 992px) {
						margin-top: 0;
					}
					input[type="name"],
					input[type="email"] {
						width: 572px;
						padding: 1rem;
						border-radius: 8px;
						border: none;
						margin-bottom: 1rem;
						color: #111;
						&::placeholder {
							font-size: 16px;
							color: #595d62;
							@media (max-width: 782px) {
								color: #f5f5f5;
							}
						}
						@media (max-width: 782px) {
							background-color: transparent;
							border: 1px solid #d9d9d9;
							color: #f5f5f5;
						}
						@media (max-width: 600px) {
							width: 326px;
						}
						@media (max-width: 359px) {
							width: 306px;
						}
					}
					input[type="submit"] {
						background-color: #fbf36e;
						border: none;
						color: #333;
						font-family: "Manrope", serif;
						font-size: 14px;
						font-weight: 800;
						text-transform: uppercase;
						padding: 1rem 3.8rem;
						border-radius: 8px;
						@media (max-width: 600px) {
							max-width: 326px;
							width: 100%;
						}
					}
				}
			}
		}
	}
}
