@use "./../1-settings/s-variables"as variables;
@use "./../2-atoms/a-mixins"as mixins;
@import "./../2-atoms/a-mixins";

.archive {
    @import "../5-blocks/b-newspack-blocks-homepage-articles";

    .header-and-footer-archive.position-header .wp-block-newspack-blocks-homepage-articles.posts-sidebar {
        .article-section-title {
            display: none;
        }

        article .post-thumbnail {
            position: absolute;
        }

        main {
            @import "./../7-parts/p-content-post";
        }
    }

    #app .container {
        main.content {
            width: 100%;
            padding: 0;

            @media (min-width: 1200px) {
                width: 70%;
            }

            .posts {
                left: 0;

                .post-card--thumb .aspect-ratio img {
                    width: 100%;
                    max-width: 370px;
                    max-height: 209px;
                    object-fit: cover;
                    border-radius: 8px;
                }
            }
        }
    }

    aside {
        margin-bottom: 3rem;

        @media (min-width: 1200px) {
            float: right;
        }
    }

}