.post-type-archive-afluente{
	.header-and-footer-archive {
		.wp-block-columns:first-child{ // BANNER
			.wp-block-column:first-child{  //col1
				max-width: 770px;
				& .wp-block-cover{
					margin: 0px;
					padding: 0px;
					border-radius: 5px;
					width: 770px;
					margin: auto;
					width: auto;
					.wp-block-cover__inner-container{
						.wp-block-columns{
							margin: 0px;
							height: 506px;
							gap: 0px;
							.wp-block-column:first-child{
								max-width: 400px;
								padding-top: 91px;
								fill: rgba(51, 51, 51, 0.70);
								backdrop-filter: blur(17.6999998093px);
								

								h1{
									font-family: Manrope;
									font-size: 48px;
									font-style: normal;
									font-weight: 800;
									line-height: 115%;
									letter-spacing: -1.44px;
									align-items: center;
									width: 266.596px;
									margin: auto;
									margin-top: 14px;
									margin-bottom: 25px;
								
								}
								& p:nth-child(1){ //afluentes
									max-width: 260px;
									margin: auto;
									color: var(--Secondary-light, #F5F5F5);
									font-family: "Archivo Expanded";
									font-size: 14px;
									font-style: normal;
									font-weight: 800;
									line-height: 155%; /* 21.7px */
									letter-spacing: -0.42px;
								}
								p:nth-of-type(2) {
									font-family: Manrope;
									font-size: 13px;
									font-style: normal;
									font-weight: 500;
									line-height: 145%; /* 18.85px */
									width: 257px;
									margin: auto;
								}
							}
						}
					}
				}
			}
			.wp-block-column:last-child{ // col2
				
			}
			
		}
	}
	main{
		@import "../6-pages/p-search";
        .search{
            display: flex;
			align-items: center;
			margin-top: 47px;
			justify-content: center;
            h2{
                margin: 0px;
                color: var(--Gray-1, #333);
                font-family: Manrope;
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
                letter-spacing: -0.64px; 
            }
            form{
                & .input-search{
                    input{
                        width: 566px;
                        height: 46px;
                        border-radius: 8px; 
                        border: 2px solid var(--PRIMARY-PURE, #848484);
                        margin-left: 30px;
                    }
                    i{
                        position: absolute;
						right: 200px;
						top: 710px;
                        height: 32px;
                        width: 32px;
                        background-image: url($p_theme_assets + "/images/generic.png");
                    }
                }
            }
        }
			
        .posts{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            margin-top: 48px;
            article{
                .post-card{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 30px;
                    .post-card--thumb{
                        width: 370px;
                        height: 208px;
                    }
                    .post-card--content{
                        & .entry-title{
                            color: var(--PURE, #262626);
                            font-family: Manrope;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 120%; /* 28.8px */
                            letter-spacing: -0.72px;
                        }
                        & .entry-meta{
                           
                        }
                        & .entry-date{
                            display: none;
                        }
                        & .entry-excerpt{
                            display: none;
                        }
                    }
                }
            }
        }
		.navigation{
			margin: 64px 0px;
		}
	}
} 