.author{
    &--info{
        display: flex;
        margin: 20px 0 30px 0;
        padding: 0;
        
        img{
            border-radius: 7px;
            margin-right: 10px;
        }
    }

    h1.author-name {
        text-align:center;
    }
    .blog-description {
        text-align: center;
    }
    header.title-author {
        background-size:cover;
        .container {
            text-align: center;
            * {
                color:var(--wp--preset--color--white);
            }
        }
        p {
            position: relative;
            z-index: 2;
        }
    }

}