@use "./../1-settings/s-variables"as variables;
@use "./../2-atoms/a-mixins"as mixins;


.blog{
	.c-title{
		display: none;
	}

	.infos{
		display: none;
	}

	.content{
		.posts{
			justify-items: center;

			.post{
				height: 400px;
			}

			.post-card{
				&--content{
					.entry-meta{
						display: block !important;
						order: 1;
						position: relative;
						top: -60px;
						right: -12px;
					}

					.entry-title{
						position: relative;
    					top: -50px;
					}

					.entry-date{
						position: relative;
						top: -60px;
					}
				}
			}
		}
	}
}