@use "./../1-settings/s-variables"as variables;
@use "./../2-atoms/a-mixins"as mixins;

.category {
	#app {
		.container {
			.header-and-footer-archive {
				.cover-categoria {
					padding: 0;
					border-radius: 8px;
					max-width: 773px;
					width: 100%;

					.wp-block-cover__inner-container {
						.wp-block-columns {
							margin-bottom: 0 !important;
							margin-right: 0 !important;
							margin-left: 0 !important;
						}
					}
				}

				.colunas-categoria {

					.coluna-imagem {
						width: calc(100% + 50px);
						position: relative;
						left: -4%;
					}

					.coluna-postss {
                        border-radius: 12px;
                        border: 2px solid var(--Cores-de-categoria-Ciano---Poltica, #76C7E6);
                        max-width: 367px;
                        width: 100%;
                        height: 448px;
                        position: relative;
                        left: -6%;

						.latest-vertical-posts-block {
							background-color: #fff;

							h2 {
                                color: var(--DARK, #111);
                                font-family: "Tipo Ninja";
                                font-size: 36px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 145%; /* 52.2px */
							}

							.slick-list {
								.slick-track {
                                    height: 250px;

									.slide {
										a {
											text-decoration: none;

											.post {
												&-title {
													color: var(--Gray-1, #333);
													font-family: var(--wp--preset--font-family--manrope);
													font-size: var(--wp--preset--font-size--default);
													font-style: normal;
													font-weight: 500;
													line-height: 140%;
													text-transform: capitalize;
													text-decoration: none;
													margin-bottom: 0;
                                                    padding-top: 0;
												}

												&-content {
													display: flex;
													flex-direction: column;
												}

												&-meta {
													&--date {
														color: var(--Gray-1, #333);
														font-family: var(--wp--preset--font-family--manrope);
														font-size: 10px;
														font-style: normal;
														font-weight: 400;
														line-height: 21px;
														letter-spacing: 1px;
														text-transform: uppercase;
													}

													&--terms {
														.tax-category {
															li {
																color: var(--Gray-1, #333) !important;
																font-family: var(--wp--preset--font-family--manrope);
																font-size: 10px;
																font-style: normal;
																font-weight: 700;
																line-height: 21px;
																letter-spacing: 1px;
																text-transform: uppercase;
																background-color: transparent !important;
																margin-bottom: 11px;
															}
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}

					.coluna-categoria {
						border-radius: 8px 0px 0px 8px;
						background: rgba(51, 51, 51, 0.70);
						backdrop-filter: blur(11px);
						height: 450px;
						padding: 60px 51px 59px 69px;

						.taxonomy-category {
							a {
								color: var(--wp--preset--color--secondary-light);
								text-align: center;
								font-family: var(--wp--preset--font-family--archivo-expanded);
								font-size: var(--wp--preset--font-size--small);
								font-style: normal;
								font-weight: 800;
								line-height: 155%;
								letter-spacing: -0.42px;
								text-decoration: none;
							}
						}

						.wp-block-latest-posts {
							.wp-block-latest-posts__post-title {
								color: #FFF;
								font-family: var(--wp--preset--font-family--manrope);
								font-size: var(--wp--preset--font-size--medium);
								font-style: normal;
								font-weight: 800;
								line-height: 120%;
								letter-spacing: -0.64px;
								text-decoration: none;
							}

							.wp-block-latest-posts__post-excerpt {
								color: #FFF;
								font-family: var(--wp--preset--font-family--manrope);
								font-size: var(--wp--preset--font-size--default--);
								font-style: normal;
								font-weight: 500;
								line-height: 140%;
								margin-top: 24px;
							}
						}
					}
				}

                figure{
                    max-width: 990px;
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                }
			}

			.content {
				.posts {
					display: grid;
					grid-template-columns: 1fr 1fr;

					.post {

						&:hover {
							background: none;
						}

						&-card {
							flex-direction: column;
							max-width: 370px;
							width: 100%;
							height: auto;

							&--thumb {
								max-width: 371px;
								width: 100%;
								height: auto;
								padding-right: 0;

								.aspect-ratio {
									border-radius: 8px;
								}
							}

							&--content {

								.entry-title {
									color: var(--wp--preset--color--dark-pure);
									font-family: var(--wp--preset--font-family--manrope);
									font-size: var(--wp--preset--font-size--small-standard);
									font-style: normal;
									font-weight: 800;
									line-height: 125%;
									letter-spacing: -0.24px;
									max-width: 371px;
									width: 100%;
									margin-top: 16px;
									margin-bottom: 8px;
								}

								.entry-meta {
									display: none;
								}

								.entry-date {
									color: var(--wp--preset--color--primary-light);
									font-family: var(--wp--preset--font-family--manrope);
									font-size: var(--wp--preset--font-size--small);
									font-style: normal;
									font-weight: 700;
									line-height: 145%;
								}

								.entry-excerpt {
									display: none;
								}
							}
						}
					}
				}
			}

			aside {
				border-radius: 12px;
				border: 2px solid #cccc;
				background: #fff;

				.latest-vertical-posts-block {
					background-color: #fff;

					h2 {
						color: var(--Gray-1, #333);
						font-family: var(--wp--preset--font-family--manrope);
						font-size: var(--wp--preset--font-size--medium);
						font-style: normal;
						font-weight: 800;
						line-height: 120%;
						letter-spacing: -0.64px;
						text-transform: uppercase;
						padding-top: 30px;
					}

					.slick-list {
						.slick-track {
							.slide {
								a {
									text-decoration: none;

									.post {
										&-title {
											color: var(--Gray-1, #333);
											font-family: var(--wp--preset--font-family--manrope);
											font-size: var(--wp--preset--font-size--default);
											font-style: normal;
											font-weight: 500;
											line-height: 140%;
											text-transform: capitalize;
											text-decoration: none;
											margin-bottom: 0;
										}

										&-content {
											display: flex;
											flex-direction: column;
										}

										&-meta {
											&--date {
												color: var(--Gray-1, #333);
												font-family: var(--wp--preset--font-family--manrope);
												font-size: 10px;
												font-style: normal;
												font-weight: 400;
												line-height: 21px;
												letter-spacing: 1px;
												text-transform: uppercase;
											}

											&--terms {
												.tax-category {
													li {
														color: var(--Gray-1, #333) !important;
														font-family: var(--wp--preset--font-family--manrope);
														font-size: 10px;
														font-style: normal;
														font-weight: 700;
														line-height: 21px;
														letter-spacing: 1px;
														text-transform: uppercase;
														background-color: transparent !important;
														margin-bottom: 11px;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}