@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.category {    
    #app{
        .container{
            .content{
                .posts{
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    .post{

                        &:hover{
                            background: none;
                        }

                        &-card{
                            flex-direction: column;
                            max-width: 370px;
                            width: 100%;
                            height: auto;

                            &--thumb{
                               max-width: 371px;
                               width: 100%;
                               height: auto;
                               padding-right: 0;

                               .aspect-ratio{
                                    border-radius: 8px;
                               }
                            }

                            &--content{

                                .entry-title{
                                    color: var(--wp--preset--color--dark-pure);
                                    font-family: var(--wp--preset--font-family--manrope);
                                    font-size: var(--wp--preset--font-size--small-standard);
                                    font-style: normal;
                                    font-weight: 800;
                                    line-height: 125%;
                                    letter-spacing: -0.24px;
                                    max-width: 371px;
                                    width: 100%;
                                    margin-top: 16px;
                                    margin-bottom: 8px;
                                }

                                .entry-meta{
                                    display: none;
                                }
                                
                                .entry-date{
                                    color: var(--wp--preset--color--primary-light);
                                    font-family: var(--wp--preset--font-family--manrope);
                                    font-size: var(--wp--preset--font-size--small);
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 145%;
                                }

                                .entry-excerpt{
                                    display: none;
                                }
                            }
                        }
                    }
                }
            }

            aside{
                border-radius: 12px;
                border: 2px solid #cccc;
                background: #fff;

                .latest-vertical-posts-block{
                    background-color: yellow;
                    
                    h2{
                        color: var(--Gray-1, #333);
                        font-family: var(--wp--preset--font-family--manrope);
                        font-size: var(--wp--preset--color--medium);
                        font-style: normal;
                        font-weight: 800;
                        line-height: 120%;
                        letter-spacing: -0.64px;
                        text-transform: uppercase;
                    }

                    .slick-list{
                        .slick-track{
                            .slide{
                                a{
                                    text-decoration: none;

                                    .post{
                                        &-title{
                                            color: var(--Gray-1, #333);
                                            font-family: var(--wp--preset--font-family--manrope);
                                            font-size: var(--wp--preset--font-size--default);
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 140%;
                                            text-transform: capitalize;
                                            text-decoration: none;
                                        }

                                        &-content{
                                            display: flex;
                                            flex-direction: column;
                                        }

                                        &-meta{
                                            &--date{
                                                color: var(--Gray-1, #333);
                                                font-family: var(--wp--preset--font-family--manrope);
                                                font-size: 10px;
                                                font-style: normal;
                                                font-weight: 400;
                                                line-height: 21px;
                                                letter-spacing: 1px;
                                                text-transform: uppercase;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}