@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.generic-archive{

	a {
		text-decoration: none !important;
	}

	#app {
		background-color: #F5F5F5;

		.container {
			.header-and-footer-archive {

				.wp-block-spacer{
					display: none;
				}

				.high-spot-block{
   					width: 100%;
					max-width: 775px;
				}

				.colunas-categoria {
					margin-bottom: 0;
					gap: 0;

					@include mixins.small {
						max-width: 330px;
						width: 100%;
						
					}

					@include mixins.mobile {
						max-width: 330px;
						width: 100%;
					}

					.show-category {
						article {
							.entry-wrapper {
								.cat-links {
									a {
										color: var(--Secondary-light, #f5f5f5);
										text-align: center;
										font-family: var(
											--wp--preset--font-family--archivo-expanded
										);
										font-size: var(--wp--preset--font-size--small);
										font-style: normal;
										font-weight: 800;
										line-height: 155%;
										letter-spacing: -0.42px;
										text-decoration: none;
										text-transform: uppercase;
									}
								}

								.entry-title {
									color: #fff;
									font-family: var(--wp--preset--font-family--manrope);
									font-size: 32px;
									font-style: normal;
									font-weight: 800;
									line-height: 120%;
									letter-spacing: -0.64px;
									max-width: 298px;
									width: 100%;
									margin-top: 20px;
								}

								> p {
									color: #fff;
									font-family: var(--wp--preset--font-family--manrope);
									font-size: var(--wp--preset--font-size--default);
									font-style: normal;
									font-weight: 500;
									line-height: 140%;
									margin-top: 20px;

									@include mixins.small{
										display: none;
									}

									@include mixins.mobile{
										display: none;
									}
								}
							}
						}
					}

					.coluna-imagem {
						position: relative;
						left: -3%;

						@include mixins.small{
							left: 0;
						}

						@include mixins.mobile{
							left: 0;
						}

						.high-spot-block{
							@media (min-width: 769px) and (max-width: 1200px){
								max-width: 660px;
								left: 8%;
								position: relative;
							}

							.high-spot-block__link{
								@media (min-width: 600px) and (max-width: 1200px){
									display: flex;
									height: 510px;
								}
							}

							.high-spot-block__info{
								@media (min-width: 600px) and (max-width: 1200px){
									position: relative;
								}
							}
						}
					}

					.coluna-postss {
						border-radius: 12px;
						max-width: 367px;
						width: 100%;
						position: relative;
						left: -4%;
						padding-top: 16px;

						@media (min-width: 600px) and (max-width: 1200px){
							left: -3%;
							flex-basis: 300px !important;
						}

						@include mixins.small {
							max-width: 330px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
							height: 275px;
						}

						@include mixins.mobile {
							max-width: 330px;
							width: 100%;
							margin-left: auto;
							margin-right: auto;
							height: 275px;
						}
					}

					.posts-sidebar {
						margin-top: 4rem;

						@media (min-width: 600px) and (max-width: 1025px){
							max-width: 210px;
							width: 100%;
						}
						
						@include mixins.mobile {
							margin-bottom: -1.3rem;
							margin-top: 0;
							position: relative;
							left: 3%;
						}

						@include mixins.small {
							margin-bottom: -1.3rem;
							margin-top: 0;
							position: relative;
							left: 3%;
						}

						div[data-posts] {
							height: auto;
							display: flex;
							flex-direction: column;
							margin-top: 1rem;
						}

						article:nth-child(2){

							@include mixins.small{
								display: none;
							}

							@include mixins.mobile{
								display: none;
							}
						}

						article {
							align-items: center;
							margin-bottom: 2.7rem;
							display: flex;
							gap: 20px;
							height: 80px;

							@include mixins.small {
								margin-bottom: 3rem;
								align-items: inherit;
							}

							@include mixins.mobile {
								margin-bottom: 2rem;
								align-items: inherit;
							}

							.post-thumbnail {
								border-radius: 9px;

								img {
									width: 112px;
									height: 107px;
									object-fit: cover;
									border-radius: 9px;
								}
							}

							.entry-wrapper {
								@include mixins.small {
									flex-basis: 58%;
								}

								@include mixins.mobile {
									flex-basis: 58%;
								}

								.entry-title {
									a {
										color: var(--wp--preset--color--primary-pure);
										font-size: 13px;
										font-weight: 500;
										line-height: 145%;
										color: #333;

										@media (min-width: 600px) and (max-width: 1000px){
											font-size: 10px;
										}

										@include mixins.small{
											line-height: 120%;
											display: block;
										}

										@include mixins.mobile{
											line-height: 120%;
											display: block;
										}
									}
								}
							}
						}

						.article-section-title {
							display: none;
						}
					}

					.coluna-categoria {
						border-radius: 8px 0px 0px 8px;
						background: rgba(51, 51, 51, 0.7);
						backdrop-filter: blur(11px);
						height: 506px;
						padding: 60px 51px 59px 69px;

						@include mixins.small {
							height: 315px;
							padding: 16px;
							position: relative;
							top: 105px;
						}

						@include mixins.mobile {
							height: 315px;
							padding: 16px;
							position: relative;
							top: 105px;
						}

						.taxonomy-category {
							height: 22px;
							overflow: hidden;
							width: 150px;
							text-transform: uppercase;

							a {
								color: var(--wp--preset--color--secondary-light);
								text-align: center;
								font-family: var(--wp--preset--font-family--archivo-expanded);
								font-size: var(--wp--preset--font-size--small);
								font-style: normal;
								font-weight: 800;
								line-height: 155%;
								letter-spacing: -0.42px;
								width: 150px;
								overflow: hidden;
								display: flex;
								text-transform: uppercase;
								text-decoration: none;
							}
						}

						.wp-block-latest-posts {
							.wp-block-latest-posts__post-title {
								color: #fff;
								font-family: var(--wp--preset--font-family--manrope);
								font-size: var(--wp--preset--font-size--medium);
								font-style: normal;
								font-weight: 800;
								line-height: 120%;
								letter-spacing: -0.64px;
								height: auto;
								text-overflow: ellipsis;
								display: flex;
								text-decoration: none;
							}

							.wp-block-latest-posts__post-excerpt {
								color: #fff;
								font-family: var(--wp--preset--font-family--manrope);
								font-size: var(--wp--preset--font-size--default--);
								font-style: normal;
								font-weight: 500;
								line-height: 140%;
								margin-top: 24px;

								@include mixins.small {
									display: none;
								}

								@include mixins.mobile {
									display: none;
								}
							}
						}
					}
				}

				figure {
					@include mixins.small {
						max-width: 300px;
						height: 55px;
						margin-right: auto;
    					margin-left: auto;
					}

					@include mixins.mobile {
						max-width: 300px;
						height: 55px;
						margin-right: auto;
    					margin-left: auto;
					}

					img {
						@include mixins.small {
							height: 50px;
						}

						@include mixins.mobile {
							height: 50px;
						}
					}
				}
			}

			.content {
				margin-bottom: 100px;
				width: 65%;
				margin-top: 32px;

				@include mixins.mobile{
					width: 100%;
				}

				.pagination{
					position: relative;
					top: 35px;
				}

				.posts {
					display: grid;
					grid-template-columns: 1fr 1fr;
					position: relative;
					right: 65px;
					width: 805px;	
					
					@media (max-width: 1023px){
						right: 60px;
					}
					
					@media (min-width: 1024px) and (max-width: 1074px){
						right: 35px;
					}

					@include mixins.small {
						display: flex;
						flex-direction: column;
						right: 0;
						width: 100%;
						margin-right: auto;
						margin-left: auto;
						align-items: center;
					}

					@include mixins.mobile {
						display: flex;
						flex-direction: column;
						right: 0;
						width: 100%;
						margin-right: auto;
						margin-left: auto;
						align-items: center;
					}

					.post {
						width: 370px;

						@include mixins.small {
							max-width: 328px;
							width: 100%;
							height: auto;
						}

						@include mixins.mobile {
							max-width: 328px;
							width: 100%;
							height: auto;
						}

						&:hover {
							background: none;
						}

						&-card {
							flex-direction: column;
							height: auto;
							border-bottom: none;
							margin-bottom: 0;
							
							@include mixins.small{
								padding-bottom: 0;
							}

							@include mixins.mobile{
								padding-bottom: 0;
							}
							

							&--thumb {
								width: 100%;
								height: auto;
								padding-right: 0;

								.aspect-ratio {
									border-radius: 9px;

									img{
										height: 100%;
									}
								}
							}

							&--content {
								display: flex;
								flex-direction: column-reverse;
								
								.entry-title {
									color: #111111;
									font-family: var(--wp--preset--font-family--manrope);
									font-size: 24px;
									font-style: normal;
									font-weight: 800;
									line-height: 125%;
									letter-spacing: -0.24px;
									max-width: 371px;
									width: 100%;
									margin-top: 16px;
									margin-bottom: 8px;
								}

								.entry-meta {
									display: none;
								}

								.entry-date {
									color: var(--wp--preset--color--primary-light);
									font-family: var(--wp--preset--font-family--manrope);
									font-size: 13px;
									font-style: normal;
									font-weight: 700;
									line-height: 145%;
								}

								.entry-excerpt {
									display: none;
								}
							}
						}
					}
				}
			}

			aside {
				margin-top: 32px;
				border-radius: 12px;
				border: 2px solid #cccc;
				background: #fff;
				position: relative;
				max-width: 367px;
				width: 100%;

				@include mixins.small {
					right: 0;
					max-width: 328px;
					margin-right: auto;
					margin-left: auto;
					margin-bottom: 100px;
				}

				@include mixins.mobile {
					right: 0;
					max-width: 328px;
					margin-right: auto;
					margin-left: auto;
					margin-bottom: 100px;
				}

				.latest-vertical-posts-block {
					background-color: #fff;
					margin-bottom: 0;
					height: auto;

					.post{
						margin-bottom: 0;
					}

					h2 {
						color: var(--Gray-1, #333);
						font-family: var(--wp--preset--font-family--manrope);
						font-size: 32px;
						font-style: normal;
						font-weight: 800;
						line-height: 1.2;
						margin-bottom: 0;
					}

					a {
						text-decoration: none !important;
					}

					.latest-vertical-posts-block__heading{
						margin-top: 20px;
						margin-bottom: 25px;
						
						h2 {
							text-transform: uppercase;
						}
					}

					.latest-vertical-posts-block__footer{
						padding-bottom: 15px;
					}

					.latest-vertical-posts-block__slides{
						height: 450px;
					}

					.slick-list {
						.slick-track {
							.slide {
								a {
									text-decoration: none !important;

									.post {
										margin-bottom: 15px;

										&-title {
											color: var(--Gray-1, #333);
											font-family: var(--wp--preset--font-family--manrope);
											font-size: var(--wp--preset--font-size--default);
											font-style: normal;
											font-weight: 500;
											line-height: 140%;
											margin-bottom: 0;
										}

										&-content {
											display: flex;
											flex-direction: column;
										}

										&-meta {
											margin-top: 3px;

											&--date {
												color: var(--wp--preset--color--low-pure);
												font-family: var(--wp--preset--font-family--manrope);
												font-size: 10px;
												font-weight: 400;
												line-height: 2.1;
												letter-spacing: 1px;
												text-transform: uppercase;
											}

											&--terms {
												gap: 0;

												.tax-category {
													margin-top: 0;

													li {
														color: var(--Gray-1, #333) !important;
														font-family: var(
															--wp--preset--font-family--manrope
														);
														font-size: 10px;
														font-style: normal;
														font-weight: 700;
														line-height: 21px;
														letter-spacing: 1px;
														text-transform: uppercase;
														background-color: transparent !important;
														margin-bottom: 0;
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
