@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.home {
    .index-wrapper {
        padding-top: mixins.size(30);

        // Remove margin-bottom of the all .wp-block-columns on Home
        .wp-block-columns {
            margin-bottom: 0;
        }
    }

    .wp-block-newspack-blocks-homepage-articles {
        // general style of the Newspack Blocks/Homepage Articles card
        article {
            .entry-wrapper {
                .cat-links {
                    a {
                        background-color: var(--wp--preset--color--highlight-pure); // @todo - make dynamic
                        border-radius: mixins.size(4);
                        color: var(--wp--preset--color--primary-pure);
                        font-family: variables.$f_title;
                        font-size: var(--wp--preset--font-size--small);
                        letter-spacing: -0.42px;
                        text-transform: uppercase;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 2px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            opacity: .9;
                            text-decoration: none;
                        }
                    }
                }

                // Base of the all titles 
                .entry-title {
                    color: var(--wp--preset--color--primary-pure);
                    font-size: var(--wp--preset--font-size--default);
                    font-weight: 700;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }

                .entry-meta {
                    color: var(--wp--preset--color--primary-light);
                    font-size: mixins.size(13);
                    font-weight: 700;
                }
            }
        }

        // Newspack Blocks/Homepage Articles card with image
        &.show-image {
            article {
                .post-thumbnail {
                    border-radius: 8px;
                }
            }

            // posts with image align on top
            &.image-aligntop {
                article {
                    .post-thumbnail {
                        margin-bottom: 15px;
                        max-height: 500px;
                        overflow: hidden;
                        position: relative;

                        @include mixins.mobile {
                            flex-basis: 100%;
                            margin-left: 0;
                        }

                        &::before {
                            content: "";
                            float: left;
                            padding-top: 56.25%;
                        }

                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }

                        img {
                            height: auto;
                            left: 50%;
                            max-width: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;

                            @include mixins.tablet {
                                min-width: 100%;
                            }
                        }
                    }

                    .entry-wrapper {
                        .cat-links {
                            margin-bottom: 15px;
                            margin-left: variables.$s_small;
                            margin-top: mixins.size(-50);

                            a {
                                background-color: var(--wp--preset--color--laranja-dark); // @todo - make dynamic
                                color: var(--wp--preset--color--secondary-light);
                                font-family: variables.$f_title;
                                font-size: var(--wp--preset--font-size--small);
                                font-weight: 800;
                                letter-spacing: -0.42px;
                                text-transform: uppercase;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }

                        .entry-meta {
                            color: var(--wp--preset--color--primary-light);
                        }
                    }
                }
            }

            // posts with image align on right
            &.image-alignright {
                article {
                    border-bottom: 1px solid var(--wp--preset--color--primary-pure);
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .post-thumbnail {
                        flex-basis: 70px;
                        padding-top: 10px;
                    }

                    .entry-wrapper {
                        flex-basis: calc(100% - 70px);
                    }
                }
            }
        }

        &.destaque-principal {
            border-radius: 8px;
            margin-bottom: mixins.size(30);
            overflow: hidden;

            @include mixins.mobile {
                margin-bottom: 0;
            }

            article {
                aspect-ratio: 16 / 9;
                background-color: var(--wp--preset--color--primary-pure);
                display: block;
                position: relative;
                
                @include mixins.tablet {
                    aspect-ratio: 1 / 1;
                }

                .post-thumbnail {
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;

                    a {
                        display: block;
                        // aspect-ratio: 16 / 9;
                        overflow: hidden;

                        &::before {
                            content: "";
                            padding-top: 56.25%;
                            float: left;
                        }

                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }

                        img {
                            height: 100%;
                            left: 50%;
                            object-fit: cover;
                            position: absolute;
                            top:  50%;
                            transform: translate(-50%, -50%);
                            width: 100%;

                            @media(max-width: variables.$tablet-width){
                                min-width: 100%;
                            }
                        }
                    }
                }

                .entry-wrapper {
                    backdrop-filter: blur(10px);
                    background-color: rgba(51, 51, 51, 0.70);
                    color: var(--wp--preset--color--secondary-light);
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                    left: 0;
                    max-width: mixins.size(375);
                    overflow-y: auto;
                    padding: var(--s-large);
                    position: relative;
                    right: 0;
                    z-index: 2;

                    @include mixins.mobile {
                        gap: mixins.size(15);
                        justify-content: flex-end;
                        padding: mixins.size(30) mixins.size(20);
                    }

                    p {
                        color: var(--wp--preset--color--secondary-light);
                        font-family: variables.$f_title;
                        margin-top: 0;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    h2 {
                        color: var(--wp--preset--color--secondary-light);
                        font-size: var(--wp--preset--font-size--medium);
                        font-weight: 800;
                        line-height: 1.2;
                    }
                }
            }
        }

        &.destaque-pequeno-sem-imagem {
            background-color: var(--wp--preset--color--primary-pure);
            border-radius: 8px;
            color: var(--wp--preset--color--primary-light);
            margin-bottom: mixins.size(30);
            overflow: hidden;
            padding: variables.$s_medium;

            @include mixins.tablet {
                padding: variables.$s_small;
            }

            article {
                .entry-wrapper {
                    .cat-links {
                        margin-bottom: variables.$s_small;
                    }
                }

                .entry-title {
                    color: var(--wp--preset--color--secondary-light);
                    margin-bottom: 0;
                }
            }
        }

        &.posts-sidebar {
            article {
                align-items: center;

                .post-thumbnail {
                    max-width: mixins.size(110);
                    overflow: hidden;
                }

                .entry-wrapper {
                    @include mixins.mobile {
                        flex-basis: 100%;
                    }

                    .entry-title {
                        a {
                            color: var(--wp--preset--color--primary-pure);
                            font-size: var(--wp--preset--font-size--small);
                        }
                    }
                }
            }
        }
    }

    // Section Especiais
    .sessao-especiais {
        h2 {
            font-family: "MidiaNinja", sans-serif;
        }
    }

    // Block heading <h1>, <h2>, etc...
    .wp-block-heading {
        margin-bottom: 15px;
        margin-top: 0;
    }
}