@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.home {

    #app{
        background-color: #f5f5f5;
    }

    .page-header{
        display: none;
    }
    .index-wrapper {
        padding-top: mixins.size(30);

        // Remove margin-bottom of the all .wp-block-columns on Home
        .wp-block-columns {
            margin-bottom: 0;
        }
    }

    .midia-antes-do-conteudo_2{
        margin-top : 2rem;
        margin-bottom : 2rem;
        display: flex;
        justify-content: center;
        @media(max-width: 992px){
            display: none;
        }
        a{
            img{
                width: 100%;
            }
        }
    }
    .wp-block-newspack-blocks-homepage-articles {
        // general style of the Newspack Blocks/Homepage Articles card
        article {
            .entry-wrapper {
                .cat-links {
                    a {
                        background-color: var(--wp--preset--color--highlight-pure); // @todo - make dynamic
                        border-radius: mixins.size(4);
                        color: var(--wp--preset--color--primary-pure);
                        font-family: variables.$f_title;
                        font-size: var(--wp--preset--font-size--small);
                        letter-spacing: -0.42px;
                        text-transform: uppercase;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 2px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            opacity: .9;
                            text-decoration: none;
                        }
                    }
                }

                // Base of the all titles 
                .entry-title {
                    color: var(--wp--preset--color--primary-pure);
                    font-size: var(--wp--preset--font-size--default);
                    font-weight: 700;
                    padding-bottom: 5px;
                    padding-top: 5px;
                }

                .entry-meta {
                    color: var(--wp--preset--color--primary-light);
                    font-size: mixins.size(13);
                    font-weight: 700;
                }
            }
        }

        // Newspack Blocks/Homepage Articles card with image
        &.show-image {
            article {
                .post-thumbnail {
                    border-radius: 8px;
                }
            }

            // posts with image align on top
            &.image-aligntop {
                article {
                    .post-thumbnail {
                        margin-bottom: 15px;
                        max-height: 500px;
                        overflow: hidden;
                        position: relative;

                        @include mixins.mobile {
                            flex-basis: 100%;
                            margin-left: 0;
                        }

                        &::before {
                            content: "";
                            float: left;
                            padding-top: 56.25%;
                        }

                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }

                        img {
                            height: auto;
                            left: 50%;
                            max-width: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;

                            @include mixins.tablet {
                                min-width: 100%;
                            }
                        }
                    }

                    .entry-wrapper {
                        .cat-links {
                            margin-bottom: 15px;
                            margin-left: variables.$s_small;
                            margin-top: mixins.size(-50);

                            a {
                                background-color: var(--wp--preset--color--laranja-dark); // @todo - make dynamic
                                color: var(--wp--preset--color--secondary-light);
                                font-family: variables.$f_title;
                                font-size: var(--wp--preset--font-size--small);
                                font-weight: 800;
                                letter-spacing: -0.42px;
                                text-transform: uppercase;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }

                        .entry-meta {
                            color: var(--wp--preset--color--primary-light);
                        }
                    }
                }
            }

            // posts with image align on right
            &.image-alignright {
                article {
                    border-bottom: 1px solid var(--wp--preset--color--primary-pure);
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .post-thumbnail {
                        flex-basis: 70px;
                        padding-top: 10px;
                    }

                    .entry-wrapper {
                        flex-basis: calc(100% - 70px);
                    }
                }
            }
        }

        &.destaque-principal {
            border-radius: 8px;
            margin-bottom: mixins.size(30);
            overflow: hidden;

            @include mixins.mobile {
                margin-bottom: 0;
            }

            article {
                aspect-ratio: 16 / 9;
                background-color: var(--wp--preset--color--primary-pure);
                display: block;
                position: relative;
                
                @include mixins.tablet {
                    aspect-ratio: 1 / 1;
                }

                .post-thumbnail {
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;

                    a {
                        display: block;
                        // aspect-ratio: 16 / 9;
                        overflow: hidden;

                        &::before {
                            content: "";
                            padding-top: 56.25%;
                            float: left;
                        }

                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }

                        img {
                            height: 100%;
                            left: 50%;
                            object-fit: cover;
                            position: absolute;
                            top:  50%;
                            transform: translate(-50%, -50%);
                            width: 100%;

                            @media(max-width: variables.$tablet-width){
                                min-width: 100%;
                            }
                        }
                    }
                }

                .entry-wrapper {
                    backdrop-filter: blur(10px);
                    background-color: rgba(51, 51, 51, 0.70);
                    color: var(--wp--preset--color--secondary-light);
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                    left: 0;
                    max-width: mixins.size(375);
                    overflow-y: auto;
                    padding: var(--s-large);
                    position: relative;
                    right: 0;
                    z-index: 2;

                    @include mixins.mobile {
                        gap: mixins.size(15);
                        justify-content: flex-end;
                        padding: mixins.size(30) mixins.size(20);
                    }

                    p {
                        color: var(--wp--preset--color--secondary-light);
                        font-family: variables.$f_title;
                        margin-top: 0;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    h2 {
                        color: var(--wp--preset--color--secondary-light);
                        font-size: var(--wp--preset--font-size--medium);
                        font-weight: 800;
                        line-height: 1.2;
                    }
                }
            }
        }

        &.destaque-pequeno-sem-imagem {
            background-color: var(--wp--preset--color--primary-pure);
            border-radius: 8px;
            color: var(--wp--preset--color--primary-light);
            margin-bottom: mixins.size(30);
            overflow: hidden;
            padding: variables.$s_medium;

            @include mixins.tablet {
                padding: variables.$s_small;
            }

            article {
                .entry-wrapper {
                    .cat-links {
                        margin-bottom: variables.$s_small;
                    }
                }

                .entry-title {
                    color: var(--wp--preset--color--secondary-light);
                    margin-bottom: 0;
                }
            }
        }

        &.posts-sidebar {
            article {
                align-items: center;

                .post-thumbnail {
                    max-width: mixins.size(110);
                    overflow: hidden;
                }

                .entry-wrapper {
                    @include mixins.mobile {
                        flex-basis: 100%;
                    }

                    .entry-title {
                        a {
                            color: var(--wp--preset--color--primary-pure);
                            font-size: var(--wp--preset--font-size--small);
                        }
                    }
                }
            }
        }
    }

    .grid-latest-posts{
        .middle-column{
            @media(max-width: 992px){
                display: none;
            }    
        }
        :first-child{
            @media(max-width: 992px){
                order: 2;
            }
        }
        :nth-child(3){
            @media(max-width: 992px){
                order: 1;
            }
            
        } 
    }

    .anuncio-ninja-desktop,
    .anuncio-doritos-desktop{
        margin-top : 2rem;
        margin-bottom : 2rem;
        display: flex;
        justify-content: center;
        @media(max-width: 992px){
            display: none;
        }
    }

    .anuncio-ninja-mobile,
    .anuncio-doritos-mobile{
        margin-top : 2rem;
        margin-bottom : 2rem;
        display: flex;
        justify-content: center;
        @media(min-width: 993px){
            display: none;
        }
    }

    .btn-latest-posts{
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        @media(min-width: 993px){
            display: none;
        }
        .wp-block-button{
            background-color: #111;
            border-radius: 8px;
            
            
            a{
                font-family: 'Manrope', serif;
                color: #fff;
                font-size: 13px;
                font-weight: 700;
                padding: 18px 30px;
                color: #FFF !important;
                border: none;
            }
        }  
    }

    // Section Especiais
    .sessao-especiais {
        margin-bottom: 0 !important;
        .container{
            padding: 50px 0px 50px 100px !important;
            @media(max-width: 992px){
                padding: 50px 0px !important;
            }
        }
        h2 {
            font-family: "MidiaNinja", sans-serif;
            font-size: 38px;
            font-weight: 400;
            letter-spacing: normal;
           
        }
    }
    
    .sessao-mais-lidas{
        background-color: #111;
        h2 {
            font-family: "MidiaNinja", sans-serif;
            font-size: 54px;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: normal;
        }
        .latest-horizontal-posts-block__slides{
            &::after{
                background: linear-gradient(270deg,#111 44.44%,rgba(38,38,38,0) 90%);
            }
            &::before{
                background: linear-gradient(-270deg,#111 44.44%,rgba(38,38,38,0) 90%);
                
            }
        }
    }

    .sessao-opiniao{
        font-family: 'Manrope', serif;
        .grid-cards-opiniao{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2rem;
            @media(max-width: 992px){
                grid-template-columns: 1fr;

            }
            .wp-block-newspack-blocks-homepage-articles{
                border: none;
                &:nth-child(n+2){
                    @media(max-width: 992px){
                        display: none;
                    }
                    
                }
                figure, img{
                    border-radius: 8px 8px 0px 0px;
                }
                .entry-wrapper{
                    padding-left: 32px;
                    padding-right: 32px;
                    border-bottom: 1px solid #ccc;
                    border-right: 1px solid #ccc;
                    border-left: 1px solid #ccc;
                    border-radius: 0px 0px 8px 8px;
                   .cat-links{
                    position: relative;
                    top: -150px;
                    left: -32px;
                    @media(max-width: 992px){
                        top: -195px;
                    }
                   }
                   .entry-title {
                    padding: 18px 0px 27px 0px;
                    border-bottom: 1px solid #ccc;
                    font-size: 20px;
                    line-height: 130%;
                   }
                   p{
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 145%;
                    color: #333;
                    padding-top: 18px;
                    padding-bottom: 15px; 
                   }
                   .midia-conteudo_2{
                    display: none;
                   } 
                }
            }
            .wp-block-buttons{
                display: flex;
                justify-content: right;
                margin-right: -100px;
                @media(max-width: 992px){
                    display: none;
                }                
            }
            .wp-block-button{
                background-color: #111;
                border-radius: 8px;
                
                
                a{
                    font-family: 'Manrope', serif;
                    color: #fff;
                    font-size: 13px;
                    font-weight: 700;
                    padding: 18px 30px;
                    color: #FFF !important;
                    border: none;
                }
            } 
        }
        .wp-block-newspack-blocks-homepage-articles{
            border: 1px solid #ccc;
            border-radius: 8px;
            .article-section-title{
                padding-top: 40px;
                padding-left: 35px;
                span{
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 145%;
                    color: #535353;
                    text-transform: uppercase;
                }
            }
            h3{
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 130%;
                padding-left: 35px;
                padding-right: 35px;
                margin-bottom: 25px;
            }
            .entry-meta{
                padding-left: 35px;
                padding-right: 35px;
                margin-bottom: 2rem;
            }   
        }
    }

    .who-finances{
        background: #111 !important;
        min-height: 108px;
        display: flex;
        align-items: center;

        @media(max-width: 1320px){
            padding-left: 15px;
            padding-right: 15px;
        }
        
        @media(max-width: 992px){
            background: #FDF250 !important;
            border-radius: 16px;
            padding: 25px 42px 25px 45px;
        }
        .wp-block-columns{
            margin-top: 1.8rem;
            @media(max-width: 992px){
                flex-direction: column;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        h2{
            font-family: "MidiaNinja", sans-serif;
            color: #FBF36E;
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0;
            letter-spacing: normal;
            @media(max-width: 992px){
                color: #000;
                font-family: 'Manrope', serif;
                font-size: 24px;
                font-weight: 800;
                text-align: center;
                margin-bottom: -15px;
                line-height: 130%;
            }
            img{
                margin-left: 4.5rem;
                @media(max-width: 992px){
                    display: none;
                }
            }
        }
        .finances-title-mobile{
            @media(max-width: 992px){
                color: #000;
                font-family: "MidiaNinja", sans-serif;
                font-weight: 400;
                text-align: center;
                font-size: 24px;
                line-height: 130%;
            }
        }
        .wp-block-buttons{
            @media(max-width: 992px){
                display: flex;
                justify-content: center;
            }
        }
        .wp-block-button{
            @media(max-width: 992px){
                background-color: #111;
                border-radius: 8px;
            }
            a{
                font-family: 'Manrope', serif;
                color: #fff;
                border-radius: 4px;
                border: 2px solid #FFF;
                font-size: 13px;
                font-weight: 700;
                padding: 15px 30px;
                color: #FFF !important;
                @media(max-width: 992px){
                   
                    border: 2px solid #111;
                }  
            }
        } 
    }
    .videos{
        h2 {
            font-family: "MidiaNinja", sans-serif;
            font-size: 54px;
            font-weight: 400;
            margin-bottom: 0;
            letter-spacing: normal;
        }
    }
    .acervo{
        margin-top: 2rem;
        margin-bottom: 0;
        .container{
            gap: 2rem;
        }
        .latest-horizontal-posts-block__slides{
            flex-basis: 80% !important;
        }
        .latest-horizontal-posts-block__heading{
            flex-basis: 20% !important;
            h2{
                font-family: 'Manrope', serif;
                font-size: 32px;
                font-style: normal;
                font-weight: 800;
                line-height: 120%;
                letter-spacing: -0.64px;
                color: #FFF;
                text-transform: uppercase;
            }
            p{
                font-family: 'Manrope', serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 140%;
            }
        }
    }
    .newsletter{
        background-color: #111;
        .wp-block-columns{
            gap: 100px;
            @media(max-width: 992px){
                display: block;  
            }
        }
        .wp-block-heading{
            color: #FFF;
            font-family: "MidiaNinja", serif;
            font-size: 42px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; 
            letter-spacing: normal;
            @media(max-width: 782px){
                font-size: 32px;
                text-align: center;
            }
        }
        p{
            font-family: 'Manrope', serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 145%;
        }
        form{
            .mc4wp-form-fields{
                input[type=name],
                input[type=email]{
                    width: 572px;
                    padding: 1rem;
                    border-radius: 8px;
                    border: none;
                    margin-bottom: 1rem;
                    color: #111;
                    &::placeholder{
                        font-size: 16px;
                        color: #595D62;
                        @media(max-width: 782px){
                            color: #f5f5f5;
                        }
                    }
                    @media(max-width: 782px){
                        background-color: transparent;
                        border: 1px solid #d9d9d9;
                        color: #f5f5f5;

                    }
                    @media(max-width: 600px){
                        width: 326px;
                    }
                    @media(max-width: 359px){
                        width: 306px;
                    }
                    
                }
                input[type=submit]{
                    background-color: #FBF36E;
                    border: none;
                    color: #333;
                    font-family: 'Manrope', serif;
                    font-size: 14px;
                    font-weight: 800;
                    text-transform: uppercase;
                    padding: 1rem 3.8rem;
                    border-radius: 8px;
                    @media(max-width: 600px){
                        max-width: 326px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .colunistas-ninja{
        background-color: #f5f5f5;
        h2{
            font-family: 'Manrope', serif;
            font-size: 32px;
            font-style: normal;
            font-weight: 800;
            line-height: 120%; 
            letter-spacing: -0.96px;
            color: #111;
        }
        .container{
            max-width: 1170px !important;
            width: 100%;
            
        }
        .latest-horizontal-posts-block__slides{
            &::after{
               display: none;
            }
            &::before{
                display: none;
            }
        }
        .slide{
            display: flex;
            .post{
                display: flex;
                .post-thumbnail{
                    margin-top: 15px;    
                    width: 80px;
                    height: 80px;
                    border-radius: 50px;
                    img{
                        max-width: 80px;
                        height: 80px;
                        border-radius: 50px;
                    }
                }
                .post-content{
                    font-family: 'Manrope', serif;
                    max-width: 170px;
                    width: 100%;
                   .post-title{
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 140%;
                   }
                   p{
                    font-size: 13px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 145%;
                    color: #848484;
                   } 
                }
            }
        }
        .post-thumbnail{
            
            width: 80px;
            height: 80px;
            border-radius: 50px;
            img{
                max-width: 80px;
                height: 80px;
                border-radius: 50px;
            }
        }
        .post-content{
            font-family: 'Manrope', serif;
            max-width: 170px;
            width: 100%;
           .post-title{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: 140%;
           }
           p{
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 145%;
            color: #848484;
           } 
        }
        .slick-arrow {
            background-color: #ccc !important; 
        }

        .slick-arrow.slick-disabled {
            background-color: #fff !important;
        }
        li.slick-active {
            background-color: #ccc !important;
           
        }
    }
    .seleta{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 0;
        @media(max-width: 782px){
            grid-template-columns: 1fr 1fr;
        }
        figure{
            img{
                width: 100%;
            }
        }
        .wp-element-caption{
            text-align: center;
            margin-top: -185px;
            margin-bottom: 155px;
            font-family: 'Manrope', serif;
            font-size: 24px;
            font-style: normal;
            font-weight: 800;
            line-height: 125%; /* 30px */
            letter-spacing: -0.24px;
            color: #FFF;
            @media(max-width: 992px){
                margin-top: -130px;
                margin-bottom: 100px;  
            }
            @media(max-width: 782px){
                margin-top: -185px;
                margin-bottom: 155px;   
            }

            @media(max-width: 400px){
                margin-top: -105px;
                margin-bottom: 45px;  
            }
        }
    }
}