@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.home {
    .wp-block-newspack-blocks-homepage-articles {
        // general style of the Newspack Blocks/Homepage Articles card
        article {
            .entry-wrapper {
                .cat-links {
                    a {
                        background-color: var(--wp--preset--color--highlight-pure); // @todo - make dynamic
                        border-radius: mixins.size(4);
                        color: var(--wp--preset--color--primary-pure);
                        font-family: 'Microgramma Medium', sans-serif;
                        font-size: var(--wp--preset--font-size--small);
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        padding-left: 5px;
                        padding-right: 5px;
                        padding-top: 2px;
                        transition: all .3s ease-in-out;

                        &:hover {
                            opacity: .9;
                            text-decoration: none;
                        }
                    }
                }

                .entry-title {
                    font-size: var(--wp--preset--font-size--default);
                    font-weight: 700;
                    letter-spacing: -0.48px;
                }

                .entry-meta {
                    color: var(--wp--preset--color--primary-light);
                }
            }
        }

        // posts with image
        &.show-image {
            // posts with image align on top
            &.image-aligntop {
                article {
                    .post-thumbnail {
                        margin-bottom: 15px;
                        max-height: 500px;
                        overflow: hidden;
                        position: relative;

                        @include mixins.mobile {
                            flex-basis: 100%;
                            margin-left: 0;
                        }

                        &::before {
                            content: "";
                            float: left;
                            padding-top: 56.25%;
                        }

                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }

                        img {
                            height: auto;
                            left: 50%;
                            max-width: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
    
                            @include mixins.tablet {
                                min-width: 100%;
                            }
                        }
                    }

                    .entry-wrapper {
                        .cat-links {
                            margin-bottom: 15px;
                            margin-top: -35px;

                            a {
                                background-color: var(--wp--preset--color--laranja-dark); // @todo - make dynamic
                                color: var(--wp--preset--color--secondary-light);
                                font-family: variables.$f_title;
                                font-size: var(--wp--preset--font-size--small);
                                font-weight: 800;
                                letter-spacing: -0.42px;
                                text-transform: uppercase;
                                padding-left: 5px;
                                padding-right: 5px;
                            }
                        }

                        .entry-title {
                            font-size: var(--wp--preset--font-size--small-standard);
                            font-weight: 800;
                            letter-spacing: -0.6px;
                            line-height: 1.2;
                        }

                        > p {
                            margin-bottom: 15px;

                            @include mixins.mobile {
                                display: none;
                            }
                        }

                        .entry-meta {
                            color: var(--wp--preset--color--primary-light);
                        }
                    }
                }
            }

            // posts with image align on right
            &.image-alignright {
                article {
                    border-bottom: 1px solid var(--wp--preset--color--primary-pure);
                    padding-bottom: 20px;
                    margin-bottom: 20px;

                    &:last-child {
                        border-bottom: 0;
                    }

                    .post-thumbnail {
                        flex-basis: 70px;
                        padding-top: 10px;
                    }

                    .entry-wrapper {
                        flex-basis: calc(100% - 70px);
                    }
                }
            }
        }
    }

    .destaque-superior {
        margin-bottom: 60px;
        min-height: 200px;
        padding: 0;

        @include mixins.mobile {
            margin-bottom: 30px;
        }

        .wp-block-newspack-blocks-homepage-articles {
            margin-bottom: 0;
            max-width: 1170px;
            position: relative;

            &.show-image.image-alignright {
                article {
                    align-items: center;
                    justify-content: flex-end;
                    margin-bottom: 0;
                    padding-bottom: 0;
                    text-align: right;
                    
                    @include mixins.mobile {
                        align-items: initial;
                        flex-direction: column;
                    }

                    .post-thumbnail {
                        background-color: var(--wp--preset--color--primary-dark);
                        flex-basis: 70%;
                        margin-bottom: 0;
                        max-height: 500px;
                        overflow: hidden;
                        position: relative;
    
                        @include mixins.mobile {
                            flex-basis: 100%;
                            margin-left: 0;
                        }
    
                        &::before {
                            content: "";
                            float: left;
                            padding-top: 56.25%;
    
                            @include mixins.tablet {
                                padding-top: 100%;
                            }
                        }
    
                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }
    
                        img {
                            height: auto;
                            left: 50%;
                            max-width: 100%;
                            position: absolute;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
    
                            @include mixins.tablet {
                                min-width: 100%;
                            }
                        }
                    }

                    .entry-wrapper {
                        max-width: 375px;
                        padding: 15px;
                        position: relative;

                        @include mixins.mobile {
                            max-width: 100%;
                            padding: 30px 15px;
                        }

                        // arrow
                        &::before {
                            @include mixins.triangle( right, 15px, 15px, var(--wp--preset--color--primary-dark));
                            position: absolute;
                            right: -30px;
                            top: 30px;
                            z-index: 1;

                            @include mixins.mobile {
                                @include mixins.triangle( bottom, 15px, 15px, var(--wp--preset--color--primary-dark));
                                right: 70px;
                                top: inherit;
                                bottom: -15px;
                            }
                        }

                        .cat-links {
                            justify-content: flex-end;

                            a {
                                background-color: var(--wp--preset--color--laranja-dark); // @todo - make dynamic
                                color: var(--wp--preset--color--primary-dark);
                            }
                        }

                        .entry-title {
                            color: var(--wp--preset--color--secondary-light);
                            font-size: var(--wp--preset--font-size--medium);
                            font-weight: 800;
                            letter-spacing: -0.96px;
                            line-height: 1.2;
                        }

                        .entry-meta {
                            color: var(--wp--preset--color--secondary-dark);
                            justify-content: flex-end;
                        }
                    }
                }
            }
        }
    }

    .slider-especiais {
        .wp-block-newspack-blocks-homepage-articles {
            &.show-image.image-aligntop {
                article {
                    align-items: center;
                    display: flex;
                    flex-direction: column;

                    .post-thumbnail {
                        border-radius: 50%;
                        border: 2px solid var(--wp--preset--color--primary-dark);
                        outline: 2px solid var(--wp--preset--color--highlight-pure);
                        width: 105px;
                        height: 105px;

                        img {
                            height: 100%;
                            left: inherit;
                            max-width: inherit;
                            object-fit: cover;
                            position: relative;
                            top: inherit;
                            transform: none;
                            width: 100%;
                        }

                        &::before,
                        &::after {
                            display: none;
                        }
                    }

                    .entry-wrapper {
                        .entry-title {
                            font-size: var(--wp--preset--font-size--default);
                            font-weight: 700;
                            letter-spacing: -0.48px;
                            line-height: 1.2;
                        }
                    }
                }
            }
        }
    }

    // Block heading <h1>, <h2>, etc...
    .wp-block-heading {
        margin-bottom: 15px;
        margin-top: 0;
    }
}

.home {
    .index-wrapper {
        padding-top: 30px;

        // Remove margin-bottom of the all .wp-block-columns on Home
        .wp-block-columns {
            margin-bottom: 0;
        }
    }

    .wp-block-newspack-blocks-homepage-articles {
        &.destaque-principal {
            border-radius: 8px;
            margin-bottom: 30px;
            overflow: hidden;

            article {
                aspect-ratio: 16 / 9;
                display: block;
                position: relative;
                
                @include mixins.tablet {
                    aspect-ratio: 1 / 1;
                }

                .post-thumbnail {
                    height: 100%;
                    left: 0;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    z-index: 1;

                    a {
                        display: block;
                        // aspect-ratio: 16 / 9;
                        overflow: hidden;

                        &::before {
                            content: "";
                            padding-top: 56.25%;
                            float: left;
                        }

                        &::after {
                            clear: left;
                            content: " ";
                            display: table;
                        }

                        img {
                            height: 100%;
                            left: 50%;
                            object-fit: cover;
                            position: absolute;
                            top:  50%;
                            transform: translate(-50%, -50%);
                            width: 100%;

                            @media(max-width: variables.$tablet-width){
                                min-width: 100%;
                            }
                        }
                    }
                }

                .entry-wrapper {
                    backdrop-filter: blur(10px);
                    background-color: rgba(51, 51, 51, 0.70);
                    color: var(--wp--preset--color--secondary-light);
                    display: flex;
                    flex-direction: column;
                    height: 100%;
                    justify-content: space-between;
                    left: 0;
                    max-width: mixins.size(375);
                    overflow-y: auto;
                    padding: var(--s-large);
                    position: relative;
                    right: 0;
                    z-index: 2;

                    @include mixins.mobile {
                        padding: mixins.size(20);
                    }

                    p {
                        color: var(--wp--preset--color--secondary-light);
                        font-family: variables.$f_title;
                        margin-top: 0;

                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }

                    h2 {
                        font-size: var(--wp--preset--font-size--medium);
                        font-weight: 800;
                        line-height: 1.2;
                    }
                }
            }
        }
    }
}