.page-a-midia-ninja {
    #app {
        padding-top: 133px;

        @media (min-width: 768px) {
            padding-top: 140px;
        }

        .page-content {
            .wp-block-group {
                margin: 32px 0;

                @media (min-width: 768px) {
                    margin: 100px 0;
                }
            }
        }
    }

    footer {
        .newsletter {
            display: none;
        }
    }
}

.page-cpi-da-covid {

    #app {
        background-color: black;

        #main-header {
            display: none !important;
        }

        #menu-cpi {
            display: none;
        }

        #main-content {
            background-color: black;
        }

        #inicio {
            margin-top: 0;
        }

        .et_pb_section_2 {
            p {
                color: white;
                font-family: 'Tungsten';
                font-size: 1.5rem;
            }
        }

        .fixed-header {
            display: none;
        }

        .et_menu_container {
            display: none;
        }

        .et_search_outer {
            display: none;
        }

        .et_pb_text_inner {
            font-family: 'Tungsten';
            font-size: 1.5rem;

            h1 {
                font-size: 5rem;
            }

            p {
                color: white;
                font-family: 'Tungsten';
                font-size: 1.5rem;
            }

            ul {
                li {
                    font-size: 1.2rem;
                }
            }
        }

        .et_pb_row_52 {

            .et_pb_text {
                height: fit-content !important;
                margin: 5% 0;
            }

            .et_pb_text_inner {
                p {
                    color: black;
                }
            }
        }

        .et_pb_team_member {
            .et_pb_member_position {
                font-family: 'Tungsten' !important;
                font-size: 1.25rem;
                line-height: 1;
            }
        }


        #main-footer {
            display: none;
        }
    }
}

.privacy-policy,
.page-termos-e-condicoes {

    #app .container .row {
        padding-top: 10rem;
        position: relative;

        .content {
            position: unset;

            .wp-block-columns {
                position: absolute;
                top: 0;
                left: 0;
                width: 1170px;
                max-width: 100%;
                border-radius: 8px;
            }

            .wp-block-column:has(.wp-block-group) {
                overflow: auto;

                .wp-block-group {
                    overflow: scroll;
                    width: max-content;
                }
            }
        }
    }

    ol {
        padding-left: 24px;

        a {
            color: #262626;
        }
    }

    .sidebar-page {
        margin-bottom: 4rem;
    }

    @media (min-width: 992px) {
        .sidebar-page {
            width: 30%;
        }

        .content {
            width: 57%;
            float: right;
        }
    }
}

.page-termos-e-condicoes {

    .page-title {
        margin-top: 0;
    }

    #cmplz-document p {
        font-size: 1rem;
    }
}