@use "./../1-settings/s-variables"as variables;
@use "./../2-atoms/a-mixins"as mixins;
@import "./../5-blocks/b-latest-vertical-posts";
.page-opiniao{
	#app {
		.container > .content > .page{
			.page-content{
				.opiniao-header{
					.wp-block-column:last-child{
						.latest-vertical-posts-block{
							&__slides{
								.slick-list > .slick-track > .slick-slide > div > .slide > a > .post{
									.post-content > .post-title{
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
    }
}

.page-galeria {
    background-color: #f5f5f5;

    #app {
        background-color: #f5f5f5;

        h2 {
            font-family: Manrope;
            font-size: 32px;
            font-weight: 800;
            line-height: 38.4px;
            letter-spacing: -0.02em;
            text-align: left;
            color: #fff;
        }

        h3 {
            font-family: Manrope;
            font-size: 24px;
            font-weight: 800;
            line-height: 30px;
            letter-spacing: -0.01em;
            text-align: left;

        }

        h5 {
            font-family: Manrope;
            font-size: 13px;
            font-weight: 500;
            line-height: 18.85px;
            text-align: left;
        }

        .wp-block-columns {
            @media (max-width: 1199px) {
                display: block;
            }

            .wp-block-column:last-child {
                .latest-vertical-posts-block {
                    .latest-vertical-posts-block__footer {
                        .latest-vertical-posts-block__dots {
                            .slick-dots {
                                .slick-active {
                                    background-color: var(--wp--preset--color--low-light);
                                }

                                li {
                                    background-color: var(--wp--preset--color--dark-pure);
                                }
                            }
                        }
                    }
                }
            }
        }

        .high-spot-block {
            @media (max-width: 1199px) {
                margin-bottom: 2rem;
            }

            .high-spot-block__content {
                aspect-ratio: 770 / 506;

                @media (max-width: 600px) {
                    aspect-ratio: 0;
                    max-width: 570px;
                    width: 100%;
                }

                .high-spot-block__info {
                    padding: 83px 76px 80px 70px;
                    width: 51%;

                    @media (max-width: 740px) {
                        padding: 173px 20px 30px 40px;
                    }

                    @media (max-width: 600px) {
                        padding: 40px 25px;
                        width: 100%;
                    }
                }
            }
        }

        .post--grid-columns {
            padding: 47px 32px 42px;
            margin: 0px;
            height: 100%;
            background: #000;
            border: none;
            height: auto;

            .latest-vertical-posts-block__slides {
                .slide {
                    .slide-grid {
                        gap: 20px;

                        @media (max-width: 600px) {
                            grid-template-columns: 1fr 1fr;
                        }

                        a {
                            text-decoration: none;
                        }

                        .post {
                            .post-thumbnail {
                                width: 136px;
                                height: 97px;

                                @media (max-width: 782px) {
                                    width: 122px;
                                    height: 87px;
                                }
                            }

                            .post-content {
                                .post-title {
                                    color: #fff !important;
                                    font-family: "Manrope", sans-serif;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 130%;
                                    margin-top: 0;
                                    display: -webkit-box;
									line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    -webkit-line-clamp: 1;
                                    overflow: hidden;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
