@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";

.page-tv-ninja{
    #app{
        background-color:var(--wp--preset--color--secondary-light);
        .wp-block-columns{
            @media(max-width: 992px){
                display: block;
            }
            >:first-child{
                background: var(--PURE, #262626);
                padding: 16px 20px 40px 25px;
                border-radius: 8px;
                @media(max-width: 767px){
                    padding: 1px 15px 22px 15px;
                }
				h2{
					font-feature-settings: 'calt' on;
                    font-family: "MidiaNinja";
                    font-size: 3rem;
                    color: #fff;
                    @media(max-width: 767px){
                        margin-bottom: 1.7rem;
                    }
				}
                .wp-block-automatic-youtube-gallery-block{
                    .ayg{
                        .ayg-playlist-row{
                            .ayg-player{
                                .ayg-player-wrapper{
                                    iframe{
                                        border-radius: 8px;
										#player{
											.ytp-gradient-top, .ytp-show-cards-title{
												display: none;
											}
											.ytp-cued-thumbnail-overlay{
												.ytp-large-play-button{
													svg{
														border-radius: 50px;
														path{
															fill: #4f4f4f;
														}
													}
												}
												&:hover{
													.ytp-large-play-button{
														svg{
															border-radius: 50px;
															path{
																fill: #4f4f4f;
															}
														}
													}
												}
											}
										}
                                    }
                                }
                            }
                            .ayg-gallery{
                                scrollbar-color: #666 #333;
                                scrollbar-width: thin;
                                background-color: #262626;
                                .ayg-item{
                                    background: var(--PURE, #262626);
                                    @media(max-width: 767px){
                                        padding-right: 8px;
                                    }
                                    :hover{
                                        background: var(--PURE, #262626);
                                        @media(max-width: 767px){
                                            padding-right: 8px;
                                        }
                                    }
                                }
                                .ayg-item:nth-child(2n){
                                    background-color: #262626;
                                }
                                .ayg-thumbnail{
                                    display: flex;
                                    flex-direction: column-reverse;
                                    padding: 10px 10px 10px 33px;
                                    @media(max-width: 767px){
                                        flex-direction: row;
                                        padding: 10px 0;
                                    }
                                    .ayg-thumbnail-image-wrapper{
                                        img{
                                            width: 136px;
                                            height: 75.052px;
                                            border-radius: 8px;
                                        }
                                        svg{
                                            display: none;
                                        }
                                    }
                                    .ayg-thumbnail-caption{
                                        margin-left: 0;
                                        @media(max-width: 767px){
                                            margin-left: 45px;
                                        }
                                        .ayg-thumbnail-title{
                                            font-weight: 500;
                                            color: #fff;
                                            @media(max-width: 767px){
                                                font-size: 10px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .ayg-player-caption{
                            display: none;
                        }
                    }
                }
			}
			.wp-block-image {

				img {
					border-radius: 8px;
					@media(max-width: 992px){
						margin-top: 32px;
					}
				}
			}

        }
        .model-videos{
            background-color: var(--wp--preset--color--secondary-pure);
            margin-bottom: 0;
			@media(max-width: 782px){
				background-color: var(--wp--preset--color--secondary-light);
			}

			.container{
				@media(max-width: 992px){
					padding: 50px 15px 48px 15px;
				}
				@media(max-width: 576px){
					padding: 16px 0px 48px 0;
					margin-left: -12px;
				}
			}

            .latest-horizontal-posts-block__content{
                padding-left: 6rem;
				padding-bottom: 1rem;
				@media(max-width: 1052px){
					padding-bottom: 2rem;
				}
                @media(max-width: 992px){
                    padding-left: 15px;
					padding-bottom: 5.2rem;

                }
				@media(max-width: 767px){
					padding-bottom: 0rem;

				}
                h2{
                    color: var(--wp--preset--color--primary-dark);
                    font-size: 3rem;
                    font-weight: 800;
					@media(max-width: 992px){
						text-align: center;

					}
                }
            }
            .latest-horizontal-posts-block__slides {
                &::after {
                    display: none;
                }
                &::before {
                   display: none;
                }
            }

            .slick-list{
                height: 332px;
				margin-left: 1rem;
				@media(max-width: 1052px){
					margin-top: 1.2rem;

				}
                @media(max-width: 767px){
                    height: 265px;
					margin-left: 0;
                }
            }
            .slick-slide, .videos, .post-thumbnail, img{
                width: 170px;
                height: 302px;
                border-radius: 12px;
				@media(max-width: 1052px){
					width: 140px;
                	height: 272px;
				}
				@media(max-width: 876px){
					width: 122px;
                	height: 225px;
				}
                @media(max-width: 782px){
                    width: 132px !important;
                    height: 235px;
                }
            }
            .post-thumbnail{
                .play{
                    display: none;
                }
            }
            .slick-arrow {
                transition: none !important;
            }
            .slick-arrow.slick-prev {
                background-color: var(--wp--preset--color--primary-light) !important;
                background-image: url($p_theme_assets + "/images/arrow-white-next.svg");
                transform: rotate(180deg);
                &:hover {
                    background-color: #333 !important;
                    background-image: url($p_theme_assets + "/images/arrow-white-next.svg");
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                }
            }
            .slick-arrow.slick-next {
                background-color: var(--wp--preset--color--primary-light) !important;
                background-image: url($p_theme_assets + "/images/arrow-left-slider-white.png");
                &:hover {
                    background-color: #333 !important;
                    background-image: url($p_theme_assets + "/images/arrow-left-slider-white.png");
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                }
            }
            .slick-arrow.slick-disabled {
                background-color: #898989 !important;
            }
            li.slick-active {
                background-color: #898989;
            }
        }
    }
}
