@import "./../1-settings/_s-variables";
@import '../2-atoms/a-mixins';

#app {
    background-color: #F5F5F5 !important;

    .page-title{
        font-size: 32px;
        font-weight: 800;
        background-color: #f5f5f5;
        z-index: 1;
        position: relative;
        margin-left: 70px;
    }

    .col-md-9.content{
        .wp-block-heading{
            margin-left: 70px;

        }
        .who-finances-desktop, .newsletter-desktop{
            display: none;
        }
    }

    .col-md-12.content-bottom{
        .page-title, .wp-block-coblocks-accordion, .wp-block-heading{
            display: none;
        }
    }

    .page-template-page-anchor & {
        overflow-x: initial;
    }

    .sidebar-page {
        @include desktop {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            top: 100px;

            .admin-bar & {
                top: 132px;
            }
        }
    }

    .anchor-title {
        border-bottom: solid 1px;
        font-weight: bold;
        padding-bottom: 15px;
    }

    #anchors {
        list-style: none;
        padding-left: 0;

        li a {
            color: #333333;
            display: block;
            font-weight: bold;
            margin-bottom: 20px;
            text-decoration: none;
        }
    }
    .wp-block-coblocks-accordion{
		margin: 2.5rem auto;
		max-width: 700px;
		width: 100%;
		.wp-block-coblocks-accordion-item{
			margin: 0 0 0;
			
            border-bottom: 1px solid #CAC9D4;;
			
			border-radius: 0;
			details{
				padding: 0 15px 0 0;
				summary.wp-block-coblocks-accordion-item__title{
					background-color: #F5F5F5;
					padding: 32px 25px 32px 0;
					font-size: 21px;
					font-style: normal;
					display: block;
					&:hover{
						&::after{
							background: #F5F5F5 !important;
						}	
					}
					&:focus{
						outline: none !important;
					}
					span{
						font-size: 16px;
						font-weight: 400;
					}
				}
				::after{
					bottom: 0;
					content: "+";
					left: 650px;
					position: absolute;
					top: 45px;
					font-size: 28px;
					color: #000;
					font-weight: 400;
					@media(max-width:725px){
						left: 630px;							
					}
					@media(max-width:710px){
						left: 615px;							
					}
					@media(max-width:690px){
						left: 590px;							
					}
					@media(max-width:665px){
						left: 570px;							
					}
					@media(max-width:640px){
						left: 540px;							
					}
					@media(max-width:610px){
						left: 515px;							
					}
					@media(max-width:580px){
						left: 490px;							
					}
					@media(max-width:560px){
						left: 470px;							
					}
					@media(max-width:540px){
						left: 450px;							
					}
					@media(max-width:520px){
						left: 430px;							
					}
					@media(max-width:500px){
						left: 410px;							
					}
					@media(max-width:480px){
						left: 390px;							
					}
					@media(max-width:460px){
						left: 370px;							
					}
					@media(max-width:440px){
						left: 350px;							
					}
					@media(max-width:420px){
						left: 330px;							
					}
					@media(max-width:400px){
						left: 310px;							
					}
					@media(max-width:380px){
						left: 290px;							
					}
					@media(max-width:360px){
						left: 270px;							
					}
					@media(max-width:340px){
						left: 250px;							
					}

				}
				
				.wp-block-coblocks-accordion-item__content{
					padding: 0px 25px 25px 0;
					border-left: none !important;
					border-right: none !important;
					
					p{
						font-size: 19.2px;
					}
				}
			}
			&:last-child{
				border-bottom: none;
			}
			details[open]{
				::after{
					display: none;
				}
				:before{
					bottom: 0;
					content: "-";
					left: 650px;
					position: absolute;
					top: 45px;
					font-size: 28px;
					color: #000;
					font-weight: 400;
					@media(max-width:725px){
						left: 630px;							
					}
					@media(max-width:710px){
						left: 615px;							
					}
					@media(max-width:690px){
						left: 590px;							
					}
					@media(max-width:665px){
						left: 570px;							
					}
					@media(max-width:640px){
						left: 540px;							
					}
					@media(max-width:610px){
						left: 515px;							
					}
					@media(max-width:580px){
						left: 490px;							
					}
					@media(max-width:560px){
						left: 470px;							
					}
					@media(max-width:540px){
						left: 450px;							
					}
					@media(max-width:520px){
						left: 430px;							
					}
					@media(max-width:500px){
						left: 410px;							
					}
					@media(max-width:480px){
						left: 390px;							
					}
					@media(max-width:460px){
						left: 370px;							
					}
					@media(max-width:440px){
						left: 350px;							
					}
					@media(max-width:420px){
						left: 330px;							
					}
					@media(max-width:400px){
						left: 310px;							
					}
					@media(max-width:380px){
						left: 290px;							
					}
					@media(max-width:360px){
						left: 270px;							
					}
					@media(max-width:340px){
						left: 250px;							
					}
	
				}
               
			}
            p{
                ::before{
                    display: none;
                }
            }
			
		}
	}
    .who-finances-desktop{
        background: #111 !important;
        min-height: 108px;
        display: flex;
        align-items: center;

        @media(max-width: 1320px){
            padding-left: 15px;
            padding-right: 15px;
        }
        
        @media(max-width: 992px){
            background: #FDF250 !important;
            border-radius: 16px;
            padding: 25px 42px 25px 45px;
        }
        .wp-block-columns{
            margin-top: 1.8rem;
            @media(max-width: 992px){
                flex-direction: column;
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        p{
            font-family: "MidiaNinja", sans-serif;
            color: #FFF;
            font-size: 38px;
            font-weight: 400;
            margin-bottom: 0;
            margin-top: 0;
            letter-spacing: normal;
            @media(max-width: 992px){
                color: #000;
                font-family: 'Manrope', serif;
                font-size: 24px;
                font-weight: 800;
                text-align: center;
                margin-bottom: -15px;
                line-height: 130%;
            }
            img{
                margin-left: 4.5rem;
                @media(max-width: 992px){
                    display: none;
                }
            }
        }
        .finances-title-mobile{
            @media(max-width: 992px){
                color: #000;
                font-family: "MidiaNinja", sans-serif;
                font-weight: 400;
                text-align: center;
                font-size: 24px;
                line-height: 130%;
            }
        }
        .wp-block-buttons{
            @media(max-width: 992px){
                display: flex;
                justify-content: center;
            }
        }
        .wp-block-button{
            @media(max-width: 992px){
                background-color: #111;
                border-radius: 8px;
            }
            a{
                font-family: 'Manrope', serif;
                color: #fff;
                border-radius: 4px;
                border: 2px solid #FFF;
                font-size: 13px;
                font-weight: 700;
                padding: 15px 30px;
                color: #FFF !important;
                @media(max-width: 992px){
                   
                    border: 2px solid #111;
                }  
            }
        } 
    }
    .newsletter-desktop{
        background-color: #111;
        margin-top: 2rem;
        .wp-block-columns{
            gap: 100px;
            @media(max-width: 992px){
                display: block;  
            }
        }
        p.newsletter-title{
            color: #FFF;
            font-family: "MidiaNinja", serif;
            font-size: 42px;
            font-style: normal;
            font-weight: 400;
            line-height: 100%; 
            letter-spacing: normal;
            @media(max-width: 782px){
                font-size: 32px;
                text-align: center;
            }
        }
        p{
            font-family: 'Manrope', serif;
            font-size: 13px;
            font-style: normal;
            font-weight: 500;
            line-height: 145%;
        }
        form{
            .mc4wp-form-fields{
                input[type=name],
                input[type=email]{
                    width: 572px;
                    padding: 1rem;
                    border-radius: 8px;
                    border: none;
                    margin-bottom: 1rem;
                    color: #111;
                    &::placeholder{
                        font-size: 16px;
                        color: #595D62;
                        @media(max-width: 782px){
                            color: #f5f5f5;
                        }
                    }
                    @media(max-width: 782px){
                        background-color: transparent;
                        border: 1px solid #d9d9d9;
                        color: #f5f5f5;

                    }
                    @media(max-width: 600px){
                        width: 326px;
                    }
                    @media(max-width: 359px){
                        width: 306px;
                    }
                    
                }
                input[type=submit]{
                    background-color: #FBF36E;
                    border: none;
                    color: #333;
                    font-family: 'Manrope', serif;
                    font-size: 14px;
                    font-weight: 800;
                    text-transform: uppercase;
                    padding: 1rem 3.8rem;
                    border-radius: 8px;
                    @media(max-width: 600px){
                        max-width: 326px;
                        width: 100%;
                    }
                }
            }
        }
    }
}