@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";

.page-tv-ninja{
    #app{
        background-color:var(--wp--preset--color--secondary-light);

        .wp-block-columns{
            @media(max-width: 992px){
                display: block;
            }
            :first-child{
                background: var(--PURE, #262626);
                padding: 40px 70px 60px 75px;
                border-radius: 8px;
				h2{
					font-feature-settings: 'calt' on;
                    font-family: "MidiaNinja";
                    font-size: 3rem;
                    color: #fff;
                    margin-top: 0.3rem;
				}
			}
        }

		.wp-block-image {

			img {
				border-radius: 8px;
				margin-top: 30px;
			}
		}

        .model-videos{
            background-color: var(--wp--preset--color--secondary-pure);
            margin-bottom: 0;
            .latest-horizontal-posts-block__content{
                padding-left: 6rem;
                @media(max-width: 992px){
                    padding-left: 15px;
                }
                h2{
                    color: var(--wp--preset--color--primary-dark);
                    font-size: 3rem;
                    font-weight: 800;
                }
            }

                
            .slick-slide, .post-videos, .post-thumbnail, img{
                width: 170px;
                height: 302px;
                border-radius: 12px;
            }
           
            .slick-arrow {
                transition: none !important;
            }
    
            .slick-arrow.slick-prev {
                background-color: var(--wp--preset--color--primary-light) !important;
                background-image: url($p_theme_assets + "/images/arrow-white-next.svg");
                transform: rotate(180deg);
                &:hover {
                    background-color: #333 !important;
                    background-image: url($p_theme_assets + "/images/arrow-white-next.svg");
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                    
                }
            }
    
            .slick-arrow.slick-next {
                background-color: var(--wp--preset--color--primary-light) !important;
                background-image: url($p_theme_assets + "/images/arrow-left-slider-white.png");
                &:hover {
                    background-color: #333 !important;
                    background-image: url($p_theme_assets + "/images/arrow-left-slider-white.png");
                    background-position: center !important;
                    background-repeat: no-repeat !important;
                }
            }
    
            .slick-arrow.slick-disabled {
                background-color: #898989 !important;
            }
            li.slick-active {
                background-color: #898989;
            }
        }
    }
}
