@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";

.page-opinioes{
    #app{
        background-color: var(--wp--preset--color--secondary-light);

        a{
            text-decoration: none;
        }

        .wp-block-columns{
            @media(max-width: 992px){
                display: block;
            }
        }

        .opiniao-header{
            margin-top: 36px;
            color: #fff;
            gap: 16px;
            .wp-block-column:nth-of-type(1){
                @media(max-width: 992px){
                    margin-bottom: 1rem;
                }
            }

            @media (min-width: 768px) {
                background-color: #000;
                border-radius: 8px;
            }

            @media (min-width: 992px) {
                padding: 40px 60px 0 80px;
                gap: 100px;
            }
            @media(max-width: 992px){
                    margin-bottom: 1rem;
            }

            > div {
                background-color: #000;
                padding: 45px 24px 24px;
                border-radius: 8px;

                @media (min-width: 992px) {
                    padding: 0;
                }

                .wpnbha {
                    margin-bottom: 0;
                    padding-left: 6px;

                    article .avatar {
                        width: 46px;
                        height: 46px;
                    }
                }
            }

            .article-section-title {
                color: white;
                font-family: "Archivo Expanded", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 800;
                line-height: 155%; /* 21.7px */
                letter-spacing: -0.42px;
                text-transform: uppercase;
                margin-bottom: 18px;
            }

            .entry-title {
                /* <h2> Manrope */
                font-size: 28px;
                font-style: normal;
                letter-spacing: -0.64px;
                line-height: 130%;
                margin-bottom: 20px;
                color: #fff;

                @media (min-width: 992px) {
                    font-size: 32px;
                    line-height: 120%; /* 38.4px */
                    margin-bottom: 35px;
                }
            }

            p {
                /* <p> Manrope */
                font-size: 14px;
                line-height: 130%; /* 22.4px */
                margin-bottom: 35px;
                color: #fff;

                @media (min-width: 992px) {
                    font-size: 16px;
                    line-height: 140%; /* 22.4px */
                }
            }

            .entry-meta .byline {
                margin-left: 12px;
                font-weight: 400;
                line-height: 21px; /* 175% */
                letter-spacing: 1.2px;
                text-transform: uppercase;

                a {
                    color: #fff;
                    font-size: 12px;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;
                    line-height: 21px;
                }

                .author-prefix {
                    display: none;
                }

                
            }
            .latest-vertical-posts-block{
                background-color: #000;
                border: none;
                padding-top: 0;
                @media(max-width: 992px){
                    padding: 0px 5px 32px !important;
                    margin-bottom: -20px;
                }
                a, h2, p{
                    color:#fff; 
                }
                .slide{
                    margin-top: 1rem;
                  
                }
                .slide{
                    :nth-child(3){
                        
                        .post{
                            border: none;
                        }
                        
                    }
                    :nth-child(6){
                        a{
                            .post{
                                border: none;
                            }
                        }
                    }
                    :nth-child(9){
                        a{
                            .post{
                                border: none;
                            }
                        }
                    }
                    :nth-child(12){
                        a{
                            .post{
                                border: none;
                            }
                        }
                    }
                }
                .post{
                    border-bottom: 1px solid #fff;
                    padding-bottom: 1.5rem;
                    margin-top: -10px;

                    .post-title{
                        font-size: 20px;
                        line-height: 130%;
                    }
                    .post-author{
                        color: #FFF;
                        font-family: 'Manrope', serif;
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 1.2px;
                        text-transform: uppercase;
                        :first-child{
                            display: none;
                        }
                    }

                   
                }
                .latest-vertical-posts-block__footer{
                    display: none;
                    @media(max-width: 992px){
                        margin-top: 1.6rem;
                        display: inherit;
                    }
                    .slick-dots li{
                        background-color: #f5f5f5;
                    }
                }
            }
        }
        
        .wp-block-columns:nth-of-type(2){
            margin-bottom: 0;
            .latest-grid-posts-block{
                .post{
                    display: flex;
                    max-width: 370px;
                    width: 100%;
                    gap: 30px;
                    align-items: center;
                    .post-thumbnail{
                        width: 70px;
                        height: 70px;
                        background-color: #f5f5f5;
                        img{
                            width: 70px;
                            height: 70px;
                            position: relative;
                            border-radius: 50px;
                        }
                    }
                    .post-content{
                        max-width: 270px;
                        .post-title{
                            font-weight: 700;
                            font-size: 20px;
                        }
                        .post-meta--author{
                            text-transform: uppercase;
                            color: var(--wp--preset--color--primary-light);
                        }
                        
                    }
                }
                .latest-grid-posts-block__pagination{
                    @media(max-width: 767px){
                        margin-left: -45px;
                    }
                }
            }
            .latest-vertical-posts-block{
                @media(max-width: 767px){
                    margin-top: -30px;
                }
                .post{
                    font-family: 'Manrope', serif;
                    color: var(--wp--preset--color--low-pure);
                    .post-title{
                        font-size: 1rem;
                        font-weight: 500;
                        line-height: 140%;
                        margin-bottom: 0;
                    }
                    .post-author{
                        font-size: 10px;
                        font-weight: 400;
                        line-height: 21px;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        :first-child{
                            display: none;
                        }
                    }
                }
            }
        }
        
        
        .wp-block-group {
            position: relative;
            display: flex;
            flex-direction: column-reverse;

            @media (min-width: 992px) {
                flex-direction: column;
            }

            .btn-colunistas {
                display: flex;
                margin-bottom: 86px;

                @media (min-width: 992px) {
                    position: absolute;
                    right: 0;
                }
                @media(max-width: 782px){
                    margin-bottom: 2rem;
                    margin-top: -3rem;
                }
                a{
                    color: var(--wp--preset--color--secondary-light);
                    font-family: 'Manrope', serif;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 150%;
                    letter-spacing: -0.42px;
                }
            }

            .colunistas-ninja {
                background-color: #f5f5f5;
                max-width: 100%;
                padding: 0;

                @media (max-width: 782px) {
                    display: flex;
                }

                h2 {
                    font-family: "Manrope", sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: 120%;
                    letter-spacing: -0.96px;
                    color: #111;
                    @media (max-width: 992px) {
                        font-size: 24px;
                        margin-top: 0px;
                        margin-bottom: 0;
                    }
                }

                .container {
                    max-width: 1170px !important;
                    width: 100%;
                    padding: 0 0 26px !important;
                    @media (max-width: 992px) {
                        padding: 0px 0 48px !important;
                    }
                }

                .latest-horizontal-posts-block__slides {
                    &::after {
                        display: none;
                    }
                    &::before {
                        display: none;
                    }
                    @media (max-width: 782px) {
                        display: flex;
                    }
                }

                .slick-track {
                    @media (max-width: 782px) {
                        display: flex;
                        flex-direction: column;
                    }
                }

                .slide {
                    display: flex;
                    @media (max-width: 782px) {
                        margin-bottom: 0;
                        margin-left: -25px;
                    }
                    a {
                        .post {
                            display: flex;
                            gap: 13px;
                            @media (max-width: 782px) {
                                gap: 0;
                                justify-content: center;
                            }
                            .post-thumbnail {
                                margin-top: 15px;
                                width: 80px;
                                height: 80px;
                                border-radius: 50px;
                                box-shadow: none;
                                @media (max-width: 782px) {
                                    margin-right: 25px;
                                    margin-left: 2.5rem;
                                }
                                img {
                                    max-width: 80px;
                                    height: auto;
                                    border-radius: 50px;
                                }
                            }
                            .post-content {
                                font-family: "Manrope", sans-serif;
                                max-width: 170px;
                                width: 100%;
                                .post-title {
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 140%;
                                }
                                p {
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 145%;
                                    color: #848484;
                                }
                            }
                        }
                    }
                }

                .slick-arrow {
                    background-color: #ccc;
                }

                .slick-arrow.slick-disabled {
                    background-color: #ccc;
                }

                li.slick-active {
                    background-color: #333;
                }
            }

            .latest-horizontal-posts-block__slides {
                margin-top: 10px;

                @media (min-width: 768px) {
                    margin-top: 35px;
                }
            }

            .latest-horizontal-posts-block__arrows {
                button.slick-arrow {
                    &:hover {
                        background-color: #333;
                        background-image: url("/wp-content/themes/midia-ninja-theme/assets/images/arrow-left-slider-white.png");
                    }
                }
            }

            .latest-horizontal-posts-block__dots .slick-dots {
                li {
                    opacity: 0.5;

                    &.slick-active {
                        opacity: 1;
                    }
                }
            }

            .post-title {
                font-weight: 500;
            }
        }
        .wp-block-group.alignwide {
			background: #111 !important;
			min-height: 108px;
			display: flex;
			align-items: center;
			margin-bottom: 2rem;
			border-radius: 8px;
            margin-left: auto;
            margin-right: auto;
			@media (max-width: 992px) {
				background: #fdf250 !important;
				border-radius: 4px;
				padding: 25px 42px 25px 45px;
                max-width: 800px;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                
			}
			.wp-block-columns {
				margin-top: 1.8rem;
				@media (max-width: 992px) {
					flex-direction: column;
					margin-bottom: 0;
					margin-top: 0;
				}
			}

			p {
				font-feature-settings: 'calt' on;
                font-family: "MidiaNinja";          
				color: #fff;
				font-size: 32px;
				font-weight: 400;
				margin-bottom: 0;
				margin-top: 0;
				letter-spacing: normal;
				padding-top: 1rem;
    			padding-left: 2rem;
                
				@media (max-width: 992px) {
					color: #000;
					font-family: "Manrope", sans-serif;
					font-size: 24px;
					font-weight: 800;
					text-align: center;
					margin-bottom: -15px;
					line-height: 130%;
                    padding-left: 0;
                    width: 254px;
                    margin-left: auto;
                    margin-right: auto;
                    padding-top: 0;
                   
				}
				img {
					margin-left: 4.5rem;
					@media (max-width: 992px) {
						display: none;
					}
				}
			}
			span.finances-title-mobile {
				@media (max-width: 992px) {
					color: #000;
					font-feature-settings: 'calt' on;
                    font-family: "MidiaNinja";
					font-weight: 400;
					text-align: center;
					font-size: 24px;
					line-height: 130%;
                   
                    @media(max-width: 400px){
                        max-width: 380px !important;
                    }
                    
                
                   
				}
			}
			.wp-block-buttons {
				@media (max-width: 992px) {
					display: flex;
					justify-content: center;
                    margin-top: 40px;
				}
			}
			.wp-block-button {
				@media (max-width: 992px) {
					background-color: #111;
					border-radius: 8px;
				}
				a {
					font-family: "Manrope", sans-serif;
					color: #fff;
					border-radius: 4px;
					border: 2px solid #fff;
					font-size: 13px;
					font-weight: 700;
					padding: 15px 30px;
					color: #fff !important;
					@media (max-width: 992px) {
						border: 2px solid #111;
					}
				}
			}
		}
    }
}