@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.single-especial{
    #app{
        .container{
            .post-content{
                .wp-block-columns:nth-of-type(1){
                    :first-child{
                        img{
                            border-radius: 8px;
                        }
                    }
                    :last-child{
                        .wp-block-cover {
                            border-radius: 8px;

                            @media(max-width: 992px){
								min-height: unset;
                            }

							&__inner-container{
								@media (max-width: 768px){
									align-items: center;
									display: flex;
									gap: 1rem;
									justify-content: flex-start;
								}

								.wp-block-spacer{
									@media (max-width: 768px){
										display: none;
									}
								}

								.wp-block-post-author{
									display: none;

									@media (max-width: 768px) {
										display: grid;
										border-bottom: 1px solid white;
    									padding-bottom: 10px;
										width: 100%;
										padding-top: 16px;
									}

									&__name {
										display: block !important;
										color: white !important;
										font-weight: 600;
										grid-row: 1;
  										grid-column: 2;
									}
								}

								.wp-block-group{
									@media (max-width: 768px){
										margin-left: inherit !important;
										margin-right: inherit !important;
									}
								}

								.wp-block-image:nth-child(2){
									@media (max-width: 768px){
										height: auto;
										margin-left: inherit !important;
										margin-right: inherit !important;
									}

									img{
										@media (max-width: 768px){
											height: auto !important;
											width: 68px !important;
											grid-row: 1 / span 2;
  											grid-column: 1;
										}
									}
								}
							}

                            p{
                                @media(max-width: 768px){
									display: none;
                                }
                            }
                            .wp-block-columns{
								@media (max-width: 992px){
									gap: 4px;
									grid-row: 2;
  									grid-column: 2;
									margin-bottom: 0;
									width: 100%;
								}

                                .wp-block-column{
                                    @media(max-width: 992px){
                                        flex-basis: 30% !important;
										flex-grow: 0;
                                    }

                                    .wp-block-image.aligncenter{
                                        text-align: left;
                                    }

                                    img{
                                        @media(max-width: 992px){
                                            width: 45px;
                                            height: 45px;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
                .wp-block-columns:nth-of-type(2){
                    :first-child{
                        h2{
                            margin-top: 0px;
                            margin-bottom: 21px;
                        }
                    }
                    .latest-grid-posts-block{
                        h2{
                            margin-top: 12px;
                            margin-bottom: 0;
                        }
                    }
                }
                .latest-horizontal-posts-block{

                    .latest-horizontal-posts-block__heading{
                        font-feature-settings: var(--f-ninja-config);
                        font-family: var(--f-ninja);
                    }
                }
            }
        }
		.menu-especial{
			position: relative;

			&__logo-mobile{
				position: relative;
			}

			ul{
				@media(max-width: 992px){
					display: flex;
					flex-wrap: nowrap;
					font-size: 14px;
					overflow-x: scroll;
					padding-left: 37px;
					padding-bottom: 5px;
					white-space: nowrap;
				}
			}

			&__links{
			}

			&__scroll {
			    display: flex;
			    justify-content: space-between;
				position: absolute;
				top: 21px;
				display: flex;
				gap: 365px;
				z-index: 0;

				@media (min-width: 376px) and (max-width: 430px) {
					gap: 350px;
				}

				@media (max-width: 375px){
					gap: 290px;
				}
			}

			&__scroll-btn {
				display: none;
				transform: translateY(-50%);
				z-index: 10;
				background-color: transparent;
				color: #fff;
				border: none;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				cursor: pointer;

				@media (max-width: 768px) {
					display: block;
				}
			}
		}

		.wp-block-cover {
			&.topotiradentes25 {
				img {
					// @include mobile {
					// 	position: relative;
					// }
				}
			}
		}
    }

    &.especial-paris-2024{
        #news-olimpica{
                .wp-block-cover__inner-container{
                    h2{
                        font-feature-settings: 'calt' on;
                        font-family: "MidiaNinja";
                        font-size: 3.2rem;

                    }
                }
        }
    }


}
body{
    &.especial-circuito-de-formacao{
        .post-content{
            .wp-block-columns{
                @include mixins.mobile{
                    max-width: 100%;
                }

				@include mixins.small {
					flex-direction: column;
				}
            }
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: contain;
                }
            }
            p{
                text-align: start;
            }
        }
    }
    &.especial-convocatoria{
        .post-content{
            .wp-block-columns{
                @include mixins.mobile{
                    max-width: 100%;
                }
            }
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: inherit;
                }
            }

        }
    }
    &.especial-paris-2024{
        .wp-block-column{
            h2{
                font-family: 'Manrope', sans-serif !important;
            }
        }

    }
    &.especial-copa-femininja-2023 {
        .wp-block-column{
            h2{
                font-family: 'Manrope', sans-serif !important;
            }
        }
    }
    &.especial-paralimpiadas-tokyo-2020{
        .post-content{
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: contain;
                }
            }

        }
    }
    &.especial-grammy2022{
        .menu-especial__logo-mobile{
			object-fit: contain !important;
        }
    }
    &.especial-cop-26 {
        #videos{
            .wp-block-cover__inner-container{
                .wp-block-columns:nth-of-type(3) {
                    @include mixins.mobile{
                        display: flex;
                    }
                    .wp-block-column{
                        figure{
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
	.cop-climax {
		border-radius: 12px;
		border: 2px solid var(--SECONDARY,#ccc);
		background: var(--White,#fff);
		padding: 38px 29px;
		background: black!important;
		color: white;
		a, h2 {
			color:white!important;
		}
		.latest-vertical-posts-block .post.videos .post-thumbnail {
			max-width: 124px;
			width: 100%;
			height: 88px;
			flex-basis: inherit;
		}
		img {
			max-width: 100%;
			left: auto;
			transform: none;
			-o-object-fit: inherit;
			object-fit: inherit;
			border-radius: 9px;
		}
		.latest-vertical-posts-block.cop-climax .post.videos .video-title {
			font-size: .85rem;
			font-weight: 600;
			line-height: 1.4;
		}
	}

}
