@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.page-seja-ninja{
#app{
    background-color:  #f5f5f5;
}
    .wp-block-columns:first-child{
        p{margin: 0px !important;}
        h2{margin:0px !important;}

        gap:0px;
        border-radius: 8px 8px !important;
        margin-top: 32px;
        gap: 30px;
        @media(max-width:991px){
            display: none;
        }

        & .wp-block-column:first-child{ //div que envolve banner e aside
            max-width: 870px;
            .wp-block-cover{
                margin: 0px;
                padding: 0px;
                border-radius: 8px;
                .wp-block-columns {
                    margin: 0px;
                    height: 532px;
                    gap: 0px;
                    .wp-block-column:first-child{  //coluna 1 do banner
                        max-width: 400px;
                        padding-left: 64px;
                        padding-top: 64px;
                        fill: rgba(51, 51, 51, 0.70);
                        backdrop-filter: blur(17.6999998093px);
                        & p:first-child{
                         color: #FFF;
                         font-family: "Archivo Expanded", sans-serif;
                         font-size: 14px;
                         font-style: normal;
                         font-weight: 800;
                         line-height: 155%; /* 21.7px */
                         letter-spacing: -0.42px;
                         text-transform: uppercase;
                        }
                        & p:nth-child(2){
                         color: #FFF;
                         /* <h1> Manrope */
                         font-family: 'Manrope', sans-serif;
                         font-size: 48px;
                         font-style: normal;
                         font-weight: 800;
                         line-height: 115%; /* 55.2px */
                         letter-spacing: -1.44px;
                         margin-top: 16px !important;
                        }
                        &  p:nth-child(3){
                         color: #FFF;
                         font-family: 'Manrope', sans-serif;
                         font-size: 13px;
                         font-style: normal;
                         font-weight: 500;
                         line-height: 145%; /* 18.85px */
                         margin-top: 20px !important;
                         max-width: 257px;
                        }
                    }
                    .wp-block-column:last-child{ // coluna 2 do banner
                        & .wpcf7{
                            margin: auto;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            margin-top: 44px;
                            margin-top: 0px;
                            form{
                                display: flex;
                                flex-direction: column;
                                gap: 18px;
                                align-items: center;
								position: relative;
                                h4{
                                    margin: 0px;
                                    color: #FFF;
                                    font-family: 'Manrope', sans-serif;
                                    font-size: 12px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 130%; /* 15.6px */

                                }
                                label{
                                    input{
                                        width: 303px;
                                        height: 39px;
                                        padding: 10px;
                                        border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
                                        border: 1px solid var(--Main-beerus, #E2E2E2);
                                        font-size: 13px;
                                        font-style: normal;
                                        line-height: 24px;
                                        color: var(--Main-trunks, #595D62);

                                        /* <small> Manrope */
                                        font-family: 'Manrope', sans-serif;
                                        font-weight: 500;
                                        line-height: 18.85px; /* 18.85px */
                                        background-color: white;
                                        padding-left: 5px;
                                        @include mixins.mobile{
                                            width: 100%;
                                            max-width: 100%;
                                        }
                                    }
                                    input::placeholder {
                                        color: var(--Main-trunks, #595D62);
                                        /* <small> Manrope */
                                        font-family: 'Manrope', sans-serif;
                                        font-weight: 500;
                                        line-height: 18.85px; /* 18.85px */
                                        background-color: white;
                                        padding-left: 7px;

                                    }
									.wpcf7-not-valid-tip{
										color: #fdf250;
										font-size: 12px;
										font-style: normal;
										font-weight: 800;
										line-height: 18px ;
									}

                                }

                                select {
                                    width: 303px;
                                    height: 39px;
                                    padding: 10px;
                                    border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
                                    border: 1px solid var(--Main-beerus, #E2E2E2);
                                    padding-left: 7px;
                                    font-size: 13px;
                                    font-style: normal;
                                    line-height: 24px;
                                    color: var(--Main-trunks, #595D62);

                                    /* <small> Manrope */
                                    font-family: 'Manrope', sans-serif;
                                    font-weight: 500;
                                    line-height: 18.85px; /* 18.85px */
                                    background-color: white;


                                }


                                select option[disabled] {
                                    font-family: 'Manrope', sans-serif; /* Define a fonte como Manrope */
                                    font-size: 13px; /* Tamanho da fonte */
                                    font-weight: 500; /* Peso da fonte (medium) */
                                    line-height: 18.85px; /* Altura da linha */
                                    color: var(--Main-trunks, #595D62); /* Cor do texto do placeholder */
                                }
                                .acept{

                                    p {
                                        display: flex;
                                        gap: 8px;

                                        .wpcf7-list-item {
                                            margin: 0;
                                        }

                                        span {
                                            font-size: 13px;
                                            font-style: normal;
                                            font-weight: 500;
                                            line-height: 145%; /* 18.85px */
                                            max-width: 224px;
                                        }

                                        a {
                                            color: #FDF250;
                                            font-size: 13px;
                                            font-style: normal;
                                            font-weight: 800;
                                            line-height: 145%;
                                            text-decoration-line: underline;
                                        }
                                    }

                                }



                                .submit-button{
                                    input{
                                        display: flex;
                                        width: 303px;
                                        padding: var(--paddings-gaps-p-2, 8px) var(--paddings-gaps-p-4, 16px);
                                        justify-content: center;
                                        align-items: center;
                                        gap: var(--gap-0, 0px);
                                        border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
                                        background: var(--OURO, #FBF36E);
                                        border: none;
                                        color: var(--Gray-1, #333);
                                        text-align: center;
                                        font-feature-settings: 'clig' off, 'liga' off;
                                        font-family: 'Manrope', sans-serif;
                                        font-size: 13px;
                                        font-style: normal;
                                        font-weight: 700;
                                        line-height: 24px;
                                        text-transform: uppercase;
                                        @include mixins.mobile{
                                            width: 100%;
                                            max-width: 100%;
                                        }
                                    }
                                    p{
                                        display: flex;
                                        flex-direction: column;

                                        .recaptcha{
                                            width: 270px;
											.wpcf7-not-valid-tip{
												color: #fdf250;
												font-size: 12px;
												font-style: normal;
												font-weight: 800;
												line-height: 18px ;
											}
                                        }
                                        .wpcf7-spinner{
                                            display: none;
                                        }
                                    }
                                }

								.wpcf7-response-output{
									border-radius: 8px;
									background: #0b0b0b;
									box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px 0px rgba(0, 0, 0, 0.40);
									border: none;
									padding: 14px 16px;
									font-size: 12px;
									width: 303px;
									position: absolute;
									top: 226px;
								}
                            }
                            .wpcf7-form{
                                gap: 18px;
                                .midia-conteudo_2{
                                    display: none !important;
                                }
                            }
                        }
                    }
                }


            }
        }
        & .wp-block-column:last-child{ // col-2 ASIDE
            max-width: 270px;
            margin: auto;
            @media(max-width:991px){
                display: none;
            }
            .wp-block-cover{
                margin: 0px;
                padding: 0px;
                border-radius: 8px;
                .wp-block-cover__inner-container{
                    height: 532px;
                    figure{
                        margin-top: 30px;
                        margin-left: 8px;
                    }
                    .wp-block-columns{
                        margin: 0px;

                        .wp-block-column{ // container que envolve descrição e rede social
                            margin-left: 33px !important;
                            margin-right: 32px !important;
                            h4{
                                margin: 0px;
                                margin-top: 22px;
                                color: var(--White, #FFF);
                                font-family: 'Manrope', sans-serif;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 700;
                                line-height: 130%; /* 26px */
                            }
                            .line{
                                margin: 0px;
                                margin-top: -17px;
                                margin-bottom: 12px;
                            }
                            .wp-block-columns{ //icones de rede sociais
                                gap: 0px;
                                margin: 0px;
                                max-width: 106px;
                                margin: 53px 0 0;

                                .wp-block-column{
                                    margin: 0px !important;
                                    .wp-block-image {
                                        margin: 0px;
                                    }
                                }
                            }
                        }
                    }
                    p{
                        color: var(--White, #FFF);
                        /* <small> Manrope */
                        font-family: 'Manrope', sans-serif;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 145%; /* 18.85px */
                    }
                }
            }
        }
    }
    .seja-ninja-mob{
        display: none;
        @media(max-width:991px){
            display: block;
            margin-top: 32px;
        }

        & .col-form{
            @media (min-width: 668px) and (max-width: 991px) {
                display: flex;
                align-items: center;
                margin: auto;
            }
            @media(max-width:667px){
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            figure{
                @include mixins.mobile{
                    width: 100%;
                }
                img{
                    @include mixins.mobile{
                        width: 100%;
                        max-width: 100%;
                        border-radius: 8px
                    }
                }
            }
            .wpcf7{
                margin: auto;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top:84px;
                @media(max-width:991px){
                    display: flex;
                    align-items: center;
                    flex-direction: row;
                }
                @media(max-width:667px){
                    margin: auto;
                    text-align: center;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 18px;
                    align-items: center;
					position: relative;
                    @media (max-width: 991px) {
                        gap: 0px !important;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                    }
                    h4{
                        margin: 0px;
                        color: #FFF;
                        font-family: 'Manrope', sans-serif;
                        font-size: 12px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; /* 15.6px */
                        @media (min-width: 668px) and (max-width: 991px) {
                            color: var(--DARK, #111);
                            font-family: 'Manrope', sans-serif;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 125%; /* 30px */
                            letter-spacing: -0.24px;
                        }
                        @media(max-width:667px){
                            color: var(--DARK, #111);
                            /* <h3> Manrope */
                            font-family: 'Manrope', sans-serif;
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 800;
                            line-height: 125%; /* 30px */
                            letter-spacing: -0.24px;
                            width: 248px;
                            text-align: start;
                            margin-top: 24px;
                        }
                        @include mixins.mobile{
                            width: 100%;
                        }


                    }
                    .estados{
                        @include mixins.mobile{
                            width: 100%;
                        }

                    }

                    p{
                        @include mixins.mobile{
                            width: 100%;
                        }
                        select{
                            @include mixins.mobile{
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                    }

                    label{
                        input{
                            max-width: 303px;
                            padding: 8px 3px;
                            height: 39px !important;
                            border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
                            border: 1px solid var(--Main-beerus, #E2E2E2);
                            background: var(--Main-gohan, #FFF);
                            padding-left: 10px;
                            color: var(--Main-trunks, #595D62);
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-family: 'Manrope',sans-serif;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18.85px;
                            @include mixins.mobile{
                                width: 100%;
                                max-width: 100%;
                            }
                        }
						.wpcf7-not-valid-tip{
							color: #111;
							font-size: 12px;
							font-style: normal;
							font-weight: 800;
							line-height: 18px ;
						}

                    }
                    select{
                        width: 303px;
                        padding: 8px 3px;
                        border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
                        border: 1px solid var(--Main-beerus, #E2E2E2);
                        background: var(--Main-gohan, #FFF);
                        padding-left: 10px;
                        color: var(--Main-trunks, #595D62);
                        font-feature-settings: 'clig' off, 'liga' off;
                        font-family: 'Manrope',sans-serif;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height:18.85px;
                        padding: 10px;
                    }

                    .acept {
                        max-width: 259px;
                        @include mixins.mobile{
                            width: 100%;
                            max-width: 100%;

                        }

                        p {
                            display: flex;
                            gap: 8px;

                            .wpcf7-list-item {
                                margin: 0;
                            }

                            span {
                                color: FFF;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 145%; /* 18.85px */
                            }

                            a {
                                color: #FDF250;
                                font-size: 13px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 145%;
                                text-decoration-line: underline;
                                @include mixins.mobile{
                                    color:#3F24E5;

                                }
                            }
                        }
                    }

                    .submit-button{
                        @media(max-width:667px){
                            margin: auto;
                        }
                        @include mixins.mobile{
                            width: 100%;
                            max-width: 100%;
                        }
                        input{
                            display: flex;
                            width: 303px;
                            height: 39px;
                            padding: var(--paddings-gaps-p-2, 8px) var(--paddings-gaps-p-4, 16px);
                            justify-content: center;
                            align-items: center;
                            gap: var(--gap-0, 0px);
                            border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
                            background: var(--OURO, #FBF36E);
                            border: none;
                            color: var(--Gray-1, #333);
                            text-align: center;
                            font-feature-settings: 'clig' off, 'liga' off;
                            font-family: 'Manrope', sans-serif;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18.85px;
                            text-transform: uppercase;
                            @include mixins.mobile{
                                font-weight: 800;
                                width: 100%;
                                max-width: 100%;
                            }
                        }
                        p{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            @include mixins.mobile{
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                            }
                            .recaptcha{
                                width: 270px;
								.wpcf7-not-valid-tip{
									color: #111;
									font-size: 12px;
									font-style: normal;
									font-weight: 800;
									line-height: 18px ;
									text-align: start;
								}
                            }
                            .wpcf7-spinner{
                                display: none;
                            }
                        }
                    }

					.wpcf7-response-output{
						border-radius: 8px;
						background: #0b0b0b;
						box-shadow: 0px 8px 24px -6px rgba(0, 0, 0, 0.16), 0px 0px 1px 0px rgba(0, 0, 0, 0.40);
						border: none;
						padding: 14px 16px;
						font-size: 12px;
						width: 100%;
						position: absolute;
						top: 347px;
						color: #FFF;
					}
                }
                .wpcf7-form{
                    gap: 18px;
                    .midia-conteudo_2{
                        display: none !important;
                    }
                }
            }
        }
        .col-2{
            .wp-block-cover{
                @include mixins.tablet{
                    text-align: center;
                    width: 271px;
                    margin: auto;
                    border-radius: 8px;
                    background: var(--DARK, #111);
                }
                @include mixins.mobile{
                    width: 100%;
                }
                .wp-block-cover__inner-container{
                    text-align: center;
                    @include mixins.mobile{
                        text-align: start;
                    }
                    h4{
                        margin: 0;
                        @include mixins.mobile{
                            margin-bottom: -10px;
                            width: 100%;
                        }

                    }
                    figure:first-child{
                        @include mixins.mobile{
                            text-align: center;
                        }
                    }

                    & .social-icons-inscricao{
                        gap: 0px;
                        @include mixins.mobile{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%;
                            max-width: 100%;
                        }

                    }
                    .container-a-midia-ninja{
                        @include mixins.mobile{
                            margin: auto;
                        }
                        & .wp-block-column{
                            flex-basis: initial !important;

                            p{
                                @include mixins.mobile{
                                    font-family: Manrope;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 145%; /* 18.85px */
                                }
                            }
                        }
                    }
                }
            }
        }

    }
}
