@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.single-especial{

    #app{
        .container{
            .post-content{
                .wp-block-columns{
                    @media(max-width: 992px){
                        display: block;
                    }
                }
                .wp-block-columns:nth-of-type(1){
                    :first-child{
                        img{
                            border-radius: 8px;
                        }
                    }
                    :last-child{
                        .wp-block-cover {
                            border-radius: 8px;
                            @media(max-width: 992px){
                                margin-top: 32px;
                            }

                            p{
                                @media(max-width: 992px){
                                    max-width: 200px;
                                    width: 100%;
                                    margin-bottom: 1rem;
                                }
                            }
                            .wp-block-columns{

                                max-width: 200px;
                                width: 100%;
                                gap: 8px;

                                @media(max-width: 992px){
                                    display: flex;
                                    gap: 0;
                                }

                                .wp-block-column{
                                    @media(max-width: 992px){
                                        flex-basis: 20% !important;
                                    }

                                    .wp-block-image.aligncenter{
                                        text-align: left;
                                    }

                                    img{
                                        @media(max-width: 992px){
                                            width: 27px;
                                            height: 27px;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
                .wp-block-columns:nth-of-type(2){
                    :first-child{
                        h2{
                            margin-top: 0px;
                            margin-bottom: 21px;
                        }
                    }
                    .latest-grid-posts-block{
                        h2{
                            margin-top: 12px;
                            margin-bottom: 0;
                        }
                    }
                }
                .latest-horizontal-posts-block{

                    .latest-horizontal-posts-block__heading{
                        font-feature-settings: var(--f-ninja-config);
                        font-family: var(--f-ninja);
                    }
                }
            }
        }
    }

    &.especial-paris-2024{
        #news-olimpica{
                .wp-block-cover__inner-container{
                    h2{
                        font-feature-settings: 'calt' on;
                        font-family: "MidiaNinja";
                        font-size: 3.2rem;

                    }
                }
        }
    }


}
body{
    &.especial-circuito-de-formacao{
        .post-content{
            .wp-block-columns{
                @include mixins.mobile{
                    max-width: 100%;
                }
            }
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: contain;
                }
            }
            p{
                text-align: start;
            }
        }
    }
    &.especial-convocatoria{
        .post-content{
            .wp-block-columns{
                @include mixins.mobile{
                    max-width: 100%;
                }
            }
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: inherit;
                }
            }

        }
    }
    &.especial-paris-2024{
        .wp-block-column{
            h2{
                font-family: 'Manrope', sans-serif !important;
            }
        }

    }
    &.especial-copa-femininja-2023 {
        .wp-block-column{
            h2{
                font-family: 'Manrope', sans-serif !important;
            }
        }
    }
    &.especial-paralimpiadas-tokyo-2020{
        .post-content{
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: contain;
                }
            }

        }
    }
    &.especial-grammy2022{
        .menu-especial__logo-mobile{
            .menu-especial__logo-mobile{
                object-fit: contain !important;
            }
        }
    }
    &.especial-cop-26 {
        #videos{
            .wp-block-cover__inner-container{
                .wp-block-columns:nth-of-type(3) {
                    @include mixins.mobile{
                        display: flex;
                    }
                    .wp-block-column{
                        figure{
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
}





























