@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

body.single-afluente {
    .container {
        @include mixins.desktop-xlarge {
            max-width: 1200px;
        }

        main.content {
            .post {
                max-width: 1280px;

                .post-content {
                    max-width: 1280px;

                    img {
                        max-width: 100%;
                        left: initial;
                        transform: initial;
                        object-fit: inherit;
                        border-radius: 9px;

                        @include mixins.mobile {
                            width: auto;
                        }
                    }

                    // Block latest horizontal posts
                    .latest-horizontal-posts-block {
                        margin-bottom: 0;

                        .post {
                            .post-thumbnail {
                                img {
                                    object-fit: cover;
                                    position: absolute;
                                    transition: all 0.3s ease-in-out;
                                }
                            }
                        }
                    }

                    // Block image
                    .wp-block-image { // <figure>
                        img {
                            border-radius: 8px;
                        }
                    }

                    // Block heading
                    .wp-block-heading {
                        margin-bottom: 0;
                        margin-top: 0;
                    }

                    // Block buttons
                    .wp-block-buttons {
                        .wp-block-button {
                            .wp-block-button__link { // <a>
                                font-size: 13px;
                                font-weight: 700;
                                text-transform: uppercase;
                                transition: all .2s ease-in-out;

                                &:hover {
                                    opacity: .8;
                                }
                            }
                        }
                    }

                    // Block latest vertical posts
                    .latest-vertical-posts-block {
                        .post {
                            &-author {
                                color: #2D9CDB;
                            }
                        }
                    }

                    // Block latest vertical posts - Model collection (Flickr)
                    .latest-vertical-posts-block.model-collection {
                        .post.collection {
                            .post-thumbnail {
                                .post-thumbnail--image {
                                    img {
                                        height: 100%;
                                        object-fit: cover;
                                        position: absolute;
                                        width: 100%;
                                    }
                                }
                            }
                        }
                    }

                    // Block latest grid posts
                    .latest-grid-posts-block {
                        .post {
                            .post{
                                max-width: 370px;
                                width: 100%;

                                &-thumbnail{

                                    &--image{

                                        img{
                                            width: 100%;
                                            position: inherit;
                                            object-fit: cover;
                                            transition: all 0.3s ease-in-out;
                                            max-height: 208px;
                                        }
                                    }
                                }
                              
                            }
            
                        }
                    }

                    // Block image card
                    .wp-block-ninja-image-card {
                        .wrapper-image {
                            .wp-block-image {

                                img {
                                    -webkit-border-top-left-radius: 8px;
                                    -webkit-border-top-right-radius: 8px;
                                    -moz-border-radius-topleft: 8px;
                                    -moz-border-radius-topright: 8px;
                                    border-top-left-radius: 8px;
                                    border-top-right-radius: 8px;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.content-afluente {
    .post-content {
        .wp-block-cover {
            padding-left: 30px;
            padding-right: 30px;

            &:not(.alignfull) {
                border-radius: 8px;
            }
        }

        // Block columns
        .wp-block-columns {
            margin-bottom: 0;

            &:where(.is-layout-flex) {
                gap: 30px;
            }
        }

        nav.wp-block-navigation {
            li {
                flex-shrink: 0;

                a {
                    font-weight: 700;
                    font-size: 13px;
                    padding: 22px 15px;
                    text-transform: uppercase;
                    transition: all .2s ease-in-out;

                    &:hover {
                        opacity: .8;
                    }
                }
            }

            .wp-block-navigation__container {
                gap: 30px;
                overflow-x: auto;

                @include mixins.mobile {
                    justify-content: flex-start;
                    padding-left: 15px;
                    padding-right: 15px;
                }
            }

            &:not(.alignfull) {
                position: relative;
                margin-left: 15px;
                width: calc(100% - 30px);

                &::before {
                    content: '';
                    width: 15px;
                    height: 100%;
                    position: absolute;
                    left: -15px;
                    top: 0;
                    border-top-left-radius: 8px;
                    border-bottom-left-radius: 8px;
                }

                &::after {
                    content: '';
                    width: 15px;
                    height: 100%;
                    position: absolute;
                    right: -15px;
                    top: 0;
                    border-top-right-radius: 8px;
                    border-bottom-right-radius: 8px;
                }

                &.has-primary-pure-background-color {
                    &::before,
                    &::after {
                        background-color: var(--wp--preset--color--primary-pure);
                    }
                }
            }

            &.items-justified-center {
                li {
                    justify-content: center;
                }
            }
        }
    }
}

.addtoany_share_save_container{
    display: none;
}

footer.main-footer{
    .has-primary-pure-background-color{
        background-color: var(--wp--preset--color--primary-dark) !important;
    }
}

body{
    &.afluente-xepa-ativismo{    

        nav.wp-block-navigation {

            &:not(.alignfull) {

                &.has-verde-limao-background-color {
                    &::before,
                    &::after {
                        background-color: var(--wp--preset--color--verde-limao);
                    }
                }
            }
        }

        .wp-block-cover, .p-block-cover__inner-container{
            background-color: #262626;
            padding-top: 111px;
            max-height: 470px;

            .wp-block-cover__background{
                opacity: 0;

            }
            .elfsight-widget{
                max-width: 1400px !important;
                width: 100% !important;
                margin-left: 0 !important;
                margin-right: 0 !important;

                padding: 0!important;
                margin-left: auto !important;
                margin-right: auto !important;
                @media(max-width: 782px){
                    padding: 45px 0 0px 0px !important;

                }
                .yottie-widget-header {
                    background: #262626 !important;
                }

                .yottie-widget-contents{
                    margin-top: 0;
                    margin-left: 185px;
                    @media(max-width: 1199px){
                        margin-left: 0;
                        margin-top: 0;
                    }
                }

                .swiper-container{
                    height: 405px !important;
                    padding: 0px 25px 0px 45px !important;
                    overflow: visible !important;
                }

                .yottie-widget-header-channel-title{
                    max-height: 60px;
                    color: #FFF !important;
                    font-family: "MidiaNinja", sans-serif;
                    font-size: 38px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 100%; /* 48px */
                    letter-spacing: -2.88px;
                    text-transform: uppercase;
                    text-decoration: none;

                }

                .yottie-widget-feed{
                    background: #262626 !important;
                }

                .yottie-widget-feed-section-slide{
                    background-color: #262626 !important;
                    background: #262626 !important;
                }

                .swiper-slide{
                    padding-left: 30px !important;
                    width: 1030px !important;

                }


                .yottie-widget-video{
                    width: 303px !important ;
                    height: 160px !important;
                    border-radius: 12px;
                    box-shadow: 0px 28px 36px 0px rgba(0, 0, 0, 0.50);
                    background: #262626 !important;
                    span{
                        border-radius: 8px;
                        width: 303px !important ;
                        height: 160px !important;
                    }
                    .yottie-widget-video-preview-thumbnail img{
                        border-radius: 8px;
                        width: 303px !important ;
                        height: 160px !important;
                        object-fit: cover;
                        border-radius: 12px;
                        box-shadow: 0px 28px 36px 0px rgba(0, 0, 0, 0.50);
                        top: 0 !important;
                    }
                    .yottie-widget-video-preview-play{
                        .maincolor{
                            fill:#4F4F4F !important;
                        }
                    }
                }
                .yottie-widget-feed-section-arrow {
                    top: 66% !important;
                    background: var(--PRIMARY-PURE, #848484) !important;
                    &:hover{
                        background: #fff !important;
                    }
                    @media(max-width: 1199px){
                        top: 93% !important;

                    }
                }
                .yottie-widget-feed-section-arrow-next{
                    right: 100% !important;
                    @media(max-width: 1199px){
                        right: 80% !important;

                    }
                    @media (max-width: 782px){
                        right: 20% !important;
                    }
                }
                .yottie-widget-feed-section-arrow-prev{
                    left: -16% !important;
                    @media(max-width: 782px){
                        left: 15% !important;
                    }
                }
                .yottie-widget-feed-section-arrow-prev.swiper-button-disabled{
                    opacity: 1 !important;
                    transform: scale(1) !important;

                }
                .yottie-widget-feed-section-arrow-next.swiper-button-disabled{
                    opacity: 1 !important;
                    transform: scale(1) !important;

                }
            }
        }
    }
    &.afluente-s-o-m{
        nav.wp-block-navigation {

            &:not(.alignfull) {

                &.has-roxo-feminismos-background-color {
                    &::before,
                    &::after {
                        background-color: var(--wp--preset--color--roxo-feminismos);
                    }
                }
            }
        }
    }
    &.afluente-nec{
        nav.wp-block-navigation {

            &:not(.alignfull) {

                &.has-environment-background-color {
                    &::before,
                    &::after {
                        background-color: var(--wp--preset--color--environment);
                    }
                }
            }
        }
    }
    &.afluente-estudantes-ninja{
        nav.wp-block-navigation {

            &:not(.alignfull) {

                &.has-indigenas-color-background-color {
                    &::before,
                    &::after {
                        background-color: var(--wp--preset--color--indigenas-color);
                    }
                }
            }
        }
    }

    &.afluente-design-ativista{
        .latest-grid-posts-block {

            .latest-grid-posts-block__posts{
                a{
                    display: flex;
                    gap: 30px;

                    .post-thumbnail{
                        .post-thumbnail--image{
                            width: 70px;
                            height: 70px;

                            img{
                                border-radius: 70px;
                            }
                        }
                    }
                }

                .post-content{
                    >h2{
                        color: var(--Primary-dark, var(--DARK, #111));
                        font-family: var(--wp--preset--font-family--manrope);
                        font-size: 20px !important;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 130%; 
                    }
                }
            }
 
        }
    }
}
