@use "./../1-settings/s-variables"as variables;
@use "./../2-atoms/a-mixins"as mixins;
@import "../3-components/c-share";
@import "../5-blocks/b-image";

.single-opiniao {

    #single-opiniao {
        main {
            article {
                max-width: initial;
                margin: initial;

                header.post-header {
                    width: 100%;
                    margin: auto;
                    gap: 100px;

                    &.has-thumbnail {
                        gap: 20px;
                        max-width: 970px;

                        .post-info {
                            margin-top: 0;
                        }

                        .post-thumbnail img {
                            object-fit: cover;
                            aspect-ratio: 16/9;

                            @media(max-width: 768px) {
                                margin-bottom: 15px;
                            }
                        }
                    }

                    @media(max-width: 1199px) {
                        margin-right: 0;
                    }

                    .post-date {
                        margin-bottom: 50px;
                    }

                    h2.title {
                        margin-top: -30px;
                        color: var(--PURE, #262626);
                        font-family: 'Manrope', sans-serif;
                        font-size: 48px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 57.6px */
                        letter-spacing: -1.44px;
                        margin-bottom: -3rem;

                        &.header-post-content {
                            @media(min-width:992px) {
                                margin-top: 40px;
                            }
                        }

                        @media(max-width:992px) {
                            margin-bottom: 0rem;
                            margin-top: 0;
                        }
                    }

                    .excerpt {
                        margin-top: 1rem;
                        margin-bottom: -20px;

                        &.header-post-content {
                            @media(min-width:992px) {
                                margin-top: 59px;
                                clear: both;
                                margin-bottom: 35px;
                            }
                        }

                        @media(max-width:782px) {
                            margin: 24px 0px;
                        }

                        p {
                            color: var(--PRIMARY-PURE, #848484);
                            font-family: 'Manrope', sans-serif;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 150%;
                            /* 30px */
                            margin-top: 24px;
                            margin-bottom: 31px;

                        }

                    }

                    .post-info {
                        flex-direction: column;
                        max-width: 768px;
                        margin-top: 40px;

                        @media(max-width:992px) {
                            margin-top: 20px;
                        }

                        .content-author {
                            display: none;
                            flex-direction: column;
                            align-items: center;
                            border-top: 1px solid;
                            padding-top: 26px;
                            margin: 0px 0 18px;
                            color: #000;
                            max-width: 768px;

                            @media (min-width: 768px) {
                                flex-direction: row;
                            }

                            >div {
                                display: flex;
                                width: 100%;
                            }

                            img {
                                border-radius: 100%;
                                width: 70px !important;
                                height: 70px !important;
                                display: inherit;
                            }

                            .author {
                                display: flex;
                                flex-direction: column;
                                place-content: center;
                                margin: 0 30px;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 150%;
                                /* 24px */
                                letter-spacing: -0.48px;

                                @media (min-width: 768px) {
                                    font-weight: 800;
                                }

                                .byline {
                                    width: auto;

                                    span {
                                        color: #000;
                                        font-family: 'Manrope', sans-serif;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 600;
                                        line-height: 150%;
                                        /* 24px */
                                        letter-spacing: -0.48px;
                                    }
                                }

                                time {
                                    color: var(--Primary-light, var(--PRIMARY-PURE, #848484));
                                    font-weight: 500;
                                    margin-top: 0.3rem;
                                    display: flex;
                                    width: auto;

                                    :first-child {
                                        width: 180px;
                                        color: var(--wp--preset--color--primary-light);
                                    }

                                    .clock::before {
                                        content: url($p_theme_assets + "/images/clock.svg");
                                        position: relative;
                                        top: 0;
                                    }

                                    :last-child {
                                        margin-left: 5px;
                                        color: var(--wp--preset--color--primary-light);
                                    }
                                }
                            }

                            .page-share {
                                width: 100%;
                                margin-top: 24px;

                                @media (min-width: 768px) {
                                    justify-content: end;
                                    margin-top: 10px;

                                    >span {
                                        display: none;
                                    }
                                }

                                span {
                                    color: #000;
                                    font-size: 16px;
                                    font-style: normal;
                                    font-weight: 500;
                                    line-height: 150%;
                                    /* 24px */
                                    letter-spacing: -0.48px;
                                    align-self: center;
                                }

                                .social-icons {
                                    display: flex;
                                    margin-left: 16px;
                                    flex-direction: row;
                                    align-items: baseline;
                                }

                                .social-menu {
                                    position: initial;
                                    padding: 3px;
                                    display: block;

                                    .social-icon {
                                        display: none;

                                        &.icon-instagram {
                                            display: block;
                                            padding: 0 8px;
                                            margin: 0 -8px;

                                            svg {
                                                width: 35px;
                                            }
                                        }
                                    }
                                }

                                svg path {
                                    fill: #000;
                                    width: 26px;
                                    height: 26px;
                                }

                                .addtoany_list {
                                    //display: flex;

                                    a.a2a_button_facebook {
                                        span {
                                            background-image: url($p_theme_assets + "/images/social-networks/facebook-black.svg");
                                            width: 24px;
                                            display: block;
                                            height: 24px;
                                            padding: 3px;

                                            svg {
                                                display: none;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }

                    .author-info {
                        .author-info-card {
                            width: 270px;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                            background: var(--Gray-1, #333);
                            flex-shrink: 0;

                            img {
                                width: 175.648px;
                                height: 175px;
                            }

                            .author-name {
                                color: var(--White, #FFF);
                                font-family: 'Manrope', sans-serif;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 24px;
                                /* 120% */
                                letter-spacing: -0.6px;
                                margin-bottom: 7px;
                                max-width: 207px;
                                width: 100%;
                                display: flex;
                                justify-content: flex-start;
                            }

                            .authbio {
                                color: var(--White, #FFF);
                                font-family: 'Manrope', sans-serif;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 130%;
                                border-top: 1px solid #F2F2F2;
                                margin: 0px 20px;
                            }

                            .social-networks {
                                display: flex;
                                margin: 0px;
                                margin-top: 34px;
                                flex-direction: row;
                                max-width: 204px;
                                width: 100%;
                                margin-left: -23px;

                                span {
                                    a {
                                        margin-left: 8px;

                                        svg {
                                            path {
                                                fill: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .author-info-mobile {
                        margin-bottom: -2rem;
                        margin-top: -1rem;

                        @include mixins.mobile {
                            margin-top: 0;
                            margin-bottom: 1.5rem;
                        }

                        .author-info-card {
                            display: block;
                        }

                        .info-container {
                            display: flex;
                        }

                        img {
                            display: inherit;
                        }

                        .info-card-informations {
                            padding-left: 25px;

                            @media(max-width: 500px) {
                                padding-left: 1rem;
                            }
                        }

                        .author-name {
                            color: #fff;
                            font-weight: 500;
                            margin-top: 10px;
                        }

                        .authbio {
                            border-top: 1px solid #f2f2f2;
                            margin-top: 20px;
                        }

                        .social-networks {
                            display: flex;
                            gap: .5rem;
                        }
                    }
                }

                .post-content {
                    max-width: 970px;

                    header {
                        .title {
                            text-align: center;
                        }

                        .excerpt {
                            width: fit-content;
                            margin: auto;
                        }
                    }

                    @media(max-width:992px) {
                        margin: 50px 0;
                        width: 100%;
                        max-width: 100%;

                    }

                    p {
                        color: var(--PURE, #262626);
                        font-family: 'Manrope', sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%;
                        /* 24px */
                        margin: 0px;
                        //width: 570px;
                        margin-bottom: 12px !important;

                        @media(max-width: 783px) {
                            width: initial;
                            margin: auto;
                        }

                        h2 {
                            color: var(--PURE, #262626);
                            font-family: 'Manrope', sans-serif;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%;
                            /* 57.6px */
                            letter-spacing: -1.44px;
                        }

                    }

                    h2 {

                        @include mixins.mobile {
                            margin-top: inherit !important;
                            margin-bottom: inherit !important;
                        }

                    }

                    h1 {
                        margin-top: 12px !important;
                        margin-bottom: 12px !important;

                        @include mixins.mobile {
                            font-size: 27px;
                        }
                    }

                    strong {
                        color: var(--PURE, #262626);
                        font-family: 'Manrope', sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%;
                        /* 57.6px */
                        letter-spacing: -1.44px;


                    }

                    p {
                        iframe {
                            width: 560px;

                            @media(max-width: 589px) {
                                width: 330px;
                                height: 200px;
                            }

                            @media(max-width: 393px) {
                                width: 363px;
                                height: 200px;

                            }

                            @media(max-width: 366px) {
                                width: 333px;
                                height: 200px;

                            }

                            @media(max-width: 366px) {
                                width: 330px;
                                height: 200px;

                            }
                        }
                    }

                    .wp-block-table {
                        margin-bottom: 1rem;
                    }

                    .table {
                        max-width: 570px;
                    }

                    .addtoany_share_save_container {
                        display: none;
                    }

                    .midia-conteudo_2 {
                        display: none;
                    }

                    div {
                        img {
                            margin-top: 48px;
                            margin-bottom: 48px;
                        }
                    }

                    .page-share {
                        margin-top: 32px;

                        @media(max-width:992px) {
                            margin-top: 0;
                            margin-bottom: -10px;
                        }

                        .social-menu {
                            height: 35px;
                            width: 35px;
                        }

                    }

                    .comments {
                        padding: 0 0;

                        @media(max-width:992px) {
                            display: none;
                        }
                    }

                    .post-image {
                        img.post-thumbnail {
                            background: none;
                            margin-top: 0;
                            margin-bottom: 0;
                            height: 300px;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }

                }


            }

            .post-footer {
                margin-top: 0;
                max-width: 1170px;
                margin-left: auto;
                margin-right: auto;

                @include mixins.mobile {
                    display: flex;
                    justify-content: center;
                }

                .related-posts {
                    width: auto;
                    padding-top: 30px;
                    padding-bottom: 20px;

                    @media(max-width:992px) {
                        display: block;
                        padding-top: 45px;
                    }

                    h2 {
                        margin-top: 0px !important;
                        margin-bottom: 32px !important;

                        @media(max-width:992px) {
                            margin-bottom: 10px !important;
                        }
                    }

                    .related {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;

                        @media(max-width:992px) {
                            grid-template-columns: 1fr;
                        }

                        .related-post-card {
                            display: flex;
                            align-items: center;

                            .related-post-image {
                                img {
                                    height: 70px !important;
                                    width: 70px;
                                    flex-shrink: 0;
                                    border-radius: 70px;
                                    object-fit: cover;
                                    margin-right: 30px;
                                }

                            }
                        }

                        .related-post-content {
                            span {
                                display: none;
                            }

                            .info {
                                h4 {
                                    color: var(--Primary-dark, var(--DARK, #111));
                                    font-family: 'Manrope', sans-serif;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 130%;
                                    /* 26px */
                                }

                                h5 {
                                    color: var(--PRIMARY-PURE, #848484);
                                    font-family: 'Manrope', sans-serif;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 145%;
                                    /* 18.85px */
                                    text-transform: uppercase;
                                    margin-top: -20px;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.has-columnist {
            header {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: 970px;
                gap: 100px;

                &.has-thumbnail {
                    gap: 20px;
                }

                .post-info {
                    .post-date {
                        display: inherit;
                        color: var(--Gray-3, #828282);
                        font-family: 'Manrope', sans-serif;
                        font-size: 13px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 145%;
                    }

                }

            }

        }
    }
}