@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;

.single-opiniao{

    #single-opiniao{
        main{
            article{
                max-width: initial;
                margin: initial;
                header{
                    width: 100%;
                    margin-left: auto;
                    margin-right: auto;
                    max-width: 565px;
                    
                    gap: 100px;
                    .post-info{ 
                        flex-direction: column;
                        max-width: 565px;
                        margin-top: 40px;
                        @media(max-width:992px){
                            margin-top: 20px;
                        }
                        img{
                            display: none;
                        }
                        .date{
                            @media(max-width:992px){
                                margin-top: -20px;
                            }
                        }
                        h2{
                            margin-top: -30px;
                            color: var(--PURE, #262626);
                            font-family: 'Manrope',sans-serif;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%; /* 57.6px */
                            letter-spacing: -1.44px;
                            margin-bottom: -3rem;
                            @media(max-width:992px){
                                margin-bottom: 0rem;
                                margin-top: 0;                            
                            }
                        }
                        .excerpt{
                            margin-top: 1rem;
                            @media(max-width:782px){
                                margin: 24px 0px;
                            }
                            p{
                                color: var(--PRIMARY-PURE, #848484);
                                font-family: Manrope;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 150%; /* 30px */
                                margin-top: 24px;
                                margin-bottom: 31px;
    
                            }
                           
                        }
                        .date{
                            margin-bottom: 0;
                           
                        }
                        
                    }
                    .author-info{
                        .author-info-card{
                            width: 270px;
                            height: auto;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            border-radius: 8px;
                            background: var(--Gray-1, #333);
                            flex-shrink: 0;
                            img{
                                width: 175.648px;
                                height: 175px;
                            }
                            .author-name{
                                color: var(--White, #FFF);
                                font-family: Manrope;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 800;
                                line-height: 24px; /* 120% */
                                letter-spacing: -0.6px;
                                margin: 0 95px 7px 0;
                            }
                            .authbio{
                                color: var(--White, #FFF);
                                font-family: Manrope;
                                font-size: 12px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 130%; /* 15.6px */
                                border-top: 1px solid #F2F2F2 ;
                                margin: 0px 20px;
                            }
                            .social-networks{
                                display: flex;
                                margin: 0px 32px;
                                margin-top: 34px;
                                flex-direction: row;
                                margin-right: 115px;
                                span{
                                    a{
                                        margin-left: 8px;
                                        svg{
                                            path{
                                                fill: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .author-info-mobile{
                        margin-bottom: -2rem;
                        margin-top: -1rem;
                        @include mixins.mobile{
                            margin-top: 0;
                            margin-bottom: 1.5rem;
                        }
                        img{
                            display: inherit;
                        }
                        .author-name{
                            color: #fff
                        }  
                    }
                }
                section{
                    .post-content{
                        @media(max-width:992px){
                            margin: 50px 0;

                        }

                    }
                    p{
                        color: var(--PURE, #262626);
                        font-family: Manrope;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 150%; /* 24px */
                        margin: 0px;
                        width: 570px;
                        margin-bottom: 12px !important;
                        @media(max-width: 783px){
                            width: initial;
                            margin: auto;
                        }
                        h2{
                            color: var(--PURE, #262626);
                            font-family: 'Manrope',sans-serif;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%; /* 57.6px */
                            letter-spacing: -1.44px;
                        }
                        
                    }
                    h2{
                        margin-top: 12px !important;
                        margin-bottom: 8px !important;
                    }
                    h1{
                        margin-top: 12px !important;
                        margin-bottom: 12px !important;
                        @include mixins.mobile{
                            font-size:27px;
                        }
                    }
                    strong{
                        color: var(--PURE, #262626);
                        font-family: 'Manrope',sans-serif;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 120%; /* 57.6px */
                        letter-spacing: -1.44px;
                        
                        
                    }
                    .addtoany_share_save_container{
                        display: none;
                    }
                    .midia-conteudo_2{
                        display: none;
                    }
                    div{
                        img{
                            margin-top: 48px;
                            margin-bottom: 48px;
                        }
                    }
                    .page-share{
                        margin-top: 32px;
                        
                    }
                }
            }

            .post-footer{
                @include mixins.mobile{
                    display: flex;
                    justify-content: center;
                }
                .related-posts{
                    width: auto;
                    padding-top: 45px;
                    padding-bottom: 64px;
                    @media(max-width:992px){
                        display: block;
                    }

                    h2{
                        margin-top: 0px !important;
                        margin-bottom: 32px !important;
                    }
                    .related{
                        width: 100%;
                        display: grid;
                        grid-template-columns: 1fr 1fr 1fr;
                        @media(max-width:992px){
                            grid-template-columns: 1fr;
                        }

                        .related-post-card{
                            display: flex;
                            align-items: center;

                            .related-post-image{
                                img{
                                    height: 70px;
                                    width: 70px;
                                    flex-shrink: 0;
                                    border-radius: 70px;
                                    object-fit: cover;
                                    margin-right: 30px;
                                }
            
                            }
                        }
                        .related-post-content{
                            span{
                                display: none;
                            }
                            .info{
                                h4{
                                    color: var(--Primary-dark, var(--DARK, #111));
                                    font-family: Manrope;
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 130%; /* 26px */
                                }
                                h5{
                                    color: var(--PRIMARY-PURE, #848484);
                                    font-family: Manrope;
                                    font-size: 13px;
                                    font-style: normal;
                                    font-weight: 700;
                                    line-height: 145%; /* 18.85px */
                                    text-transform: uppercase;
                                    margin-top: -20px;
                                }
                            }
                        }
                    }
                } 
            }
        }

        &.has-columnist{
            header{
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                max-width: 970px;
                gap: 100px;
            }    
        }
    }
}