#single-opiniao{
    h2,p{margin: 0px!important; padding: 0px !important;}
    
    main{
        
        article{
            max-width: initial;
            margin: initial;
            header{
                max-width: initial !important;
                gap:130px !important;
                & .post-info{
                    margin-top: 153px;
                    img{
                        display: none;
                    }
                    .title{
                        h2{
                            color: var(--PURE, #262626);
                            font-family: 'Manrope',sans-serif;
                            font-size: 48px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 120%; /* 57.6px */
                            letter-spacing: -1.44px;
                        }
                    }
                    .excerpt{
                        p{
                            color: var(--PRIMARY-PURE, #848484);
                            font-family: Manrope;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 150%; /* 30px */
                            margin-top: 24px;
                            margin-bottom: 31px;
                        }
                    }
                }
                .author-info{
                    & .author-info-card{
                        width: 270px;
                        height: 497px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        border-radius: 8px;
                        background: var(--Gray-1, #333);
                        flex-shrink: 0;
                        img{
                            width: 175.648px;
                            height: 175px;
                        }
                        .authbio{
                            color: var(--White, #FFF);
                            font-family: 'Manrope',sans-serif;
                            font-size: 12px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 130%; /* 15.6px */
                            border-top: 1px solid #F2F2F2 ;
                            margin: 0px 32px;
                        }
                        .social-networks{
                            display: flex;
                            margin: 0px 32px;
                            margin-top: 48px;
                            flex-direction: row;
                            margin-right: 115px;
                            span{
                                a{
                                    margin-left: 8px;
                                    svg{
                                        path{
                                            fill: white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
            section{
               
                p{
                    color: var(--PURE, #262626);
                    font-family: Manrope;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 150%; /* 24px */
                    margin: 0px;
                }
                .addtoany_share_save_container{
                    display: none;
                }
                .midia-conteudo_2{
                    display: none;
                }
                div{
                    img{
                        margin-top: 48px;
                        margin-bottom: 48px;
                    }
                }
                .page-share{
                    margin-top: 32px;
                    
                }
            }
        }
        .related{
            .related-post{
                display: flex;
                .related-post-image{
                    img{
                        height: 70px;
                        width: 70px;
                        flex-shrink: 0;
                        border-radius: 70px;
                        object-fit: cover;
                        margin-right: 30px;
                    }

                }
                .related-post-content{
                    span{
                        display: none;
                    }
                    .info{
                        h5{
                            color: var(--Primary-dark, var(--DARK, #111));
                            /* <h4> Manrope */
                            font-family: Manrope;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 130%; /* 26px */
                        }
                    }
                    
                }

            }
            .related-post:last-child{
                display: none !important;
            }
           
        }
        .comments{
            margin-bottom: 0px;
            padding-bottom: 0px;
            padding-top: 0px;
        }
    }
    .post-footer{
        h4{
            margin-top: 0px;
        }
    }
}