@use "./../1-settings/s-variables" as variables;
@use "./../2-atoms/a-mixins" as mixins;
@use "./../3-components/c-header-especiais";


.single-especial {
    #app {
        @extend .header-especiais;

        .container{
            .post-content{
				h1{
					@include mixins.mobile{
						font-size: 2.4rem;
						line-height: 3.2rem;
					}
				}
				.climax{
					@include mixins.mobile{
						padding-inline: 30px;
					}

					.wp-block-cover__inner-container{
						@include mixins.mobile{
							flex-direction: column;
						}

						.wp-block-separator{
							@include mixins.mobile{
								display: none;
							}
						}

						p{
							@include mixins.mobile{
								display: flex !important;
								border-top: 2px solid var(--Gray-300,#e1e1e1);
								margin-top: 0;
								padding-top: 24px;
							}
						}

						h2{
							@include mixins.mobile{
								margin-left: 0 !important;
								margin-top: 0;
								margin-bottom: 0;
							}
						}

						.wp-block-image > img{
							@include mixins.mobile{
								height: auto;
								max-width: 300px;
								width: 100%;
							}
						}

						.wp-block-columns:last-child{
							@include mixins.mobile{
								gap: 17px !important;
								padding-inline: 0;
							}
							.wp-block-column{
								@include mixins.mobile{
									max-width: 25px;
								}
							}

							.wp-block-column > .wp-block-image > a > img{
								@include mixins.mobile{
									height: auto;
									max-width: 25px;
									width: 100%;
								}
							}
						}
					}
				}

				.model-albums{
					margin-bottom: 0;
				}

				.model-videos {
					background-color: var(--wp--preset--color--secondary-pure);
					margin-bottom: 0;

					@media(max-width: 782px) {
						background-color: var(--wp--preset--color--secondary-light);
					}

					.container {
						@media(max-width: 992px) {
							padding: 50px 15px 48px 15px;
						}

						@media(max-width: 576px) {
							padding: 16px 0px 48px 0;
							margin-left: -12px;
						}
					}

					.latest-horizontal-posts-block__content {
						padding-left: 6rem;
						padding-bottom: 1rem;

						@media(max-width: 1052px) {
							padding-bottom: 2rem;
						}

						@media(max-width: 992px) {
							padding-left: 15px;
							padding-bottom: 5.2rem;

						}

						@media(max-width: 767px) {
							padding-bottom: 0rem;

						}

						h2 {
							color: var(--wp--preset--color--primary-dark);
							font-size: 3rem;
							font-weight: 800;

							@media(max-width: 992px) {
								text-align: center;

							}
						}
					}

					.latest-horizontal-posts-block__slides {
						&::after {
							display: none;
						}

						&::before {
							display: none;
						}
					}

					.slick-list {
						height: 332px;
						margin-left: 1rem;

						@media(max-width: 1052px) {
							margin-top: 1.2rem;

						}

						@media(max-width: 767px) {
							height: 265px;
							margin-left: -10px;
						}
					}

					.slick-slide,
					.videos,
					.post-thumbnail,
					img {
						width: 170px;
						height: 302px;
						border-radius: 12px;

						@media(max-width: 1292px) {
							width: 140px;
							height: 272px;
						}

						@media(max-width: 1094px) {
							width: 122px;
							height: 225px;
						}

						@media(max-width: 964px) {
							width: 102px;
							height: 225px;
						}

						@media(max-width: 822px) {
							width: 92px;
							height: 225px;
						}

						@media(max-width: 782px) {
							width: 325px;
							height: 245px;
							margin-left: auto;
							margin-right: auto;
							border-radius: 8px;
						}

						@media(max-width: 359px) {
							width: 305px;
							height: 245px;
						}
					}

					.post-thumbnail {
						.play {
							display: none;
						}
					}

					.latest-horizontal-posts-block__arrows {
						@media(max-width: 782px) {
							width: 240px;
						}
					}

					.slick-arrow {
						transition: none !important;
					}

					.slick-arrow.slick-prev {
						background-color: var(--wp--preset--color--primary-light) !important;
						background-image: url(variables.$p_theme_assets + "/images/arrow-white-next.svg");
						transform: rotate(180deg);

						&:hover {
							background-color: #333 !important;
							background-image: url(variables.$p_theme_assets + "/images/arrow-white-next.svg");
							background-position: center !important;
							background-repeat: no-repeat !important;
						}
					}

					.slick-arrow.slick-next {
						background-color: var(--wp--preset--color--primary-light) !important;
						background-image: url(variables.$p_theme_assets + "/images/arrow-left-slider-white.png");

						&:hover {
							background-color: #333 !important;
							background-image: url(variables.$p_theme_assets + "/images/arrow-left-slider-white.png");
							background-position: center !important;
							background-repeat: no-repeat !important;
						}
					}

					.slick-arrow.slick-disabled {
						background-color: #898989 !important;
					}

					li.slick-active {
						background-color: #898989;
					}

					.latest-horizontal-posts-block__dots {
						.slick-dots {
							li {
								@media(max-width: 782px) {
									background-color: var(--wp--preset--color--secondary-dark);
								}
							}

							.slick-active {
								background-color: var(--wp--preset--color--primary-dark);

							}
						}
					}
				}

                .wp-block-columns:nth-of-type(1){
                    :first-child{
                        img{
                            border-radius: 8px;
                        }
                    }
                    :last-child{
                        .wp-block-cover {
                            border-radius: 8px;

                            @media(max-width: 992px){
								min-height: unset;
                            }

							&__inner-container{
								@media (max-width: 768px){
									align-items: center;
									display: flex;
									gap: 1rem;
									justify-content: flex-start;
								}

								.wp-block-spacer{
									@media (max-width: 768px){
										display: none;
									}
								}

								.wp-block-post-author{
									display: none;

									@media (max-width: 768px) {
										display: grid;
										border-bottom: 1px solid white;
    									padding-bottom: 10px;
										width: 100%;
										padding-top: 16px;
									}

									&__name {
										display: block !important;
										color: white !important;
										font-weight: 600;
										grid-row: 1;
  										grid-column: 2;
									}
								}

								.wp-block-group{
									@media (max-width: 768px){
										margin-left: inherit !important;
										margin-right: inherit !important;
									}
								}

								.wp-block-image:nth-child(2){
									@media (max-width: 768px){
										height: auto;
										margin-left: inherit !important;
										margin-right: inherit !important;
									}

									img{
										@media (max-width: 768px){
											height: auto !important;
											width: 68px !important;
											grid-row: 1 / span 2;
  											grid-column: 1;
										}
									}
								}
							}

                            p{
                                @media(max-width: 768px){
									display: none;
                                }
                            }
                            .wp-block-columns{
								@media (max-width: 992px){
									gap: 4px;
									grid-row: 2;
  									grid-column: 2;
									margin-bottom: 0;
									width: 100%;
								}

                                .wp-block-column{
                                    @media(max-width: 992px){
                                        flex-basis: 30% !important;
										flex-grow: 0;
                                    }

                                    .wp-block-image.aligncenter{
                                        text-align: left;
                                    }

                                    img{
                                        @media(max-width: 992px){
                                            width: 45px;
                                            height: 45px;
                                        }

                                    }
                                }
                            }
                        }
                    }
                }
                .wp-block-columns:nth-of-type(2){
                    :first-child{
                        h2{
                            margin-top: 0px;
                            margin-bottom: 21px;
                        }
                    }
                    .latest-grid-posts-block{
                        h2{
                            margin-top: 12px;
                            margin-bottom: 0;
                        }
                    }
                }
                .latest-horizontal-posts-block{

                    .latest-horizontal-posts-block__heading{
                        font-feature-settings: var(--f-ninja-config);
                        font-family: var(--f-ninja);
                    }
                }
            }
        }

		.wp-block-cover {
			&#cobertura {
				.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column:not(:only-child) {
					@include mixins.mobile {
						padding-left: 1rem;
						padding-right: 1rem;
					}
				}
			}
		}
	}

    &.especial-paris-2024{
        #news-olimpica{
                .wp-block-cover__inner-container{
                    h2{
                        font-feature-settings: 'calt' on;
                        font-family: "MidiaNinja";
                        font-size: 3.2rem;

                    }
                }
        }
    }

	&.especial-cirio-2025 {
		#banner {
			.wp-block-cover {
				@include mixins.mobile {
					min-height: 300px !important;
					padding-bottom: 2rem;
					padding-top: 2rem;
				}

				.wp-block-cover__inner-container {
					@include mixins.mobile {
						flex-direction: column;
					}

					.wp-block-separator {
						@include mixins.mobile {
							display: none;
							padding: 1rem;
						}
					}

					.wp-block-image {
						img {
							@include mixins.mobile {
								height: auto;
								max-width: 190px;
								width: 100%;
							}
						}
					}

					.wp-block-columns {
						@include mixins.mobile {
							justify-content: center;
						}

						.wp-block-column {
								@include mixins.mobile {
									display: flex;
									justify-content: center;
								}
							}
					}
				}
			}

		}

		.wp-block-columns:first-of-type > .wp-block-column:first-child {
			@include mixins.mobile {
				display: block !important;
			}
		}
	}
}

body{
    &.especial-circuito-de-formacao{
        .post-content{
            .wp-block-columns{
                @include mixins.mobile{
                    max-width: 100%;
                }

				@include mixins.small {
					flex-direction: column;
				}
            }
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: contain;
                }
            }
            p{
                text-align: start;
            }
        }
    }
    &.especial-convocatoria{
        .post-content{
            .wp-block-columns{
                @include mixins.mobile{
                    max-width: 100%;
                }
            }
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: inherit;
                }
            }

        }
    }
    &.especial-paris-2024{
        .wp-block-column{
            h2{
                font-family: 'Manrope', sans-serif !important;
            }
        }

    }
    &.especial-copa-femininja-2023 {
        .wp-block-column{
            h2{
                font-family: 'Manrope', sans-serif !important;
            }
        }
    }
    &.especial-paralimpiadas-tokyo-2020{
        .post-content{
            .wp-block-columns:nth-of-type(1){
                img{
                    object-fit: contain;
                }
            }

        }
    }
    &.especial-grammy2022{
        .menu-especial__logo-mobile{
			object-fit: contain !important;
        }
    }
    &.especial-cop-26 {
        #videos{
            .wp-block-cover__inner-container{
                .wp-block-columns:nth-of-type(3) {
                    @include mixins.mobile{
                        display: flex;
                    }
                    .wp-block-column{
                        figure{
                            min-width: auto;
                        }
                    }
                }
            }
        }
    }
	.cop-climax {
		border-radius: 12px;
		border: 2px solid var(--SECONDARY,#ccc);
		background: var(--White,#fff);
		padding: 38px 29px;
		background: black!important;
		color: white;
		a, h2 {
			color:white!important;
		}
		.latest-vertical-posts-block .post.videos .post-thumbnail {
			max-width: 124px;
			width: 100%;
			height: 88px;
			flex-basis: inherit;
		}
		img {
			max-width: 100%;
			left: auto;
			transform: none;
			-o-object-fit: inherit;
			object-fit: inherit;
			border-radius: 9px;
		}
		.latest-vertical-posts-block.cop-climax .post.videos .video-title {
			font-size: .85rem;
			font-weight: 600;
			line-height: 1.4;
		}
	}

}

.especial-cop-30,
.especial-cop-30-1{
	.especial-sobre{
		background-color: #ffe7b6;
		justify-content: center;
		margin-bottom: 0;

		.wp-block-spacer{
			@include mixins.mobile{
				display: none;
			}
		}

		@include mixins.mobile{
			margin-bottom: 0;
			margin-top: 0;
			padding-bottom: 24px;
		}

		.wp-block-column:first-child {
		    flex-basis: 770px !important;

		    @include mixins.mobile {
		        flex-basis: inherit !important;
		    }
		}

		.wp-block-column:last-child {
		    flex-basis: 342px !important;

		    @include mixins.mobile {
		        flex-basis: inherit !important;
		    }
		}

		@include mixins.mobile{
			padding-inline: 16px;
		}
	}

	#app > .container > .post-content > .wp-block-columns > .wp-block-column > .latest-grid-posts-block > .container > .latest-grid-posts-block__pagination{
		margin-bottom: 0;
		margin-top: 0;
	}

	.latest-horizontal-posts-block{
		margin-bottom: 0;
	}
}

.wp-block-atbs-tabs {
	margin-bottom: 100px;

    .tabs-container {
        .tabs-nav {
            .tabs-titles {
                background-color: transparent;

				@include mixins.mobile {
					flex-direction: row;
					overflow: scroll;
				}

                .tab-title {
                	color: #111111;

                    &.active {
                        border-bottom: 2px solid #111111;
                		background-color: #333;
						color: #fff;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
  .wp-block-atbs-tabs { position: relative; }

  .wp-block-atbs-tabs .atbs-tabs__nav,
  .wp-block-atbs-tabs [role="tablist"] {
    --tabs-start-spacer: 14px;
    --tabs-end-spacer: 56px;
    display: flex;
    gap: .5rem;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    padding: 0 .5rem;
    padding-inline-start: var(--tabs-start-spacer);
    padding-inline-end: var(--tabs-end-spacer);
    scroll-padding-inline-start: var(--tabs-start-spacer);
    scroll-padding-inline-end: var(--tabs-end-spacer);
  }
  .wp-block-atbs-tabs .atbs-tabs__nav::-webkit-scrollbar,
  .wp-block-atbs-tabs [role="tablist"]::-webkit-scrollbar { display: none; }

  .wp-block-atbs-tabs .atbs-tabs__nav::before,
  .wp-block-atbs-tabs [role="tablist"]::before {
    content: "";
    flex: 0 0 var(--tabs-start-spacer);
  }
  .wp-block-atbs-tabs .atbs-tabs__nav::after,
  .wp-block-atbs-tabs [role="tablist"]::after {
    content: "";
    flex: 0 0 var(--tabs-end-spacer);
  }

  .wp-block-atbs-tabs .atbs-tabs__nav > *,
  .wp-block-atbs-tabs [role="tablist"] > * {
    flex: 0 0 auto;
    scroll-snap-align: center;
  }

  .wp-block-atbs-tabs .tabs-nav { overflow: visible; }

  .wp-block-atbs-tabs .atbs-tabs__scroll-btn {
    position: absolute;
    height: 36px; width: 36px;
    display: grid; place-items: center;
    border: 0; border-radius: 9999px;
    background: rgba(0,0,0,.5);
    color: #fff;
    z-index: 2;
    cursor: pointer;
  }

  .wp-block-atbs-tabs .atbs-tabs__scroll-btn[disabled] { opacity: .35; cursor: default; }
  .wp-block-atbs-tabs .atbs-tabs__scroll-btn--left { left: -12px; }
  .wp-block-atbs-tabs .atbs-tabs__scroll-btn--right { right: 4px; }
}

@media (min-width: 769px) {
  .wp-block-atbs-tabs .atbs-tabs__scroll-btn { display: none; }
}

.menu-especial__overlay {
    position: fixed;
    inset: 0;
    z-index: 9998;
    background: transparent;
    display: none
}

.menu-especial__popover {
    position: fixed;
    z-index: 9999;
    display: none;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .18);
    border-radius: 12px;
    overflow: hidden;
	left: 237px !important;
}

.menu-especial__popover ul {
    margin: 0;
    padding: .25rem 0;
    list-style: none
}

.menu-especial__popover li a {
    display: block;
    padding: .75rem 1rem;
    text-decoration: none
}

@media (min-width:769px) {

    .menu-especial__overlay,
    .menu-especial__popover {
        display: none !important
    }
}
