@use "./../1-settings/s-variables" as variables;
@import "./../2-atoms/a-mixins";
@import "../3-components/c-share";
@import "../5-blocks/b-image";

.single {
	#app {
		background-color: #f5f5f5;
		padding-top: 33px;
	}

	header .container .row {
		max-width: 1170px;
		margin: auto;
	}

	.container {
		//max-width: 100%;

		main.content {
			max-width: 1170px;
			margin: auto;

			.post {
				font-family: Manrope;
				font-style: normal;
				max-width: 786px;
				margin: auto;

				.addtoany_list {
					display: flex;
					margin-right: 5px;

					a.a2a_button_copy_link {
						span {
							background-image: url($p_theme_assets + "/images/social-networks/share.svg");
							background-size: 22px !important;
							background-position: 0 1px;

							svg {
								display: none;
							}
						}
					}

					a.a2a_button_x {
						svg {
							width: 28px;
							margin: -2px;
						}
					}
				}

				h1 {
					line-height: 115%;
					/* 55.2px */
					letter-spacing: -1.44px;
				}

				.excerpt {
					p {
						color: var(--PRIMARY-PURE, #848484);
						/* <h5> Manrope */
						font-size: 20px;
						font-weight: 700;
						line-height: 130%;
						/* 26px */
					}
				}

				header.post-header {
					width: 100%;
					max-width: 970px;
					display: flex;
					gap: 30px;

					@media (min-width: 1200px) {
						width: max-content;
					}


					img {
						max-width: 100%;
						height: auto;
					}

					.post-info{
						max-width: 770px;
						width: 100%;

						.info {
							font-size: 20px;
							font-weight: 800;
							line-height: 150%;
							/* 30px */
							letter-spacing: -0.6px;
							position: absolute;
							margin: 20px;
							ma
	
							a {
								border-radius: 4px;
								padding: 1px 11px;
							}
	
							a:nth-child(n + 2) {
								display: none;
							}
						}
						.author-info-mobile {
							margin-bottom: -2rem;
							margin-top: -1rem;
							@media (min-width: 1200px) {
								display: none;
							}
							.author-info-card {
								max-width: 690px;
								width: 100%;
								margin-left: auto;
								margin-right: auto;
								text-align: left;
								display: flex;
								gap: 1.5rem;
								align-items: center;
								padding: 21px 25px 19px 20px;
	
								img.avatar {
									width: 92px;
									height: 92px;
									margin-bottom: 0;
								}
								.auth-name-icons {
									flex-direction: column;
									width: 100%;
								}
	
								.authname {
									font-family: "Manrope", serif;
									font-size: 20px;
									font-style: normal;
									font-weight: 700;
									line-height: 130%;
									padding-bottom: 5px;
									max-width: 1740px;
									width: 100%;
								}
								hr {
									border-top: 1px solid #f2f2f2;
									width: 100%;
									margin-top: 0rem;
								}
								.social-networks {
									max-width: 174px;
									width: 100%;
									justify-content: flex-start;
									gap: 1rem;
								}
							}
						}
					}
					
					.content-author {
						display: flex;
						flex-direction: column;
						align-items: center;
						border-top: 1px solid;
						padding-top: 26px;
						margin: 60px auto 8px;
						color: #000;
						max-width: 768px;

						@media (min-width: 768px) {
							flex-direction: row;
						}

						> div {
							display: flex;
							width: 100%;
						}

						img {
							border-radius: 100%;
						}

						.author {
							display: flex;
							flex-direction: column;
							place-content: center;
							margin: 0 30px;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: 150%; /* 24px */
							letter-spacing: -0.48px;

							@media (min-width: 768px) {
								font-weight: 800;
							}

							time {
								color: var(--Primary-light, var(--PRIMARY-PURE, #848484));
								font-weight: 500;

								.clock::before {
									content: url($p_theme_assets + "/images/clock.svg");
									position: relative;
									top: 5px;
								}
							}
						}

						.page-share {
							width: 100%;
							margin-top: 24px;

							@media (min-width: 768px) {
								justify-content: end;
								margin-top: 10px;

								> span {
									display: none;
								}
							}

							span {
								color: #000;
								font-size: 16px;
								font-style: normal;
								font-weight: 500;
								line-height: 150%; /* 24px */
								letter-spacing: -0.48px;
								align-self: center;
							}

							.social-icons {
								display: flex;
								margin-left: 16px;
							}

							.social-menu {
								position: initial;
								padding: 3px;
								display: block;

								.social-icon {
									display: none;

									&.icon-instagram {
										display: block;
										padding: 0 8px;
										margin: 0 -8px;

										svg {
											width: 19px;
										}
									}
								}
							}

							svg path {
								fill: #000;
							}

							.addtoany_list {
								//display: flex;

								a.a2a_button_facebook {
									span {
										background-image: url($p_theme_assets + "/images/social-networks/facebook-black.svg");
										width: 24px;
										display: block;
										height: 24px;
										padding: 3px;

										svg {
											display: none;
										}
									}
								}
							}
						}
					}
					.author-info {
						display: flex;
						flex-direction: column;
						@media (max-width: 1199px) {
							display: none;
						}
					}
					.author-info-card {
						border-radius: 8px;
						background: var(--Gray-1, #333);
						width: 230px;
						height: auto;
						padding: 21px 13px 22px;
						text-align: center;
						margin-bottom: 1rem;
						.avatar {
							margin-bottom: 2rem;
							border-radius: 50%;
						}

						.authname{
							color: var(--White, #FFF);
							font-family: Manrope;
							font-size: 20px;
							font-style: normal;
							font-weight: 800;
							line-height: 24px;
							letter-spacing: -0.6px;
							margin-bottom: 0.6rem;
						}

						hr {
							border-top: 1px solid #f2f2f2;
							width: 100%;
							margin-top: 0rem;
							margin-bottom: -5px;
						}

						.authbio {
							text-align: left;
							padding-top: 1rem;
							color: #fff;
							font-family: "Manrope", serif;
							font-size: 13px;
							font-style: normal;
							font-weight: 500;
							line-height: 130%;
							letter-spacing: -0.36px;
						}
						.social-networks {
							margin-top: 1rem;
							display: flex;
							justify-content: space-around;
						}
					}
				}

				section.post-content {
					width: 100%;
					max-width: 570px;
					margin: auto;

					@media (min-width: 768px) {
						margin-top: 22px;
					}

					p {
						line-height: 140%;
						letter-spacing: -0.48px;
						font-weight: 500;
					}

					img {
						max-width: 100%;
						width: 100%;
						position: relative;
						left: 50%;
						transform: translateX(-50%);
						object-fit: contain;
					}

					figcaption {
						margin: 8px auto;
						font-size: small;
						font-weight: 500;
						line-height: 18.85px;
					}

					.page-share {
						margin: 24px auto;
						width: max-content;
						position: relative;
						top: 0;
						left: 0;
						transform: none;
						padding: 0;

						.social-menu {
							position: absolute;
							top: 2px;
							left: -34px;
							display: block;

							.social-icon {
								display: none;

								&.icon-instagram {
									display: block;
									padding: 0 8px;
									margin: 0 -10px;

									svg {
										width: 19px;
										color: #e1306c;
									}
								}
							}
						}

						.a2a_button_facebook {
							svg path {
								fill: #3b5998;
							}
						}

						.a2a_button_whatsapp {
							svg path {
								fill: #128c7e;
							}
						}

						.a2a_button_x,
						.a2a_button_copy_link {
							svg path {
								fill: #000;
							}
						}
					}
				}
			}

			.comments {
				border-top: 1px solid;
				//border-bottom: 1px solid;
				width: 100vw;
				position: relative;
				left: 50%;
				transform: translateX(-50%);
				margin: 32px 0;
				padding: 32px 0;
			}

			section.post-footer {
				margin-bottom: 24px;

				@media (min-width: 1200px) {
					margin: 56px 0;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					width: 1200px;
				}

				.related-posts {
					max-width: 570px;
					margin: auto;

					@media (min-width: 768px) {
						max-width: 100%;
					}

					h2 {
						font-size: 24px;
						line-height: 120%;
						letter-spacing: -0.24px;
						margin: 40px 0 16px;

						@media (min-width: 768px) {
							margin-bottom: 36px;
						}
					}

					.related {
						display: flex;
						gap: 23px;
						flex-wrap: wrap;
						justify-content: center;

						@media (min-width: 768px) {
							gap: 30px;
							justify-content: normal;
						}

						.related-post {
							position: relative;
							min-width: 330px;

							@media (min-width: 768px) {
								max-width: 270px;
								min-width: auto;
							}

							a {
								display: block;
							}

							.related-post-image img {
								max-width: 100%;
								height: 188px;
								border-radius: 8px;
								object-fit: cover;

								@media (min-width: 768px) {
									height: 155px;
								}
							}

							.category {
								font-size: 12px;
								font-weight: 800;
								line-height: 150%;
								position: absolute;
								top: 150px;
								left: 12px;
								padding: 3px 10px;
								border-radius: 4px;

								@media (min-width: 768px) {
									top: 118px;
								}
							}

							.info {
								h5 {
									color: var(--Gray-1, #333);
									font-family: Manrope;
									font-size: 20px;
									font-style: normal;
									font-weight: 700;
									line-height: 150%; /* 30px */
									letter-spacing: -0.6px;
									margin: 10px 0;
								}

								time {
									color: var(--Gray-3, #828282);
									font-size: 13px;
									font-style: normal;
									font-weight: 500;
									line-height: 145%; /* 18.85px */
								}
							}
						}
					}
				}
			}
		}
	}

	.menu-especial {
		display: flex;
		margin: auto;
		margin-bottom: 33px;
		max-width: 1170px;
		width: 100%;

		&__links {
			background-color: var(--menu-especial-bg);

			ul, li {
				margin: 0;
				padding: 0;
			}

			ul {
				align-items: center;
				display: flex;
				justify-content: space-evenly;
			}

			li {
				list-style: none;
			}

			a {
				color: var(--menu-especial-link);
				font-weight: bold;
				text-decoration: none;
			}
		}

		@media screen and (max-width: 767px) {
			gap: 3px;
			flex-direction: column-reverse;

			&__links {
				padding: 10px;

				ul {
					flex-wrap: wrap;
					gap: 5px 10px;
				}
			}

			&__logo-desktop {
				display: none;
			}

			&__logo-mobile {

				img {
					aspect-ratio: 90 / 34;
					height: auto;
					object-fit: cover;
					object-position: center;
					width: 100%;
				}
			}
		}

		@media screen and (min-width: 768px) {
			align-items: center;
			background-color: var(--menu-especial-bg);
			border-radius: 8px;
			gap: 40px;
			padding: 5px 40px;

			&__links {
				flex: 1;
			}

			&__logo-mobile {
				display: none;
			}
		}
	}
}
