@use "./../1-settings/s-variables" as variables;
@import "./../2-atoms/a-mixins";
@import "../3-components/c-share";
@import "../5-blocks/b-image";
.page-template-template-colunistas{
    .container{
        .wp-block-columns:first-child{ // BANNER
			@include mobile{
				display: flex;
				justify-content: center;
				margin: 0px 20px;
			}
			.wp-block-column:first-child{  //col1
				max-width: 770px;
				@include mobile{
					margin: 0px 20px;
				}
				@include small{
					margin: 0px;
				}
				& .wp-block-cover{
					margin: 0px;
					padding: 0px;
					border-radius: 5px;
					width: 770px;
					margin: auto;
					width: auto;
					
					.wp-block-cover__inner-container{
						.wp-block-columns{
							margin: 0px;
							height: 506px;
							gap: 0px; 
							.wp-block-column:first-child{
								max-width: 400px;
								padding-top: 91px;
								fill: rgba(51, 51, 51, 0.70);
								backdrop-filter: blur(17.6999998093px);
								@media(max-width:468px){ 
									max-width: 430px;
									padding-top: 91px;
									fill: rgba(51, 51, 51, 0.7);
									-webkit-backdrop-filter: blur(17.6999998093px);
									backdrop-filter: blur(17.6999998093px);
									height: 424px;
									position: relative;
									top: 48%;
									transition: height 0.7s ease;
									margin: 0px;
								}

								h1{
									font-family: 'Manrope',sans-serif;
									font-size: 48px;
									font-style: normal;
									font-weight: 800;
									line-height: 115%;
									letter-spacing: -1.44px;
									align-items: center;
									width: 266.596px;
									margin: auto;
									margin-top: 14px;
									margin-bottom: 25px;
                                    color: #FFF;

                                    
								
								}
								& p:nth-child(1){ //afluentes
									max-width: 260px;
									margin: auto;
									color: var(--Secondary-light, #F5F5F5);
									font-family: "Archivo Expanded";
									font-size: 14px;
									font-style: normal;
									font-weight: 800;
									line-height: 155%; /* 21.7px */
									letter-spacing: -0.42px;
								}
								p:nth-of-type(2) {
									font-family: Manrope;
									font-size: 13px;
									font-style: normal;
									font-weight: 500;
									line-height: 145%; /* 18.85px */
									width: 257px;
									margin: auto;
                                    color: #FFF;

								}
							}
						}
					}
				}
			}
			.wp-block-column:last-child{ // col2
				display: block;
				max-width: 367px;
				height: 506px;
				flex-direction: column;
				align-items: flex-start;
				gap: 33px;
				flex-shrink: 0;
			
				.latest-vertical-posts-block {
					border-radius: 12px;
					background: #000;
					padding: 51px 33px 30px 33px;
					height: 506px;
					.latest-vertical-posts-block__heading{
						& h2{
							color: #FFF;
							/* <h2> Manrope */
							font-family: Manrope;
							font-size: 32px;
							font-style: normal;
							font-weight: 800;
							line-height: 120%; /* 38.4px */
							letter-spacing: -0.64px;
							margin-bottom: 33px;
							@include mobile{
								margin-bottom: 63px;
							}
						}
						
					}
					.slick-slider{
						.slide{
							width: 100%;
							display: flex !important;
							gap: 64px;
							flex-direction: column;
							margin-bottom: 33px;
							a{
								& .post{
									display: flex;
									flex-direction: row;
									align-items: flex-start;
									.post-content{
										.post-title{
											color: var(--White, #FFF);
											/* <p> Manrope */
											font-family: Manrope;
											font-size: 16px;
											font-style: normal;
											font-weight: 500;
											line-height: 140%; /* 22.4px */
											margin-top: 0px;
											border-bottom:  1px solid #FFF !important;
											width: 134px;
											padding: 6px 0px;
										}
										.post-meta{
											.post-meta--date{
												& span{
													display: none;
												}
											}
										}
									}
									.post-thumbnail{
										 .post-thumbnail--image{
											width: 135px;
											height: 97px;
											border-radius: 8px;


										}
										
									}
								}
							}
						} 
					}
					.latest-vertical-posts-block__footer{
						width: 135px; 
						.latest-vertical-posts-block__arrows{
							max-width: 171px;
						}
					}
				}
			}
			
		}
		.wp-block-columns:not(:first-child) {
			border-bottom: 1px solid  #848484;
			@include mobile{
				display: block;
				padding-right: 0px !important;
				padding-left: 0px !important;
			}
			.wp-block-column:first-child{
				@include mobile{
					display: flex;
					flex-direction: column;
					align-items: center;				
				}
				figure>img{
					width: 170px;
					height: 170px;
					border-radius: 170px;
	
				}
			}
			.wp-block-column:last-child{
				h4{
					color: var(--Primary-Pure, var(--PURE, #262626));
					/* <h4> Manrope */
					font-family: Manrope;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 130%; /* 26px */
					margin: 0;
				}
				article{
					.entry-wrapper{
						& h2{
							color: var(--Primary-dark, var(--DARK, #111));
							/* <h4> Manrope */
							font-family: Manrope;
							font-size: 20px;
							font-style: normal;
							font-weight: 700;
							line-height: 130%; /* 26px */	
						}
									
						&  p{
							color: var(--Primary-light, var(--PRIMARY-PURE, #848484));
							/* <p> Manrope */
							font-family: Manrope;
							font-size: 16px;
							font-style: normal;
							font-weight: 500;
							line-height: 140%; /* 22.4px */

						}
						& .entry-meta{
							display: none;
						}		
					}
				}
			}
		}
    }
}