.banner{
    text-align: center;
    border-radius: 10px;

    @include mobile{
        margin: 0 15px;
        width: calc(100% - 30px) !important;
    }

    &--title {
        color: #FFFFFF;
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
        margin-bottom: 15px;
    }

    &--description{
        color: #FFFFFF;
        font-size: 18px;
        text-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    }
}