.search-component {
    @include mobile {
        display: none;
    }

    form {
        div {
            display: flex;
            justify-content: flex-end;

            .screen-reader-text {
                display: none;
            }

            input[type="submit"] {
                background-color: #194465;
                background-image: url($p_theme_assets + '/images/search-icon.svg');
                background-position: 9px center;
                background-repeat: no-repeat;
                background-size: 65%;
                border-radius: 50%;
                border: 0;
                height: 35px;
                text-indent: -9999px;
                width: 35px;
            }
        
            input[type="text"] {
                background-color: #e1e1e1;
                border-radius: 20px;
                border: 0;
                margin-right: -35px;
                padding: 5px 45px 5px 15px;
                transition: all 0.2s cubic-bezier(0, 0, 0.2, 1);
                width: 120px;

                &.open-input {
                    width: 100%;
                }
        
                &:focus {
                    outline: 0;
                }
            }
        }
    }
}
