@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins";

.wp-block-jaci-deforestation-info {
    background-color: var(--c-darkness-05);
    border-radius: 8px;
    margin-bottom: var(--s-small);
    padding: var(--s-small);

    span {
        color: var(--c-gray);
        margin-right: 15px;

        @include desktop {
            margin-right: initial;
        }

        &.data-source {
            font-size: 0.75rem;
        }
    }

    .box-content {
        align-items: center;
        display: flex;
        justify-content: flex-start;
        padding-bottom: var(--s-small);

        @include desktop {
            align-items: flex-end;
            justify-content: space-between;
        }

        @media (max-width: 599px) {
            display: block;
            margin-bottom: 0;
            margin-top: 0;
        }

        .box-title {
            align-self: center;
            font-weight: bold;
            line-height: 1.5;
            padding-right: 15px;
            width: 30%;
        }

        .icon {
            align-items: center;
            background-image: url($p_theme_assets + '/images/eye.svg');
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            display: flex;
            height: 65px;
            width: 65px;

            @include desktop {
                background-position: bottom;
                margin-right: 5px;
                margin-bottom: var(--s-small);
            }

            @media (max-width: 599px) {
                margin: 0 auto;
            }
        }

        .count {
            display: flex;
            align-items: flex-end;
            font-size: size(50);
            line-height: 0.9;
            padding-bottom: 0;
            padding-top: 0;

            @include desktop {
                padding-bottom: var(--s-small);
            }

            @media (max-width: 599px) {
                display: inline-block;
                margin: 0 auto;
            }

        }

        .wrap {
            display: flex;

            @media (max-width: 599px) {
                display: block;
                text-align: center;
                padding-top: 15px;
                width: 100%;
            }

            .legend {
                display: flex;
                align-items: flex-end;
                font-size: 0.75rem;
                padding-left: 10px;

                @include desktop {
                    padding-bottom: var(--s-small);
                }

                @media (max-width: 599px) {
                    display: inline;
                }
            }
        }
    }
}