@import "./../1-settings/_s-variables";
@import './../2-atoms/a-mixins';

.featured-slider {
    .itens-wrapper {
        display: flex;
        
        .slide-item-wrapper {
            height: 100vh;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                height: 100vh;
                object-fit: cover;
                position: absolute;
            }

            .wrapper {
                @include mobile {
                    width: 100%;
                }

                .slide-content {
                    max-width: 610px;

                    @include mobile {
                        width: 100%;
                        max-width: 280px;
                    }

                    .counter {
                        color: white;
                        font-style: normal;
                        font-weight: normal;
                        font-size: size(14);
                        line-height: size(24);
                        letter-spacing: 0.02em;

                        @include mobile {
                            font-size: size(12);
                            line-height: size(18);
                            margin-bottom: 10px;
                        }
                    }
                    .image-title {
                        font-style: normal;
                        font-weight: normal;
                        font-size: size(48);
                        line-height: size(64);
                        color: white;

                        @include mobile {
                            font-size: size(24);
                            line-height: size(32);
                        }
                    }

                    .tns-controls {
                        margin-top: 48px;

                        @include mobile {
                            margin-top: 38px;
                        }

                        button {
                            appearance: none;
                            background: none;
                            border: none;
                        }

                        button:first-child {
                            margin-right: 32px;
                        }
                    }
                }
            }
        }
    }
}

// Temp
.slide-content .counter,
.slide-content .tns-controls {
	display: none;
}