@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../shared/scss/mixins";

.latest-horizontal-posts-block {
	background-color: #262626;
	color: #f5f5f5;
	margin-bottom: 30px;
	margin-left: calc(50% - 50vw);
	margin-right: calc(50% - 50vw);
	max-width: 100vw;
	overflow: hidden;
	padding: 0 15px;
	width: 100vw;

	.container {
		align-items: center;
		display: flex;
		padding: 50px 0 48px;

		@include break-medium {
			display: block;
		}
	}

	&.content-right {
		.container {
			flex-direction: row-reverse;
		}
	}

	&.show-slides-4,
	&.show-slides-5 {
		.container {
			max-width: 1370px;
		}
	}

	// .latest-horizontal-posts-block__content
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 300px;
		flex-basis: 24%;

		@include break-medium {
			min-height: inherit;
		}
	}

	// .latest-horizontal-posts-block__slides
	&__slides {
		flex-basis: 70%;
		overflow: hidden;

		&::before,
		&::after {
			content: "";
			display: block;
			width: 80px;
			height: 100%;
			position: absolute;
			top: 0;
			z-index: 1;
		}

		&::before {
			background: linear-gradient(
				-90deg,
				#262626 44.44%,
				rgba(38, 38, 38, 0) 90%
			);
			right: -30px;
		}

		&::after {
			background: linear-gradient(
				270deg,
				#262626 44.44%,
				rgba(38, 38, 38, 0) 90%
			);
			right: -30px;
		}

		.slide {
			margin-bottom: 30px;
			margin-top: 15px;
		}

		.slick-slide {
			margin: 0 15px;
		}

		.slick-list {
			margin: 0 -15px;
		}
	}

	// .latest-horizontal-posts-block__heading
	&__heading {
		@include break-medium {
			text-align: center;
		}

		h2 {
			color: #f5f5f5;
			font-family: var(--f-ninja);
			font-feature-settings: "calt" on;
			font-weight: 400;
			margin-bottom: 15px;
			margin-top: 0;

			a {
				color: #f5f5f5;
			}
		}

		p {
			color: #f5f5f5;
		}
	}

	.post {
		// .post-title
		&-title {
			font-size: 1.3rem;
		}

		// .post-thumbnail
		&-thumbnail {
			box-shadow: rgb(0, 0, 0) 0px 15px 20px -10px;
			margin-left: auto;
			margin-right: auto;
			max-width: 240px;
			overflow: hidden;
			position: relative;
			transition: all 0.3s ease-in-out;

			&::before {
				content: "";
				padding-top: calc(310px / 230px * 100%);
				float: left;
			}

			&::after {
				clear: left;
				content: " ";
				display: table;
			}

			&:focus-visible {
				border: 0;
				outline: none;
				background-color: transparent;
			}

			&__info {
				background: rgb(0, 0, 0);
				background: linear-gradient(
					0deg,
					rgba(0, 0, 0, 0.9) 0%,
					rgba(0, 0, 0, 0) 100%
				);
				bottom: 0;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				height: 100%;
				left: 0;
				padding: 15px;
				position: absolute;
				width: 100%;
				z-index: 2;

				h2 {
					color: #f5f5f5;
					font-size: 1.2rem;
					line-height: 1.5;
					margin-bottom: 0.8rem;
				}

				.tag,
				.date {
					background-color: #fbf36d;
					color: #000000;
					display: table;
					font-size: 1rem;
					font-weight: 600;
					padding: 2px 6px;
				}
			}

			img {
				border-radius: 8px;
				height: 100%;
				object-fit: cover;
				position: absolute;
				transition: all 0.3s ease-in-out;
				width: 100%;

				&:focus-visible {
					border: 0;
					outline: none;
					background-color: transparent;
				}
			}
		}

		&:hover {
			.post-thumbnail {
				box-shadow: rgb(0, 0, 0) 0px 15px 15px -5px;

				img {
					opacity: 0.8;
				}
			}
		}
	}

	// .latest-horizontal-posts-block__footer
	&__footer {
		position: relative;

		.latest-horizontal-posts-block__dots {
			align-items: center;
			display: flex;

			@include break-medium {
				justify-content: center;
			}

			.slick-dots {
				align-items: center;
				display: flex !important;
				gap: 8px;
				justify-content: center;
				margin-left: 28px;
				padding: 0;
				width: 140px;

				@include break-medium {
					margin-left: 0;
				}

				li {
					background-color: #848484;
					border-radius: 8px;
					list-style: none;
					transition: all 0.2s ease-in-out;
					height: 8px;
					width: 8px;

					&:hover {
						background-color: #f5f5f5;
					}

					button {
						background-color: transparent;
						border-style: unset;
						text-indent: -9999px;
					}

					&.slick-active {
						background-color: #ffffff;
						cursor: default;
						pointer-events: none;
					}
				}
			}
		}

		.latest-horizontal-posts-block__arrows {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin-top: -36px;
			width: 195px;

			@include break-medium {
				margin-left: auto;
				margin-right: auto;
			}

			.slick-arrow {
				background-color: #414141;
				background-image: url("./images/slider-arrow.svg");
				background-position: center;
				background-repeat: no-repeat;
				border-radius: 30px;
				border-style: unset;
				height: 30px;
				padding: 0;
				text-indent: -9999px;
				transition: all 0.2s ease-in-out;
				width: 30px;

				&.slick-next {
					transform: rotate(180deg);
				}

				&.slick-disabled {
					background-color: #414141;
					pointer-events: none;
				}

				&:hover {
					background-color: #f5f5f5;
				}
			}
		}

		&.medium-only {
			@include break-medium-up {
				display: none;
			}

			margin-top: 15px;
		}
	}

	&.content-full {
		.container {
			align-items: flex-start;
			flex-direction: column;
		}

		.latest-horizontal-posts-block__content {
			min-height: inherit;
		}

		.latest-horizontal-posts-block__slides {
			width: 100%;
		}
	}

	// Videos
	&.model-videos {
		.post {
			// .post-thumbnail
			&-thumbnail {
				max-width: 340px;

				&::before {
					padding-top: 56.25%;
				}

				.play {
					background-image: url("./images/play.png");
					background-position: center;
					background-repeat: no-repeat;
					display: block;
					height: 100%;
					left: 0;
					position: absolute;
					top: 0;
					width: 100%;
					z-index: 2;
				}
				img {
					border-radius: 4px;
				}
			}

			&:hover {
				.post-thumbnail {
					img {
						opacity: 0.6;
					}
				}
			}
		}
	}

	// Most read
	&.model-most-read {
		background-color: var(--wp--preset--color--dark-pure);

		&.without-title-description {
			.container {
				flex-direction: column-reverse;
			}
		}

		.latest-horizontal-posts-block {
			&__content {
				.latest-horizontal-posts-block__heading {
					h2 {
						font-family: "MidiaNinja", sans-serif;
						font-size: 54px;
						font-weight: 400;
						margin-bottom: 0;
						letter-spacing: normal;
						@media (max-width: 782px) {
							font-size: 38px;
						}
					}
				}
			}
			&__slides {
				&::before,
				&::after {
					display: none;
				}
				.slide {
					@media (max-width: 782px) {
						width: 280px !important;
						display: flex !important;
						margin-left: auto;
						margin-right: auto;
						padding-left: 1.7rem;
					}
					.post {
						max-width: 280px;
						width: 100%;
						&-content {
							.post-title {
								font-family: "Manrope", serif;
								font-size: 20px;
								font-style: normal;
								font-weight: 700;
								line-height: 130%;
							}
						}
					}
				}
			}
		}

		a {
			color: var(--wp--preset--color--secondary-light);
			text-decoration: none;
		}
	}
}
