@import '2-atoms/a-mixins';

/* ----- 1: SETTINGS ------- */
@import '1-settings/s-variables';
@import '1-settings/s-typography';
@import '1-settings/s-globals';


/* ----- 2: ATOMS ------- */
@import '2-atoms/a-spacing';
@import '2-atoms/a-typography';


/* ----- 3: LAYOUT ------- */
@import '3-layout/l-header';
@import '3-layout/l-footer';
@import '3-layout/l-pagination';
@import '3-layout/l-comments';

/* ----- 4: COMPONENTS ------- */
@import '4-components/c-forms';
@import '4-components/c-button';
@import '4-components/c-card';
@import '4-components/c-title-button';
@import '4-components/c-section-youtube';
@import '4-components/c-card-special';
@import '4-components/c-banner';
@import '4-components/c-posts-featured-list';
@import '4-components/c-posts-list';
@import '4-components/c-share';
@import '4-components/c-opinion-list';
@import '4-components/c-newsletter';
@import '4-components/c-tables';

/* ----- 5: PAGES ------- */
@import '5-pages/p-single';
@import '5-pages/p-search';
@import '5-pages/p-author';
@import '5-pages/p-archive';
@import '5-pages/p-404';
@import '5-pages/p-home';

body:not(.home){
    padding-top: 85px;
}

