.social-menu {
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-right: 30px;

    @media (max-width: 767px){
        margin-right: 0;
    }

    .social-icon {
        padding: 5px;
        margin: 3px;
        
        a {
            svg {
                path {
                    color: var(--c-primary);
                    fill: currentColor;
                }
            }
        }
    }
}