.list-terms {
    display: flex;
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;

    li,
    span {
		background-color: var(--background-color);
        border-radius: 4px;
		color: var(--color);
        cursor: pointer;
        display: inline-block;
        flex-shrink: 0;
        font-family: $f_tag;
        font-size: 13px;
        font-weight: 800;
        margin-bottom: 5px;
        margin-right: 5px;
        padding: 3px 6px 2px 6px;
        text-transform: uppercase;

        &::after {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }
    }
}
