.base-menu-component {
	ul {
		display: flex;
		list-style: none;

		li {
			font-size: size(16);
			min-width: fit-content;

			&:not(:last-child) {
				margin-right: 16px;

				@media (min-width: $tablet-width) {
					margin-right: 32px;
				}
			}

			.sub-menu.active {
				display: block;
				position: absolute;
				padding-top: 10px;
				padding-bottom: 10px;
				padding-left: 10px;
				border-left: 1px solid white;

				@include tablet {
					position: relative;
				}
			}

			ul.sub-menu {
				display: none;

				@media (max-width: 1024px) {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 10px;
					border-left: 1px solid white;
					margin-bottom: 0;

					li {
						font-size: size(20);
						line-height: 2;
					}
				}
			}

			a {
				transition: color 0.2s ease;
				text-decoration: none;
				color: var(--Primary-dark, var(--DARK, #111));
				font-family: "Manrope";
				font-size: 16px;
				font-style: normal;
				font-weight: 800;
				line-height: 150%; /* 24px */
				letter-spacing: -0.48px;
				text-transform: capitalize;

				&:hover {
					color: var(--c-primary);
					text-decoration: none;
				}
			}

			i {
				font-size: 15px;
				margin-left: 10px;
			}
		}
	}
}
