.navigation.pagination {
	margin-bottom: 0;

	.nav-links {
		display: flex;
		justify-content: center;
		gap: 4px;

		.page-numbers {
			padding: 4px;
		}

		span,
		a {
			border-radius: 8px;
			border: 2px solid transparent;
			box-shadow: none;
			height: 32px;
			min-width: 32px;
			transition: all 0.2s;
			text-decoration: none;

			color: var(--PRIMARY-PURE, #848484);
			text-align: center;
			font-feature-settings: "clig" off, "liga" off;
			font-family: 'Manrope', sans-serif;
			font-size: 14px;
			font-style: normal;
			font-weight: 400;
			line-height: 24px;

			// &.current,
			// &:hover,
			// &:active,
			// &:focus {
			// 	color: #333;
			// 	font-weight: 700;
			// 	border-color: var(--c-primary);
			// 	text-decoration: none;
			// }

			&:visited {
				color: #848484;
				border-color: #595d62;
			}

			&.prev,
			&.next {
				place-items: center;
				display: grid;
				border: 1px solid #595d62;

				svg {
					height: 20px;
					width: 20px;
					transform: scale(0.75);

					path {
						color: #595d62;
						fill: currentColor;
						margin-top: 2px;
					}
				}

				&:visited {
					color: #848484;
					border-color: #595d62;
				}
			}

			&.prev {
				svg {
					path {
						transform: rotate(90deg);
						transform-origin: center;
					}
				}
			}

			&.next {
				svg {
					path {
						transform: rotate(-90deg);
						transform-origin: center;
					}
				}
			}
		}

		span.current {
			color: #333;
			font-weight: 700;
			border-radius: var(--Interactive-border-radius---radius-i-sm, 8px);
			background: var(--OURO, #fbf36e);
			border-color: var(--OURO, #fbf36e);
		}
	}
}
