.social-menu {
	grid-column: 1;
	align-items: center;
	display: flex;
	margin-left: 0;
	margin-right: 30px;

	@media (max-width: $tablet-width) {
		margin-right: 0;
	}

	.social-icon {
		padding: 5px;
		margin: 3px;

		a {
			color: inherit;
			svg {
				width: 24px;
				path,
				circle {
					fill: currentColor;
				}
			}
		}
	}
}
