.social-menu {
	display: none;
	grid-area: 1 / 1;
	align-items: center;
	margin-left: 0;

	@media (max-width: $tablet-width) {
		margin-right: 0;
	}

	@media (min-width: $tablet-width) {
		display: flex;
	}

	.social-icon {
		padding: 5px;
		margin: 3px;

		a {
			color: inherit;
			svg {
				width: 24px;
				path,
				circle {
					fill: currentColor;
				}
			}
		}
	}
}
