.social-menu {
	display: none;
	grid-area: 1 / 1;
	align-items: center;
	margin-left: 8%;
	gap: 10px;

	@media (max-width: $tablet-width) {
		margin-right: 0;
	}

	@media (min-width: $tablet-width) {
		display: flex;
	}

	> div {
		display: flex;
		align-items: center;
	}

	p {
		display: none;
		color: var(--White, #fff);
		text-align: center;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 150%; /* 21px */
		letter-spacing: -0.42px;
	}

	.social-icon {
		padding: 5px;
		margin: 3px;

		&.icon-facebook {
			a {
				background-image: url($p_theme_assets + "/images/social-networks/facebook-black.svg");
				width: 20px;
				display: block;
				height: 20px;
				background-position: -2px -2px;

				svg {
					display: none;
				}
			}
		}

		&.icon-instagram,
		&.icon-x {
			svg {
				padding: 2px;
			}
		}

		a {
			color: inherit;
			display: grid;
			align-content: center;

			svg {
				width: 24px;
				height: auto;

				path,
				circle {
					fill: currentColor;
				}
			}
		}
	}
}
