@import "./../1-settings/s-variables";
@import "./../2-atoms/a-mixins"; 

.page--share {
    position: fixed;
    top: 50vh;
    left: 15px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;

    @include mobile {
        top: auto;
        bottom: 0;
        transform: none;
        flex-direction: row;
        width: 100vw;
        left: 0;

        a {
            flex: 1;    
        }
    }

        a {
        display: block;
        width: 42px;
        height: 42px;
        font-size: 20px;
        line-height: 0;
        margin-bottom: 0;
        color: white;
        padding: 12px;
        transition: all .6s;

        &:hover{ color: white; filter: brightness(1.1) }
    }

        .facebook {
            background-color: #316ac2;
        }
    
        .twitter {
            background-color: #25a5ee;
        }
    
        .whatsapp {
            background-color: #5fcd0f;
        }
    
        .messenger {
            background-color: #0584ff;
        }
    
        .linkedin {
            background-color: #0879b4;
        }
    
        .mail {
            background-color: #f36f1a;
        }
    
        .telegram {
            background-color: #5682a3;
        }
    
                .post-content--subshare {
                    display: flex;
                    gap: 16px;
                    width: fit-content;
        
                    span {
                        display: none;
                    }
        
                    i {
                        display: flex;
                        width: 24px;
                        height: 24px;
                        background-size: contain;
                        background-repeat: no-repeat;
        
                        &.fa-facebook-f {
                            background-image: url(variables.$p_theme_assets + '/images/social-networks/facebook-black.svg');
                        }
        
                        &.fa-twitter {
                            background-image: url(variables.$p_theme_assets + '/images/social-networks/x.svg');
                        }
        
                        &.fa-whatsapp {
                            background-image: url(variables.$p_theme_assets + '/images/social-networks/whatsapp-black.svg');
                        }
                    }
        }
}