@import './../2-atoms/a-mixins';

.estimatives-area {
    background-color: var(--c-secondary-05);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    
    @include desktop {
        margin-bottom: 0;
    }

    .heading {
        h3 {
            font-size: size(24);
            color: var(--c-secondary);
            margin-top: 0;
            border-bottom: 1px solid var(--c-secondary);
            font-weight: normal;
        }
    }

    .main-data {
        margin-bottom: 20px;
        margin-top: 40px;

        @include mobile {
            margin-bottom: 0;
        }

        h4 {
            font-size: size(16);
            font-weight: normal;
            margin-bottom: 0;
        }

        .number {
            display: flex;
            align-items: center;

            @include mobile {
                flex-direction: column;
                align-items: initial;
            }

            @media (min-width: 600px) and (max-width: 1024px){
                display: block;
            }

            span {
                &#trees-estimative {
                    font-size: size(40);
                    color: var(--c-darkness-05);
                    margin-right: 0;
                    height: auto;

                    @media (min-width: 399px)  {
                        font-size: size(50);
                    }

                    @media (min-width: 599px)  {
                        font-size: size(40);
                    }

                    @media (min-width: 699px)  {
                        font-size: size(50);
                        margin-right: 20px;
                    }

                    @media (min-width: 1400px){
                        font-size: size(70);
                    }

                }

                &:last-child {
                    font-size: size(14);
                    width: 88px;

                    @include tablet {
                        display: block;
                        width: auto;
                    }
                }
            }

        }
    }

    .base-data {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 20px;
        margin-bottom: 55px;

        @include mobile {
            grid-template-columns: auto;
            margin-bottom: 20px;
        }

        h4 {
            font-weight: normal;
            margin-bottom: 10px;

            @include mobile {
                font-size: 1rem;
            }
        }

        .data {
            .area {
                span {
                    &:first-child {
                        font-size: size(32);
                    }

                    &:last-child {
                        font-size: size(14);
                    }
                }
            }
        }
    }

    .final-info {
        font-size: size(12);
    }
}