html {
    font-size: var(--s-html);
}

body {
    font-family: $f_body
}

h1 {
    font-family: $f_title;
    font-size: 2.5rem;

    @include mobile {
        font-size: 1.5rem;
    }
}

h2 {
    font-family: $f_title;
    font-size: 2rem;

    @include mobile {
        font-size: 1.5rem;
    }
}

h3 {
    font-family: $f_title;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: 400;
}

h4 {
    font-family: $f_title;
    /*font-size: 1rem;*/
    font-size: var(--s-h4);

    @include mobile {
        font-size: 0.85rem;
    }
}

h5 {
    font-family: $f_title;
    font-size: var(--s-h5);
    line-height: calc(var(--s-h5) * 1.2);
}

h6 {
    font-family: $f_title;
    font-size: var(--s-h6);
    font-weight: 400;

    @include mobile {
        font-size: 16px;
    }
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: var(--c-gray--darker);

    &:not(.has-text-color) {
        color: var(--c-gray--darker);
    }
}
