@font-face {
    font-family: 'MidiaNinja';
    src: url("#{$p_theme_assets}/fonts/TipoNinja-Regular.otf") format('otf');
    src: url("#{$p_theme_assets}/fonts/TipoNinja-Regular.otf") format('opentype');
}

html {
    font-size: var(--s-html);
}

body {
    font-family: $f_body
}

h1 {
    font-family: $f_title;
    font-size: var(--wp--preset--font-size--really-large);
    font-weight: 800;
    letter-spacing: -1.92px;
}

h2 {
    font-family: $f_title;
    font-size: var(--wp--preset--font-size--large);
    font-weight: 800;
    letter-spacing: -1.44px;
}

h3 {
    font-family: $f_title;
    font-size: var(--wp--preset--font-size--medium);
    font-weight: 800;
    letter-spacing: -0.64px;
}

h4 {
    font-family: $f_title;
    font-size: var(--wp--preset--font-size--intermediate-standard);
    font-weight: 800;
    letter-spacing: -0.48px;
}

h5 {
    font-family: $f_title;
    font-size: var(--s-h5);
    line-height: calc(var(--s-h5) * 1.2);
}

h6 {
    font-family: $f_title;
    font-size: var(--s-h6);
    font-weight: 400;

    @include mobile {
        font-size: 16px;
    }
}

p {
    font-size: 16px;
    line-height: 1.4;
    color: var(--c-gray--darker);

    &:not(.has-text-color) {
        color: var(--c-gray--darker);
    }
}
