@import '../2-atoms/a-mixins';

html {
    scroll-behavior: smooth;

    body {
        margin-top: 100px;
        overflow-x:  hidden;

        @include mobile {
            margin-top: 0;
        }

        .logged-in & {
            top: 110px;

            &.scrolled {
                top: 32px;
            }
        }
    }
}