@import "../2-atoms/a-mixins";

html {
	scroll-behavior: smooth;

	body {
		overflow-x: hidden;
		width: 100vw;

		@include mobile {
			margin-top: 0;
		}

		.logged-in & {
			top: 110px;

			&.scrolled {
				top: 32px;
			}
		}

		#app {
			margin-top: 141px;
			padding-top: 32px;
		}
	}
}
