name: Build release zip

on:
  push:
    branches:
      - main
jobs:
  build:
    name: Build release zip
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Build theme # Remove or modify this step as needed
      working-directory: dev-scripts
      run: |
        /bin/bash ./producao.sh
    - name: Run composer # Remove or modify this step as needed
      working-directory: dev-scripts
      run: |
        /bin/bash ./composer-install.sh
    - name: Unzip the archive (prevents double zip problem)
      working-directory: zips
      id: unzip
      run: unzip *.zip -d ${{ github.event.repository.name }}
      shell: bash
    - name: Upload the archive as an artifact
      id: upload-plugin-artifact
      uses: actions/upload-artifact@v4
      with:
        name: ${{ github.event.repository.name }}${{ matrix.version }}
        path: zips/${{ github.event.repository.name }}
